Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

feature: 軽微なバグ修正_未定義変数の定義
  api/app/UseCases/Main/Circle/Params/SearchTagCircleListParam.php
  main/src/lang/ja.ts
Labels: main, api

feature: 軽微な追加修正_サークル一覧で全てのタグが出るように修正
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
Labels: main

feature 不要関数の削除
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
Labels: main

feature 不要資源の削除
  main/src/hooks/usePagePosition.ts
Labels: main

feature NextJSのエラー修正
  admin/src/components/layouts/BaseSidebar.tsx
Labels: admin

feature adminパッケージのマイナーバージョンアップ
  admin/package-lock.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  admin/src/components/molecules/list_items/AdminUserListItem.tsx
  admin/src/components/molecules/list_items/AdvertiseListItem.tsx
  admin/src/components/molecules/list_items/AnnouncementListItem.tsx
  admin/src/components/molecules/list_items/CircleListItem.tsx
  admin/src/components/molecules/list_items/CircleNewJoyListItem.tsx
  admin/src/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
Labels: admin

Fix code style issues with Prettier
  main/src/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Index/Parts/CircleLengthView.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/lib/infra/api/linkConst.ts
  main/src/lib/types/model/PagePosition.ts
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main

fix
  .github/workflows/api.yml
Labels: none

🐛: ログの確認
  .github/workflows/api.yml
Labels: none

🔧: actions check out version up
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix フロントのビルドエラーの抑制
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
Labels: main

feature 不要資源の削除：Pusherの削除
  api/app/Enum/BroadCastProperty/BroadCastProperty.php
  api/app/Enum/Property/PagePositionHistoryProperty.php
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
  api/app/Models/Identifier.php
  api/app/Models/PagePositionHistory.php
  api/composer.json
  api/composer.lock
  api/routes/api.php
  api/routes/channels.php
Labels: api, api-model, api-composer-json

fix メイン画面のエラー削除
  main/src/components/organisms/List/BaseCircleList.tsx
Labels: main

feature 不要資源の削除：Pusherの削除
  main/package-lock.json
  main/package.json
  main/src/plugins/Pusher.ts
Labels: main, main-package-json

feature Nodejsのパッケージマイナーバージョンアップ
  main/package-lock.json
  main/package.json
  main/src/components/layouts/BaseHead.tsx
Labels: main, main-package-json

fix 新歓機能のバグ修正
  admin/src/lib/infra/api/cirecle_new_joy.ts
  admin/src/lib/types/model/CircleNewJoy.ts
  admin/src/pages/circle/[id]/newjoy/index.tsx
Labels: admin

feature 管理画面からデモ機能の削除
  admin/__tests__/lib/enum/api/DemoCircleNewjoyType.spec.ts
  admin/src/components/layouts/BaseSidebar.tsx
  admin/src/components/molecules/list_items/CircleNewJoyListItem.tsx
  admin/src/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/src/components/organisms/form/Circle/EditCircleForm.tsx
  admin/src/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/src/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/src/lib/enum/api/DemoCircleNewjoyType.ts
  admin/src/lib/infra/api/demo_cirecle_new_joy.ts
  admin/src/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/src/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/src/lib/types/model/DemoCircleNewJoy.ts
  admin/src/pages/circle/[id]/edit.tsx
  admin/src/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/src/pages/demo/newjoy/create.tsx
  admin/src/pages/demo/newjoy/index.tsx
Labels: admin

fix 新歓画面の表示バグ修正
  admin/src/components/molecules/list_items/CircleNewJoyListItem.tsx
Labels: admin

test APIの自動デプロイの復活：SSH接続の改良
  .github/workflows/api.yml
Labels: none

test APIの自動デプロイの復活：SSH接続の改良
  .github/workflows/api.yml
Labels: none

test APIの自動デプロイの復活：SSH接続の改良
  .github/workflows/api.yml
Labels: none

test APIの自動デプロイの復活：SSH接続の改良
  .github/workflows/api.yml
Labels: none

Fix code style issues with Prettier
  admin/src/components/organisms/form/Circle/EditCircleForm.tsx
  admin/src/pages/circle/[id]/newjoy/index.tsx
Labels: admin

Fix code style issues with Prettier
  main/src/components/organisms/Statistics/StatisticsButtonState.tsx
  main/src/lib/enum/api/AdvertiseType.ts
  main/src/lib/enum/api/AnnouncementType.ts
  main/src/lib/enum/api/CategorySlugProperty.ts
  main/src/lib/enum/api/CircleTagModel.ts
  main/src/lib/enum/api/CircleType.ts
  main/src/lib/enum/api/DateOfActivity.ts
  main/src/lib/enum/api/Importance.ts
  main/src/lib/enum/api/PlaceOfActivity.ts
  main/src/lib/enum/api/Role.ts
  main/src/lib/enum/api/TagSlugProperty.ts
  main/src/lib/enum/api/Week.ts
  main/src/lib/enum/app/GachaMovieId.ts
Labels: main

fix 不要なカラムの非表示
  admin/src/components/organisms/form/Announcement/CreateAnnouncementForm.tsx
  admin/src/components/organisms/form/Announcement/EditAnnouncementForm.tsx
  admin/src/pages/announcement/create.tsx
Labels: admin

fix 活動場所が誤っているため修正
  admin/src/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
Labels: admin

Fix code style issues with Prettier
  admin/src/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
Labels: admin

Fix code style issues with Prettier
  admin/src/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
Labels: admin

fix 不要な変数の削除
  main/src/pages/circle/[slug]/index.tsx
Labels: main

fix 自動デプロイの削除
  .github/workflows/api.yml
Labels: none

fix 管理者画面の削除
  admin/src/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
Labels: admin

Fix code style issues with Prettier
  admin/src/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
Labels: admin

feature サイト閉塞やWordPressのサイトがダウンしている場合に、空配列を返却する対応
  api/app/UseCases/Main/WordPress/FetchWordPressPostsUsecase.php
Labels: api

Remove Discord guide and related references from the sitemap and UI components
  api/app/UseCases/Main/Sitemap/SitemapUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/SitemapControllerTest.php
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsSp.tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main, api

fix トップボタンのレイアウト修正
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
Labels: main

feature サークル管理画面にメンテナンス画面の追加
  circle/next-env.d.ts
  circle/next.config.js
  circle/src/pages/_app.tsx
  circle/src/pages/maintenance.tsx
  circle/tsconfig.json
Labels: circle
