Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

いけるはず
  main/pages/_document.tsx
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

いけるはず
  main/pages/_document.tsx
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

rel
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

rel
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
Labels: main

update
  main/components/layouts/BaseFooter.tsx
  main/components/layouts/BaseSpMenu.tsx
  main/pages/guide/qanda.tsx
Labels: main

update
  main/components/layouts/BaseFooter.tsx
  main/components/layouts/BaseSpMenu.tsx
  main/pages/guide/qanda.tsx
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
Labels: main

fix
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/components/layouts/BaseSpMenu.tsx
Labels: main

fix
  main/components/layouts/BaseSpMenu.tsx
Labels: main

fix
  main/pages/gacha/index.tsx
Labels: main

fix
  main/pages/gacha/index.tsx
Labels: main

fix
  main/pages/gacha/draw/5.tsx
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/draw/5.tsx
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix gacah
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/pages/gacha/result/[gachaHash].tsx
Labels: main, api

fix gacah
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/pages/gacha/result/[gachaHash].tsx
Labels: main, api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

Fix code style issues with Prettier
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/5.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/5.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/index.tsx
Labels: main

fix
  main/pages/index.tsx
Labels: main

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
