Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

Apply fixes from StyleCI
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
Labels: api

fix update circle
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleUsecaseDto.php
  api/app/Usecases/Admin/Circle/Param/UpdateCircleUsecaseParam.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
Labels: api

fix update circle
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleUsecaseDto.php
  api/app/Usecases/Admin/Circle/Param/UpdateCircleUsecaseParam.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
Labels: api

fix
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

fix
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

fix
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

fix
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

update
  api/.idea/api.iml
  api/.idea/php.xml
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/composer.lock
Labels: api, api-composer-json

update
  api/.idea/api.iml
  api/.idea/php.xml
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/composer.lock
Labels: api, api-composer-json

fix speed
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main

fix speed
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main

feature fontawesomeの改善
  main/src/pages/_app.tsx
Labels: main

feature fontawesomeの改善
  main/src/pages/_app.tsx
Labels: main

feature イベント発生条件の修正
  api/_ide_helper_models.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

feature イベント発生条件の修正
  api/_ide_helper_models.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

feature pusherを適切にunbindするように変更
  main/src/hooks/usePagePosition.ts
  main/src/plugins/Pusher.ts
Labels: main

feature pusherを適切にunbindするように変更
  main/src/hooks/usePagePosition.ts
  main/src/plugins/Pusher.ts
Labels: main

fix key
  main/src/components/organisms/List/CarouselCircleList.tsx
Labels: main

fix key
  main/src/components/organisms/List/CarouselCircleList.tsx
Labels: main

feature ただしく初期化するようにした
  main/src/hooks/usePagePosition.ts
Labels: main

feature ただしく初期化するようにした
  main/src/hooks/usePagePosition.ts
Labels: main

update
  main/src/components/pages/Circle/Show/Parts/WpPostBlock.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/pages/_document.tsx
Labels: main

update
  main/src/components/pages/Circle/Show/Parts/WpPostBlock.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/pages/_document.tsx
Labels: main

feature /circle/slugにid付与
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/pages/circle/[slug]/index.tsx
Labels: main

feature /circle/slugにid付与
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/pages/circle/[slug]/index.tsx
Labels: main

feature 活動写真にidを追加
  main/src/components/pages/Circle/Show/Parts/TopImage.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
Labels: main

feature 活動写真にidを追加
  main/src/components/pages/Circle/Show/Parts/TopImage.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
Labels: main

feature idの付与
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/Parts/ShareSns.tsx
  main/src/hooks/usePagePosition.ts
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/newjoy.tsx
Labels: main
