Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

feature package の追加
  circle/next.config.js
  circle/package-lock.json
  circle/package.json
  circle/stylelint.config.js
Labels: circle, circle-package-json

feature package の追加
  circle/next.config.js
  circle/package-lock.json
  circle/package.json
  circle/stylelint.config.js
Labels: circle, circle-package-json

Fix code style issues with Prettier
  circle/package.json
  circle/src/components/organisms/Form/Circle/EditCircleForm.tsx
  circle/src/components/organisms/Form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  circle/src/components/organisms/Form/CircleNewJoy/EditCircleNewJoyForm.tsx
  circle/src/components/organisms/Form/CircleUser/ExistCircleUserInviteForm.tsx
  circle/src/pages/auth/email/verify/[id].tsx
  circle/src/pages/circle/[circleId]/edit.tsx
  circle/src/pages/circle/[circleId]/index.tsx
  circle/src/pages/circle/[circleId]/newjoy/[circleNewJoyId]/edit.tsx
  circle/src/pages/circle/[circleId]/newjoy/create.tsx
  circle/src/pages/circle/[circleId]/newjoy/index.tsx
  circle/src/pages/circle/[circleId]/tag/index.tsx
  circle/src/pages/circle/[circleId]/user/[userId]/edit.tsx
  circle/src/pages/circle/[circleId]/user/create.tsx
  circle/src/pages/circle/[circleId]/user/import.tsx
  circle/src/pages/circle/[circleId]/user/index.tsx
Labels: circle, circle-package-json

Fix code style issues with Prettier
  circle/package.json
  circle/src/components/organisms/Form/Circle/EditCircleForm.tsx
  circle/src/components/organisms/Form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  circle/src/components/organisms/Form/CircleNewJoy/EditCircleNewJoyForm.tsx
  circle/src/components/organisms/Form/CircleUser/ExistCircleUserInviteForm.tsx
  circle/src/pages/auth/email/verify/[id].tsx
  circle/src/pages/circle/[circleId]/edit.tsx
  circle/src/pages/circle/[circleId]/index.tsx
  circle/src/pages/circle/[circleId]/newjoy/[circleNewJoyId]/edit.tsx
  circle/src/pages/circle/[circleId]/newjoy/create.tsx
  circle/src/pages/circle/[circleId]/newjoy/index.tsx
  circle/src/pages/circle/[circleId]/tag/index.tsx
  circle/src/pages/circle/[circleId]/user/[userId]/edit.tsx
  circle/src/pages/circle/[circleId]/user/create.tsx
  circle/src/pages/circle/[circleId]/user/import.tsx
  circle/src/pages/circle/[circleId]/user/index.tsx
Labels: circle, circle-package-json

update packate
  admin/package-lock.json
  admin/package.json
  admin/stylelint.config.js
  main/package-lock.json
  main/package.json
Labels: admin, admin-package-json, main, main-package-json

update packate
  admin/package-lock.json
  admin/package.json
  admin/stylelint.config.js
  main/package-lock.json
  main/package.json
Labels: admin, admin-package-json, main, main-package-json

Fix code style issues with Prettier
  admin/package.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  admin/package.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  circle/package.json
  circle/src/components/organisms/Form/Circle/EditCircleForm.tsx
  circle/src/components/organisms/Form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  circle/src/components/organisms/Form/CircleNewJoy/EditCircleNewJoyForm.tsx
  circle/src/components/organisms/Form/CircleUser/ExistCircleUserInviteForm.tsx
  circle/src/pages/auth/email/verify/[id].tsx
  circle/src/pages/circle/[circleId]/edit.tsx
  circle/src/pages/circle/[circleId]/index.tsx
  circle/src/pages/circle/[circleId]/newjoy/[circleNewJoyId]/edit.tsx
  circle/src/pages/circle/[circleId]/newjoy/create.tsx
  circle/src/pages/circle/[circleId]/newjoy/index.tsx
  circle/src/pages/circle/[circleId]/tag/index.tsx
  circle/src/pages/circle/[circleId]/user/[userId]/edit.tsx
  circle/src/pages/circle/[circleId]/user/create.tsx
  circle/src/pages/circle/[circleId]/user/import.tsx
  circle/src/pages/circle/[circleId]/user/index.tsx
Labels: circle, circle-package-json

Fix code style issues with Prettier
  circle/package.json
  circle/src/components/organisms/Form/Circle/EditCircleForm.tsx
  circle/src/components/organisms/Form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  circle/src/components/organisms/Form/CircleNewJoy/EditCircleNewJoyForm.tsx
  circle/src/components/organisms/Form/CircleUser/ExistCircleUserInviteForm.tsx
  circle/src/pages/auth/email/verify/[id].tsx
  circle/src/pages/circle/[circleId]/edit.tsx
  circle/src/pages/circle/[circleId]/index.tsx
  circle/src/pages/circle/[circleId]/newjoy/[circleNewJoyId]/edit.tsx
  circle/src/pages/circle/[circleId]/newjoy/create.tsx
  circle/src/pages/circle/[circleId]/newjoy/index.tsx
  circle/src/pages/circle/[circleId]/tag/index.tsx
  circle/src/pages/circle/[circleId]/user/[userId]/edit.tsx
  circle/src/pages/circle/[circleId]/user/create.tsx
  circle/src/pages/circle/[circleId]/user/import.tsx
  circle/src/pages/circle/[circleId]/user/index.tsx
Labels: circle, circle-package-json

feature react-obfuscateの追加
  main/package-lock.json
  main/package.json
  main/src/components/pages/Circle/Show/Parts/InformationField.tsx
Labels: main, main-package-json

feature react-obfuscateの追加
  main/package-lock.json
  main/package.json
  main/src/components/pages/Circle/Show/Parts/InformationField.tsx
Labels: main, main-package-json

Fix code style issues with Prettier
  main/src/components/pages/Circle/Show/Parts/InformationField.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Circle/Show/Parts/InformationField.tsx
Labels: main

feature src配下にstylesを移動
  admin/components/atoms/form/SimplePasswordTextField.tsx
  admin/components/atoms/loading/SubmitLoading.tsx
  admin/components/layouts/BaseHeader.tsx
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/components/pages/circle/Index.tsx
  admin/pages/_app.tsx
  admin/pages/circle/[id]/edit.tsx
  admin/src/styles/colors.js
  admin/src/styles/index.css
Labels: admin

feature src配下にstylesを移動
  admin/components/atoms/form/SimplePasswordTextField.tsx
  admin/components/atoms/loading/SubmitLoading.tsx
  admin/components/layouts/BaseHeader.tsx
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/components/pages/circle/Index.tsx
  admin/pages/_app.tsx
  admin/pages/circle/[id]/edit.tsx
  admin/src/styles/colors.js
  admin/src/styles/index.css
Labels: admin

features pluginをsrc配下に移動
  admin/components/atoms/form/BaseDate.tsx
  admin/components/atoms/form/BaseDatetime.tsx
  admin/components/molecules/list_items/CircleNewJoyListItem.tsx
  admin/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/hooks/useInput.ts
  admin/src/plugins/Dayjs.ts
  admin/src/plugins/ReactDatepicker.ts
Labels: admin

features pluginをsrc配下に移動
  admin/components/atoms/form/BaseDate.tsx
  admin/components/atoms/form/BaseDatetime.tsx
  admin/components/molecules/list_items/CircleNewJoyListItem.tsx
  admin/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/hooks/useInput.ts
  admin/src/plugins/Dayjs.ts
  admin/src/plugins/ReactDatepicker.ts
Labels: admin

feature 移動
  admin/__tests__/lib/enum/api/AdvertiseType.spec.ts
  admin/__tests__/lib/enum/api/AnnouncementType.spec.ts
  admin/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  admin/__tests__/lib/enum/api/CircleTagModel.spec.ts
  admin/__tests__/lib/enum/api/CircleType.spec.ts
  admin/__tests__/lib/enum/api/DateOfActivity.spec.ts
  admin/__tests__/lib/enum/api/DemoCircleNewjoyType.spec.ts
  admin/__tests__/lib/enum/api/Importance.spec.ts
  admin/__tests__/lib/enum/api/PlaceOfActivity.spec.ts
  admin/__tests__/lib/enum/api/Role.spec.ts
  admin/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  admin/__tests__/lib/enum/api/Week.spec.ts
  admin/hooks/useInput.ts
  admin/infra/api/admin_user.ts
  admin/infra/api/advertise.ts
  admin/infra/api/auth.ts
Labels: admin

feature 移動
  admin/__tests__/lib/enum/api/AdvertiseType.spec.ts
  admin/__tests__/lib/enum/api/AnnouncementType.spec.ts
  admin/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  admin/__tests__/lib/enum/api/CircleTagModel.spec.ts
  admin/__tests__/lib/enum/api/CircleType.spec.ts
  admin/__tests__/lib/enum/api/DateOfActivity.spec.ts
  admin/__tests__/lib/enum/api/DemoCircleNewjoyType.spec.ts
  admin/__tests__/lib/enum/api/Importance.spec.ts
  admin/__tests__/lib/enum/api/PlaceOfActivity.spec.ts
  admin/__tests__/lib/enum/api/Role.spec.ts
  admin/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  admin/__tests__/lib/enum/api/Week.spec.ts
  admin/hooks/useInput.ts
  admin/infra/api/admin_user.ts
  admin/infra/api/advertise.ts
  admin/infra/api/auth.ts
Labels: admin

features pagesの移動
  admin/src/pages/_app.tsx
  admin/src/pages/_document.tsx
  admin/src/pages/advertise/[advertiseId]/edit.tsx
  admin/src/pages/advertise/create.tsx
  admin/src/pages/advertise/index.tsx
  admin/src/pages/announcement/[announcementId]/edit.tsx
  admin/src/pages/announcement/create.tsx
  admin/src/pages/announcement/index.tsx
  admin/src/pages/auth/email/verify/[id].tsx
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/confirm.tsx
  admin/src/pages/auth/password/reset.tsx
  admin/src/pages/circle/[id]/edit.tsx
  admin/src/pages/circle/[id]/newjoy/[circleNewJoyId]/edit.tsx
  admin/src/pages/circle/[id]/newjoy/create.tsx
  admin/src/pages/circle/[id]/newjoy/index.tsx
  admin/src/pages/circle/[id]/tag/index.tsx
  admin/src/pages/circle/[id]/user/[userId]/edit.tsx
  admin/src/pages/circle/[id]/user/create.tsx
  admin/src/pages/circle/[id]/user/index.tsx
  admin/src/pages/circle/create.tsx
  admin/src/pages/circle/index.tsx
  admin/src/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/src/pages/demo/newjoy/create.tsx
  admin/src/pages/demo/newjoy/index.tsx
  admin/src/pages/index.tsx
  admin/src/pages/logout.tsx
  admin/src/pages/user/admin/[userId]/delete.tsx
  admin/src/pages/user/admin/[userId]/edit.tsx
  admin/src/pages/user/admin/create.tsx
  admin/src/pages/user/admin/index.tsx
  admin/src/pages/user/circle/[userId]/index.tsx
  admin/src/pages/user/circle/[userId]/relation.tsx
  admin/src/pages/user/circle/index.tsx
Labels: admin

features pagesの移動
  admin/src/pages/_app.tsx
  admin/src/pages/_document.tsx
  admin/src/pages/advertise/[advertiseId]/edit.tsx
  admin/src/pages/advertise/create.tsx
  admin/src/pages/advertise/index.tsx
  admin/src/pages/announcement/[announcementId]/edit.tsx
  admin/src/pages/announcement/create.tsx
  admin/src/pages/announcement/index.tsx
  admin/src/pages/auth/email/verify/[id].tsx
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/confirm.tsx
  admin/src/pages/auth/password/reset.tsx
  admin/src/pages/circle/[id]/edit.tsx
  admin/src/pages/circle/[id]/newjoy/[circleNewJoyId]/edit.tsx
  admin/src/pages/circle/[id]/newjoy/create.tsx
  admin/src/pages/circle/[id]/newjoy/index.tsx
  admin/src/pages/circle/[id]/tag/index.tsx
  admin/src/pages/circle/[id]/user/[userId]/edit.tsx
  admin/src/pages/circle/[id]/user/create.tsx
  admin/src/pages/circle/[id]/user/index.tsx
  admin/src/pages/circle/create.tsx
  admin/src/pages/circle/index.tsx
  admin/src/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/src/pages/demo/newjoy/create.tsx
  admin/src/pages/demo/newjoy/index.tsx
  admin/src/pages/index.tsx
  admin/src/pages/logout.tsx
  admin/src/pages/user/admin/[userId]/delete.tsx
  admin/src/pages/user/admin/[userId]/edit.tsx
  admin/src/pages/user/admin/create.tsx
  admin/src/pages/user/admin/index.tsx
  admin/src/pages/user/circle/[userId]/index.tsx
  admin/src/pages/user/circle/[userId]/relation.tsx
  admin/src/pages/user/circle/index.tsx
Labels: admin

feature langの移動
  admin/components/molecules/list_items/AdminUserListItem.tsx
  admin/components/molecules/list_items/AdvertiseListItem.tsx
  admin/components/molecules/list_items/AnnouncementListItem.tsx
  admin/components/molecules/list_items/CircleListItem.tsx
  admin/components/molecules/list_items/CircleNewJoyListItem.tsx
  admin/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/components/organisms/form/Advertise/CreateAdvertiseForm.tsx
  admin/components/organisms/form/Advertise/EditAdvertiseForm.tsx
  admin/components/organisms/form/Announcement/CreateAnnouncementForm.tsx
  admin/components/organisms/form/Announcement/EditAnnouncementForm.tsx
  admin/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
  admin/components/organisms/form/Circle/Parts/CommonInfoEditCircleForm.tsx
  admin/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/components/organisms/form/CircleUser/CreateCircleUser.tsx
  admin/components/organisms/form/CircleUser/EditCircleUserForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/components/pages/circle/Index.tsx
  admin/src/lang/ja.ts
  admin/src/pages/circle/[id]/tag/index.tsx
  admin/src/pages/user/admin/[userId]/edit.tsx
  admin/src/pages/user/admin/create.tsx
Labels: admin

feature langの移動
  admin/components/molecules/list_items/AdminUserListItem.tsx
  admin/components/molecules/list_items/AdvertiseListItem.tsx
  admin/components/molecules/list_items/AnnouncementListItem.tsx
  admin/components/molecules/list_items/CircleListItem.tsx
  admin/components/molecules/list_items/CircleNewJoyListItem.tsx
  admin/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/components/organisms/form/Advertise/CreateAdvertiseForm.tsx
  admin/components/organisms/form/Advertise/EditAdvertiseForm.tsx
  admin/components/organisms/form/Announcement/CreateAnnouncementForm.tsx
  admin/components/organisms/form/Announcement/EditAnnouncementForm.tsx
  admin/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
  admin/components/organisms/form/Circle/Parts/CommonInfoEditCircleForm.tsx
  admin/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/components/organisms/form/CircleUser/CreateCircleUser.tsx
  admin/components/organisms/form/CircleUser/EditCircleUserForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/components/pages/circle/Index.tsx
  admin/src/lang/ja.ts
  admin/src/pages/circle/[id]/tag/index.tsx
  admin/src/pages/user/admin/[userId]/edit.tsx
  admin/src/pages/user/admin/create.tsx
Labels: admin

feature contextsの移動
  admin/components/layouts/BaseSidebar.tsx
  admin/src/contexts/AuthContext.ts
  admin/src/pages/_app.tsx
  admin/src/pages/auth/email/verify/[id].tsx
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/confirm.tsx
  admin/src/pages/auth/password/reset.tsx
  admin/src/pages/circle/[id]/edit.tsx
  admin/src/pages/index.tsx
  admin/src/pages/logout.tsx
  admin/src/pages/user/admin/[userId]/delete.tsx
  admin/src/pages/user/admin/[userId]/edit.tsx
  admin/src/pages/user/admin/create.tsx
  admin/src/pages/user/admin/index.tsx
Labels: admin

feature contextsの移動
  admin/components/layouts/BaseSidebar.tsx
  admin/src/contexts/AuthContext.ts
  admin/src/pages/_app.tsx
  admin/src/pages/auth/email/verify/[id].tsx
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/confirm.tsx
  admin/src/pages/auth/password/reset.tsx
  admin/src/pages/circle/[id]/edit.tsx
  admin/src/pages/index.tsx
  admin/src/pages/logout.tsx
  admin/src/pages/user/admin/[userId]/delete.tsx
  admin/src/pages/user/admin/[userId]/edit.tsx
  admin/src/pages/user/admin/create.tsx
  admin/src/pages/user/admin/index.tsx
Labels: admin

fix
  admin/tailwind.config.js
Labels: admin

fix
  admin/tailwind.config.js
Labels: admin

fix
  admin/src/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/src/components/pages/circle/Index.tsx
Labels: admin

fix
  admin/src/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/src/components/pages/circle/Index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/src/components/atoms/form/CircleActivityImageInput.tsx
  admin/src/components/organisms/form/Advertise/CreateAdvertiseForm.tsx
  admin/src/components/organisms/form/Advertise/EditAdvertiseForm.tsx
  admin/src/components/organisms/form/Announcement/CreateAnnouncementForm.tsx
  admin/src/components/organisms/form/Announcement/EditAnnouncementForm.tsx
  admin/src/components/organisms/form/Circle/EditCircleForm.tsx
  admin/src/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/src/components/organisms/form/CircleNewJoy/EditCircleNewJoyForm.tsx
  admin/src/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/src/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/src/components/pages/circle/Index.tsx
  admin/src/pages/advertise/[advertiseId]/edit.tsx
  admin/src/pages/advertise/create.tsx
  admin/src/pages/advertise/index.tsx
  admin/src/pages/announcement/[announcementId]/edit.tsx
  admin/src/pages/announcement/create.tsx
  admin/src/pages/announcement/index.tsx
  admin/src/pages/auth/email/verify/[id].tsx
  admin/src/pages/circle/[id]/edit.tsx
  admin/src/pages/circle/[id]/newjoy/[circleNewJoyId]/edit.tsx
  admin/src/pages/circle/[id]/newjoy/create.tsx
  admin/src/pages/circle/[id]/newjoy/index.tsx
  admin/src/pages/circle/[id]/tag/index.tsx
  admin/src/pages/circle/[id]/user/[userId]/edit.tsx
  admin/src/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/src/pages/demo/newjoy/index.tsx
  admin/src/pages/user/admin/index.tsx
  admin/src/pages/user/circle/[userId]/index.tsx
  admin/src/pages/user/circle/[userId]/relation.tsx
Labels: admin

Fix code style issues with Prettier
  admin/src/components/atoms/form/CircleActivityImageInput.tsx
  admin/src/components/organisms/form/Advertise/CreateAdvertiseForm.tsx
  admin/src/components/organisms/form/Advertise/EditAdvertiseForm.tsx
  admin/src/components/organisms/form/Announcement/CreateAnnouncementForm.tsx
  admin/src/components/organisms/form/Announcement/EditAnnouncementForm.tsx
  admin/src/components/organisms/form/Circle/EditCircleForm.tsx
  admin/src/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/src/components/organisms/form/CircleNewJoy/EditCircleNewJoyForm.tsx
  admin/src/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/src/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/src/components/pages/circle/Index.tsx
  admin/src/pages/advertise/[advertiseId]/edit.tsx
  admin/src/pages/advertise/create.tsx
  admin/src/pages/advertise/index.tsx
  admin/src/pages/announcement/[announcementId]/edit.tsx
  admin/src/pages/announcement/create.tsx
  admin/src/pages/announcement/index.tsx
  admin/src/pages/auth/email/verify/[id].tsx
  admin/src/pages/circle/[id]/edit.tsx
  admin/src/pages/circle/[id]/newjoy/[circleNewJoyId]/edit.tsx
  admin/src/pages/circle/[id]/newjoy/create.tsx
  admin/src/pages/circle/[id]/newjoy/index.tsx
  admin/src/pages/circle/[id]/tag/index.tsx
  admin/src/pages/circle/[id]/user/[userId]/edit.tsx
  admin/src/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/src/pages/demo/newjoy/index.tsx
  admin/src/pages/user/admin/index.tsx
  admin/src/pages/user/circle/[userId]/index.tsx
  admin/src/pages/user/circle/[userId]/relation.tsx
Labels: admin

feat transform-remove-consoleの追加
  admin/.node-version
  circle/.babelrc
  main/.babelrc
  main/package.json
Labels: admin, circle, main, main-package-json

feat transform-remove-consoleの追加
  admin/.node-version
  circle/.babelrc
  main/.babelrc
  main/package.json
Labels: admin, circle, main, main-package-json

fix
  admin/.babelrc
  circle/.babelrc
  main/.babelrc
Labels: admin, circle, main

fix
  admin/.babelrc
  circle/.babelrc
  main/.babelrc
Labels: admin, circle, main

fix
  main/package-lock.json
Labels: main, main-package-json

fix
  main/package-lock.json
Labels: main, main-package-json
