Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

Fix code style issues with Prettier
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

update
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

update
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix update
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

fix update
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

fix padding
  main/components/layouts/BaseFooter.tsx
Labels: main

fix padding
  main/components/layouts/BaseFooter.tsx
Labels: main

add menu
  main/components/layouts/BaseFooter.tsx
  main/components/layouts/BaseSpMenu.tsx
Labels: main

add menu
  main/components/layouts/BaseFooter.tsx
  main/components/layouts/BaseSpMenu.tsx
Labels: main

Fix code style issues with Prettier
  main/components/layouts/BaseSpMenu.tsx
Labels: main

Fix code style issues with Prettier
  main/components/layouts/BaseSpMenu.tsx
Labels: main

fix minor design change
  main/pages/gacha/history.tsx
Labels: main

fix minor design change
  main/pages/gacha/history.tsx
Labels: main

feature minor design change
  main/pages/gacha/history.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

feature minor design change
  main/pages/gacha/history.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/history.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/history.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

feture gacha movie
  main/lib/enum/app/GachaMovieId.ts
Labels: main

feture gacha movie
  main/lib/enum/app/GachaMovieId.ts
Labels: main

feature gacha movieのための変更
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/components/atoms/loading/SubmitLoading.tsx
  main/infra/api/gacha.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main, api

feature gacha movieのための変更
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/components/atoms/loading/SubmitLoading.tsx
  main/infra/api/gacha.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main, api

delete file
  main/components/atoms/loading/SubmitLoading.tsx
Labels: main

delete file
  main/components/atoms/loading/SubmitLoading.tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix type
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

fix type
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

fix
  main/lib/enum/app/GachaMovieId.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/lib/enum/app/GachaMovieId.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

fix
  main/pages/gacha/draw/10.tsx
Labels: main

fix
  main/pages/gacha/draw/10.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

Fix code style issues with Prettier
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
