Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

feature idの付与
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/Parts/ShareSns.tsx
  main/src/hooks/usePagePosition.ts
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/newjoy.tsx
Labels: main

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Models/PagePositionHistory.php
Labels: api, api-model

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Models/PagePositionHistory.php
Labels: api, api-model

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Models/PagePositionHistory.php
Labels: api, api-model

Fix code style issues with Prettier
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/Parts/ShareSns.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/_document.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/newjoy.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/Parts/ShareSns.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/_document.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/newjoy.tsx
Labels: main

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

fix error
  api/_ide_helper_models.php
  api/database/migrations/2021_08_12_130012_add_column_to_circles.php
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/demo/index.tsx
  main/src/pages/index.tsx
Labels: main, api, api-db

fix error
  api/_ide_helper_models.php
  api/database/migrations/2021_08_12_130012_add_column_to_circles.php
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/demo/index.tsx
  main/src/pages/index.tsx
Labels: main, api, api-db

fix
  main/src/components/pages/Main/MainTemplate.tsx
Labels: main

fix
  main/src/components/pages/Main/MainTemplate.tsx
Labels: main

Apply fixes from StyleCI
  api/_ide_helper_models.php
Labels: api

Apply fixes from StyleCI
  api/_ide_helper_models.php
Labels: api

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/demo/index.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/demo/index.tsx
Labels: main

fix pageName
  main/src/pages/demo/index.tsx
Labels: main

fix pageName
  main/src/pages/demo/index.tsx
Labels: main

fix rollback
  api/database/migrations/2021_08_12_130012_add_column_to_circles.php
Labels: api, api-db

fix rollback
  api/database/migrations/2021_08_12_130012_add_column_to_circles.php
Labels: api, api-db

update resources
  api/storage/memo/2021_08_appealing_point_is_null_circles.sql
  docs/MySql.mwb
  docs/MySql.png
Labels: api

update resources
  api/storage/memo/2021_08_appealing_point_is_null_circles.sql
  docs/MySql.mwb
  docs/MySql.png
Labels: api

docs update
  README.md
Labels: none

docs update
  README.md
Labels: none

feature next-seoの追加
  main/package-lock.json
  main/package.json
  main/src/components/layouts/BaseHead.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/Hooks/useCategory.ts
  main/src/components/pages/Circle/Search/Hooks/useTag.ts
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/index.tsx
  main/src/pages/circle/tag/[tag].tsx
  main/src/pages/demo/index.tsx
Labels: main, main-package-json

feature next-seoの追加
  main/package-lock.json
  main/package.json
  main/src/components/layouts/BaseHead.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/Hooks/useCategory.ts
  main/src/components/pages/Circle/Search/Hooks/useTag.ts
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/index.tsx
  main/src/pages/circle/tag/[tag].tsx
  main/src/pages/demo/index.tsx
Labels: main, main-package-json

Fix code style issues with Prettier
  main/src/components/layouts/BaseHead.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/Hooks/useCategory.ts
  main/src/components/pages/Circle/Search/Hooks/useTag.ts
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/index.tsx
  main/src/pages/circle/tag/[tag].tsx
  main/src/pages/demo/index.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/layouts/BaseHead.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/Hooks/useCategory.ts
  main/src/components/pages/Circle/Search/Hooks/useTag.ts
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/index.tsx
  main/src/pages/circle/tag/[tag].tsx
  main/src/pages/demo/index.tsx
Labels: main

fix
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
Labels: api

fix
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
Labels: api

fix
  main/src/pages/demo/index.tsx
Labels: main

fix
  main/src/pages/demo/index.tsx
Labels: main

feature update sitemap
  api/app/Usecases/Main/Sitemap/SitemapUsecase.php
Labels: api

feature update sitemap
  api/app/Usecases/Main/Sitemap/SitemapUsecase.php
Labels: api

style whitespace
  main/src/components/atoms/form/BaseLabel.tsx
Labels: main

style whitespace
  main/src/components/atoms/form/BaseLabel.tsx
Labels: main

feature aria-searchの追加
  main/src/components/atoms/form/SearchTextField.tsx
  main/src/components/layouts/BaseHeader.tsx
  main/src/components/layouts/BaseSpMenu.tsx
  main/src/components/pages/Circle/Index/Parts/SearchCircle.tsx
Labels: main

feature aria-searchの追加
  main/src/components/atoms/form/SearchTextField.tsx
  main/src/components/layouts/BaseHeader.tsx
  main/src/components/layouts/BaseSpMenu.tsx
  main/src/components/pages/Circle/Index/Parts/SearchCircle.tsx
Labels: main

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
