Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

fix
  admin/lib/utils/Gtag.ts
  admin/pages/_app.tsx
  admin/pages/_document.tsx
  circle/lib/utils/Gtag.ts
  circle/pages/_document.tsx
Labels: admin, circle

fix
  admin/lib/utils/Gtag.ts
  admin/pages/_app.tsx
  admin/pages/_document.tsx
  circle/lib/utils/Gtag.ts
  circle/pages/_document.tsx
Labels: admin, circle

Fix code style issues with Prettier
  circle/pages/_document.tsx
Labels: circle

Fix code style issues with Prettier
  circle/pages/_document.tsx
Labels: circle

fix
  main/pages/_document.tsx
Labels: main

fix
  main/pages/_document.tsx
Labels: main

feat add model
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleProperty.php
  api/app/Enum/Property/DemoCircleNewJoyProperty.php
  api/app/Models/Circle.php
  api/app/Models/DemoCircleNewjoy.php
  api/database/migrations/2021_06_30_222616_create_demo_circle_newjoys_table.php
  api/database/migrations/2021_06_30_222707_add_is_demo_fixed_to_circles.php
Labels: api, api-db, api-model

feat add model
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleProperty.php
  api/app/Enum/Property/DemoCircleNewJoyProperty.php
  api/app/Models/Circle.php
  api/app/Models/DemoCircleNewjoy.php
  api/database/migrations/2021_06_30_222616_create_demo_circle_newjoys_table.php
  api/database/migrations/2021_06_30_222707_add_is_demo_fixed_to_circles.php
Labels: api, api-db, api-model

feat add デモ新歓機能追加
  api/app/Enum/DemoCircleNewjoyType.php
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Usecases/Main/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
  api/routes/api.php
Labels: api

feat add デモ新歓機能追加
  api/app/Enum/DemoCircleNewjoyType.php
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Usecases/Main/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
  api/routes/api.php
Labels: api

fix
  api/app/Usecases/Main/CircleNewJoy/GetTodayCircleNewJoyUsecase.php
Labels: api

fix
  api/app/Usecases/Main/CircleNewJoy/GetTodayCircleNewJoyUsecase.php
Labels: api

fix
  api/app/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyController.php
Labels: api

fix
  api/app/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyController.php
Labels: api

add
  main/infra/api/circleNewJoy.ts
  main/infra/api/linkConst.ts
Labels: main

add
  main/infra/api/circleNewJoy.ts
  main/infra/api/linkConst.ts
Labels: main

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Enum/DemoCircleNewjoyType.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyController.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
Labels: api

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Enum/DemoCircleNewjoyType.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyController.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
Labels: api

Fix code style issues with Prettier
  main/infra/api/circleNewJoy.ts
Labels: main

Fix code style issues with Prettier
  main/infra/api/circleNewJoy.ts
Labels: main

feat メイン画面のデモ機能追加
  api/app/Enum/Property/CircleProperty.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Models/Circle.php
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/database/migrations/2021_07_01_000555_add_is_demo_priority_to_circles.php
Labels: api, api-db, api-model

feat メイン画面のデモ機能追加
  api/app/Enum/Property/CircleProperty.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Models/Circle.php
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/database/migrations/2021_07_01_000555_add_is_demo_priority_to_circles.php
Labels: api, api-db, api-model

feature 新歓デモ画面作成
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/pages/circle/newjoy/demo.tsx
Labels: main

feature 新歓デモ画面作成
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/pages/circle/newjoy/demo.tsx
Labels: main

feature でも画面追加
  main/components/organisms/Main/MainDemoUucircleTopButtons.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/linkConst.ts
  main/infra/api/main.ts
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: main

feature でも画面追加
  main/components/organisms/Main/MainDemoUucircleTopButtons.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/linkConst.ts
  main/infra/api/main.ts
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Main/MainDemoUucircleTopButtons.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Main/MainDemoUucircleTopButtons.tsx
Labels: main

feat システム管理者用のUpdateの修正
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/Usecases/Admin/Circle/Param/UpdateCircleForSystemUsecaseParam.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
Labels: api

feat システム管理者用のUpdateの修正
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/Usecases/Admin/Circle/Param/UpdateCircleForSystemUsecaseParam.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
Labels: api

feat デモ新歓APIの管理者用を仮作成
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Models/Circle.php
  api/app/Usecases/Admin/DemoCircleNewJoy/CreateDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Params/CreateDemoCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Params/UpdateDemoCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
  api/routes/admin.php
Labels: api, api-model

feat デモ新歓APIの管理者用を仮作成
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Models/Circle.php
  api/app/Usecases/Admin/DemoCircleNewJoy/CreateDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Params/CreateDemoCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Params/UpdateDemoCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
  api/routes/admin.php
Labels: api, api-model

feat generate:request
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
  api/app/Console/Commands/GenerateRequestTypeForTs.php
  api/routes/admin.php
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: admin, circle, api

feat generate:request
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
  api/app/Console/Commands/GenerateRequestTypeForTs.php
  api/routes/admin.php
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: admin, circle, api

feature api作成
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyController.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
  api/routes/admin.php
Labels: api

feature api作成
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyController.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
  api/routes/admin.php
Labels: api

feature デモ新歓の仮作成
  admin/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/infra/api/demo_cirecle_new_joy.ts
  admin/lib/types/model/DemoCircleNewJoy.ts
  admin/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/pages/demo/newjoy/create.tsx
  admin/pages/demo/newjoy/index.tsx
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/routes/admin.php
Labels: admin, api

feature デモ新歓の仮作成
  admin/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/infra/api/demo_cirecle_new_joy.ts
  admin/lib/types/model/DemoCircleNewJoy.ts
  admin/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/pages/demo/newjoy/create.tsx
  admin/pages/demo/newjoy/index.tsx
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/routes/admin.php
Labels: admin, api

fix
  admin/components/layouts/BaseSidebar.tsx
  admin/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/infra/api/cirecle_new_joy.ts
  admin/infra/api/demo_cirecle_new_joy.ts
  admin/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/pages/demo/newjoy/create.tsx
  admin/pages/demo/newjoy/index.tsx
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Params/UpdateDemoCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
Labels: admin, api

fix
  admin/components/layouts/BaseSidebar.tsx
  admin/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/infra/api/cirecle_new_joy.ts
  admin/infra/api/demo_cirecle_new_joy.ts
  admin/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/pages/demo/newjoy/create.tsx
  admin/pages/demo/newjoy/index.tsx
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Params/UpdateDemoCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
Labels: admin, api

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
