Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

fix
  admin/infra/api/circle.ts
  admin/pages/circle/index.tsx
Labels: admin

fix
  admin/infra/api/circle.ts
  admin/pages/circle/index.tsx
Labels: admin

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/PaginateCircleController.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/PaginateCircleControllerTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/PaginateCircleController.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/PaginateCircleControllerTest.php
Labels: api

Fix code style issues with Prettier
  admin/pages/circle/index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/pages/circle/index.tsx
Labels: admin

chore update package
  admin/package-lock.json
  admin/package.json
  circle/package-lock.json
  circle/package.json
  main/package-lock.json
  main/package.json
Labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json

chore update package
  admin/package-lock.json
  admin/package.json
  circle/package-lock.json
  circle/package.json
  main/package-lock.json
  main/package.json
Labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json

Fix code style issues with Prettier
  admin/pages/circle/index.tsx
  admin/pages/user/circle/index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/pages/circle/index.tsx
  admin/pages/user/circle/index.tsx
Labels: admin

feature update circle pacakge
  circle/.eslintrc.json
  circle/package-lock.json
  circle/package.json
  circle/pages/circle/[circleId]/user/[userId]/edit.tsx
  circle/pages/circle/[circleId]/user/import.tsx
Labels: circle, circle-package-json

feature update circle pacakge
  circle/.eslintrc.json
  circle/package-lock.json
  circle/package.json
  circle/pages/circle/[circleId]/user/[userId]/edit.tsx
  circle/pages/circle/[circleId]/user/import.tsx
Labels: circle, circle-package-json

feature update package admin
  admin/.eslintrc.json
  admin/components/molecules/list_items/AnnouncementListItem.tsx
  admin/package-lock.json
  admin/package.json
Labels: admin, admin-package-json

feature update package admin
  admin/.eslintrc.json
  admin/components/molecules/list_items/AnnouncementListItem.tsx
  admin/package-lock.json
  admin/package.json
Labels: admin, admin-package-json

update
  main/components/organisms/Main/MainCircleList.tsx
  main/next.config.js
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update
  main/components/organisms/Main/MainCircleList.tsx
  main/next.config.js
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  admin/pages/circle/index.tsx
  admin/pages/user/circle/index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/pages/circle/index.tsx
  admin/pages/user/circle/index.tsx
Labels: admin

Fix code style issues with Prettier
  main/components/organisms/Main/MainCircleList.tsx
  main/next.config.js
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Main/MainCircleList.tsx
  main/next.config.js
Labels: main

add
  main/.eslintignore
  main/infra/api/circleNewJoy.ts
  main/infra/api/statistics.ts
  main/pages/guide/qanda.tsx
Labels: main

add
  main/.eslintignore
  main/infra/api/circleNewJoy.ts
  main/infra/api/statistics.ts
  main/pages/guide/qanda.tsx
Labels: main

fix error
  main/components/atoms/button/YellowButton.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainUucircleAd.tsx
  main/lib/utils/Date.ts
  main/pages/guide/discord.tsx
  main/pages/guide/management-team.tsx
  main/pages/guide/qanda.tsx
  main/pages/guide/to-new-students.tsx
Labels: main

fix error
  main/components/atoms/button/YellowButton.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainUucircleAd.tsx
  main/lib/utils/Date.ts
  main/pages/guide/discord.tsx
  main/pages/guide/management-team.tsx
  main/pages/guide/qanda.tsx
  main/pages/guide/to-new-students.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/pages/guide/discord.tsx
  main/pages/guide/qanda.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/pages/guide/discord.tsx
  main/pages/guide/qanda.tsx
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/infra/api/circle.ts
  main/infra/api/circleNewJoy.ts
  main/infra/api/main.ts
  main/infra/api/statistics.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/newjoy.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
  main/pages/guide/to-new-students.tsx
  main/pages/index.tsx
  main/pages/statistics.tsx
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/infra/api/circle.ts
  main/infra/api/circleNewJoy.ts
  main/infra/api/main.ts
  main/infra/api/statistics.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/newjoy.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
  main/pages/guide/to-new-students.tsx
  main/pages/index.tsx
  main/pages/statistics.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/statistics.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/statistics.tsx
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
Labels: main

fix
  circle/.eslintignore
  circle/components/atoms/buttons/YellowButton.tsx
  circle/components/atoms/form/BaseDatetime.tsx
  circle/components/atoms/header/FormHeader.tsx
  circle/components/layouts/BaseFooter.tsx
  circle/components/layouts/MainHeader.tsx
  circle/lib/utils/Date.ts
  circle/pages/login.tsx
Labels: circle

fix
  circle/.eslintignore
  circle/components/atoms/buttons/YellowButton.tsx
  circle/components/atoms/form/BaseDatetime.tsx
  circle/components/atoms/header/FormHeader.tsx
  circle/components/layouts/BaseFooter.tsx
  circle/components/layouts/MainHeader.tsx
  circle/lib/utils/Date.ts
  circle/pages/login.tsx
Labels: circle

fix
  circle/hooks/useSuccess.ts
Labels: circle

fix
  circle/hooks/useSuccess.ts
Labels: circle

fix
  admin/.eslintignore
  admin/.eslintrc.json
  admin/components/atoms/header/FormHeader.tsx
  admin/hooks/useSuccess.ts
  admin/infra/api/circle_tag.ts
  admin/infra/api/storage.ts
  admin/pages/advertise/[advertiseId]/edit.tsx
  admin/pages/advertise/create.tsx
  admin/pages/circle/[id]/edit.tsx
  admin/pages/user/circle/[userId]/relation.tsx
Labels: admin

fix
  admin/.eslintignore
  admin/.eslintrc.json
  admin/components/atoms/header/FormHeader.tsx
  admin/hooks/useSuccess.ts
  admin/infra/api/circle_tag.ts
  admin/infra/api/storage.ts
  admin/pages/advertise/[advertiseId]/edit.tsx
  admin/pages/advertise/create.tsx
  admin/pages/circle/[id]/edit.tsx
  admin/pages/user/circle/[userId]/relation.tsx
Labels: admin
