Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

feature サークル一覧の処理を改善
  admin/components/pages/circle/Index.tsx
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/useInput.ts
  admin/lib/utils/String.ts
  admin/next-env.d.ts
  admin/pages/circle/[id]/edit.tsx
  admin/pages/circle/index.tsx
Labels: admin

feature サークル一覧の処理を改善
  admin/components/pages/circle/Index.tsx
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/useInput.ts
  admin/lib/utils/String.ts
  admin/next-env.d.ts
  admin/pages/circle/[id]/edit.tsx
  admin/pages/circle/index.tsx
Labels: admin

feature サークル一覧の改善
  admin/.vscode/settings.json
  admin/components/pages/circle/Index.tsx
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/usePageInput.ts
  admin/pages/circle/index.tsx
Labels: admin

feature サークル一覧の改善
  admin/.vscode/settings.json
  admin/components/pages/circle/Index.tsx
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/usePageInput.ts
  admin/pages/circle/index.tsx
Labels: admin

fix
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/usePageInput.ts
  admin/package-lock.json
  admin/package.json
  admin/pages/circle/index.tsx
Labels: admin, admin-package-json

fix
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/usePageInput.ts
  admin/package-lock.json
  admin/package.json
  admin/pages/circle/index.tsx
Labels: admin, admin-package-json

update
  admin/components/molecules/list_items/AdvertiseListItem.tsx
  admin/components/molecules/list_items/CircleListItem.tsx
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/useMediaQuery.ts
Labels: admin

update
  admin/components/molecules/list_items/AdvertiseListItem.tsx
  admin/components/molecules/list_items/CircleListItem.tsx
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/useMediaQuery.ts
Labels: admin

Fix code style issues with Prettier
  admin/.eslintrc.json
  admin/.vscode/settings.json
  admin/components/pages/circle/Index.tsx
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/useInput.ts
  admin/package.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  admin/.eslintrc.json
  admin/.vscode/settings.json
  admin/components/pages/circle/Index.tsx
  admin/components/pages/circle/useCircles.tsx
  admin/hooks/useInput.ts
  admin/package.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  main/__mocks__/fileMock.js
  main/__mocks__/styleMock.js
  main/jest.config.js
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/__mocks__/fileMock.js
  main/__mocks__/styleMock.js
  main/jest.config.js
  main/package.json
Labels: main, main-package-json

feature circle package update
  circle/next-env.d.ts
  circle/package-lock.json
  circle/package.json
  circle/pages/_document.tsx
  circle/pages/circle/[circleId]/index.tsx
Labels: circle, circle-package-json

feature circle package update
  circle/next-env.d.ts
  circle/package-lock.json
  circle/package.json
  circle/pages/_document.tsx
  circle/pages/circle/[circleId]/index.tsx
Labels: circle, circle-package-json

feature main package update
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

feature main package update
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  circle/pages/circle/[circleId]/index.tsx
Labels: circle

Fix code style issues with Prettier
  circle/pages/circle/[circleId]/index.tsx
Labels: circle

test テスト追加
  main/src/lib/utils/Color.spec.ts
  main/src/lib/utils/Color.ts
  main/src/lib/utils/Date.spec.ts
  main/src/lib/utils/Date.ts
Labels: main

test テスト追加
  main/src/lib/utils/Color.spec.ts
  main/src/lib/utils/Color.ts
  main/src/lib/utils/Date.spec.ts
  main/src/lib/utils/Date.ts
Labels: main

fix function name
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemPC.tsx
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/src/lib/utils/Date.spec.ts
  main/src/lib/utils/Date.ts
Labels: main

fix function name
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemPC.tsx
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/src/lib/utils/Date.spec.ts
  main/src/lib/utils/Date.ts
Labels: main

update
  main/src/lib/utils/Date.ts
Labels: main

update
  main/src/lib/utils/Date.ts
Labels: main

fix
  main/src/pages/index.tsx
Labels: main

fix
  main/src/pages/index.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/src/lib/utils/Color.spec.ts
  main/src/lib/utils/Date.spec.ts
  main/src/lib/utils/Date.ts
Labels: main

Fix code style issues with Prettier
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/src/lib/utils/Color.spec.ts
  main/src/lib/utils/Date.spec.ts
  main/src/lib/utils/Date.ts
Labels: main

feature サークル一覧のexcel追加
  admin/infra/api/circle.ts
  admin/pages/index.tsx
  api/_ide_helper_models.php
  api/app/Enum/RouteProperty/AdminRouteProperty.php
  api/app/Exports/CircleExport.php
  api/app/Exports/Sheets/CircleInfoSheet.php
  api/app/Http/Controllers/Admin/Circle/DownloadCircleExcelController.php
  api/app/Models/Circle.php
  api/resources/lang/ja/circleType.php
  api/routes/admin.php
Labels: admin, api, api-model

feature サークル一覧のexcel追加
  admin/infra/api/circle.ts
  admin/pages/index.tsx
  api/_ide_helper_models.php
  api/app/Enum/RouteProperty/AdminRouteProperty.php
  api/app/Exports/CircleExport.php
  api/app/Exports/Sheets/CircleInfoSheet.php
  api/app/Http/Controllers/Admin/Circle/DownloadCircleExcelController.php
  api/app/Models/Circle.php
  api/resources/lang/ja/circleType.php
  api/routes/admin.php
Labels: admin, api, api-model

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Exports/CircleExport.php
  api/app/Exports/Sheets/CircleInfoSheet.php
  api/app/Http/Controllers/Admin/Circle/DownloadCircleExcelController.php
  api/app/Models/Circle.php
Labels: api, api-model

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Exports/CircleExport.php
  api/app/Exports/Sheets/CircleInfoSheet.php
  api/app/Http/Controllers/Admin/Circle/DownloadCircleExcelController.php
  api/app/Models/Circle.php
Labels: api, api-model

Fix code style issues with Prettier
  admin/infra/api/circle.ts
  admin/pages/index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/infra/api/circle.ts
  admin/pages/index.tsx
Labels: admin

docs UPDATE README
  README.md
Labels: none

docs UPDATE README
  README.md
Labels: none

feature src配下に移動1
  circle/components/atoms/form/BaseDate.tsx
  circle/components/atoms/form/BaseDatetime.tsx
  circle/hooks/useInput.ts
  circle/src/pages/_app.tsx
  circle/src/pages/_document.tsx
  circle/src/pages/auth/email/verify/[id].tsx
  circle/src/pages/auth/password/confirm.tsx
  circle/src/pages/auth/password/reset.tsx
  circle/src/pages/circle/[circleId]/edit.tsx
  circle/src/pages/circle/[circleId]/index.tsx
  circle/src/pages/circle/[circleId]/newjoy/[circleNewJoyId]/edit.tsx
  circle/src/pages/circle/[circleId]/newjoy/create.tsx
  circle/src/pages/circle/[circleId]/newjoy/index.tsx
  circle/src/pages/circle/[circleId]/tag/index.tsx
  circle/src/pages/circle/[circleId]/user/[userId]/edit.tsx
  circle/src/pages/circle/[circleId]/user/create.tsx
  circle/src/pages/circle/[circleId]/user/import.tsx
  circle/src/pages/circle/[circleId]/user/index.tsx
  circle/src/pages/circle/withdrawal.tsx
  circle/src/pages/index.tsx
  circle/src/pages/login.tsx
  circle/src/pages/logout.tsx
  circle/src/pages/user/edit.tsx
  circle/src/plugins/Dayjs.ts
  circle/src/plugins/ReactDatepicker.ts
Labels: circle

feature src配下に移動1
  circle/components/atoms/form/BaseDate.tsx
  circle/components/atoms/form/BaseDatetime.tsx
  circle/hooks/useInput.ts
  circle/src/pages/_app.tsx
  circle/src/pages/_document.tsx
  circle/src/pages/auth/email/verify/[id].tsx
  circle/src/pages/auth/password/confirm.tsx
  circle/src/pages/auth/password/reset.tsx
  circle/src/pages/circle/[circleId]/edit.tsx
  circle/src/pages/circle/[circleId]/index.tsx
  circle/src/pages/circle/[circleId]/newjoy/[circleNewJoyId]/edit.tsx
  circle/src/pages/circle/[circleId]/newjoy/create.tsx
  circle/src/pages/circle/[circleId]/newjoy/index.tsx
  circle/src/pages/circle/[circleId]/tag/index.tsx
  circle/src/pages/circle/[circleId]/user/[userId]/edit.tsx
  circle/src/pages/circle/[circleId]/user/create.tsx
  circle/src/pages/circle/[circleId]/user/import.tsx
  circle/src/pages/circle/[circleId]/user/index.tsx
  circle/src/pages/circle/withdrawal.tsx
  circle/src/pages/index.tsx
  circle/src/pages/login.tsx
  circle/src/pages/logout.tsx
  circle/src/pages/user/edit.tsx
  circle/src/plugins/Dayjs.ts
  circle/src/plugins/ReactDatepicker.ts
Labels: circle
