Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleGachaPickupProperty.php
  api/app/Models/CircleGachaPickup.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
Labels: api, api-model

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleGachaPickupProperty.php
  api/app/Models/CircleGachaPickup.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
Labels: api, api-model

Fix code style issues with Prettier
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

feature gacha history apiの追加
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaHistoryController.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/routes/api.php
Labels: api

feature gacha history apiの追加
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaHistoryController.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/routes/api.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/routes/api.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/routes/api.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
Labels: api

feature ガチャ履歴の追加
  main/infra/api/gacha.ts
Labels: main

feature ガチャ履歴の追加
  main/infra/api/gacha.ts
Labels: main

feature add history.tsx
  main/pages/gacha/history.tsx
Labels: main

feature add history.tsx
  main/pages/gacha/history.tsx
Labels: main

feature add gacha hash property
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
Labels: api

feature add gacha hash property
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
Labels: api

fix
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/infra/api/gacha.ts
  main/pages/gacha/history.tsx
Labels: main, api

fix
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/infra/api/gacha.ts
  main/pages/gacha/history.tsx
Labels: main, api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

Fix code style issues with Prettier
  main/infra/api/gacha.ts
  main/pages/gacha/history.tsx
Labels: main

Fix code style issues with Prettier
  main/infra/api/gacha.ts
  main/pages/gacha/history.tsx
Labels: main

fix
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
Labels: api

fix
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
Labels: api

fix
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  main/pages/gacha/history.tsx
Labels: main, api

fix
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  main/pages/gacha/history.tsx
Labels: main, api

fix
  main/pages/gacha/history.tsx
Labels: main

fix
  main/pages/gacha/history.tsx
Labels: main

fix update
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/pages/gacha/history.tsx
  main/pages/gacha/result/[gachaHash].tsx
  main/pages/guide/to-new-students.tsx
Labels: main, api

fix update
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/pages/gacha/history.tsx
  main/pages/gacha/result/[gachaHash].tsx
  main/pages/guide/to-new-students.tsx
Labels: main, api

Fix code style issues with Prettier
  main/pages/gacha/result/[gachaHash].tsx
  main/pages/guide/to-new-students.tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/result/[gachaHash].tsx
  main/pages/guide/to-new-students.tsx
Labels: main

fix
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
