Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

Update README.md
  README.md
Labels: none

fix
  README.md
Labels: none

fix package-update
  main/package-lock.json
Labels: main, main-package-json

feat: npm-update-202301
  admin/package-lock.json
  admin/package.json
  circle/package-lock.json
  circle/package.json
  main/package-lock.json
Labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json

fix: README文言変更
  README.md
Labels: none

fix
  README.md
Labels: none

fix: 近日開催予定の新歓がないときの対応
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
Labels: main

ncuを導入
  admin/package-lock.json
  admin/package.json
Labels: admin, admin-package-json

dependenciesのアップデート
  admin/package-lock.json
  admin/package.json
Labels: admin, admin-package-json

fix: 暗黙のchildrenを修正
  admin/src/components/atoms/buttons/BlueButton.tsx
  admin/src/components/atoms/buttons/GreenButton.tsx
  admin/src/components/layouts/BaseContainer.tsx
  admin/src/components/layouts/BaseWrapper.tsx
Labels: admin

Fix code style issues with Prettier
  admin/src/lib/enum/api/AdvertiseType.ts
  admin/src/lib/enum/api/AnnouncementType.ts
  admin/src/lib/enum/api/CategorySlugProperty.ts
  admin/src/lib/enum/api/CircleTagModel.ts
  admin/src/lib/enum/api/CircleType.ts
  admin/src/lib/enum/api/DateOfActivity.ts
  admin/src/lib/enum/api/DemoCircleNewjoyType.ts
  admin/src/lib/enum/api/Importance.ts
  admin/src/lib/enum/api/PlaceOfActivity.ts
  admin/src/lib/enum/api/Role.ts
  admin/src/lib/enum/api/TagSlugProperty.ts
  admin/src/lib/enum/api/Week.ts
Labels: admin

暗黙のchildrenを修正パート2
  admin/src/components/atoms/buttons/GrayButton.tsx
  admin/src/components/atoms/buttons/OrangeButton.tsx
  admin/src/components/atoms/buttons/RedButton.tsx
  admin/src/components/molecules/list_items/AdvertiseListItem.tsx
  admin/src/components/molecules/list_items/AnnouncementListItem.tsx
  admin/src/components/molecules/list_items/CircleListItem.tsx
  admin/src/components/molecules/list_items/CircleNewJoyListItem.tsx
  admin/src/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/src/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
Labels: admin

feat: 最終更新日を表示
  main/src/components/pages/Circle/Show/Parts/CircleTopInformation.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Circle/Show/Parts/CircleTopInformation.tsx
Labels: main

fix
  README.md
Labels: none

fix: Vercelに反応させたい
  README.md
Labels: none

fix
  main/.gitignore
Labels: main

re-fix
  main/.gitignore
Labels: main

fix updated_at の参照元を circleInformation テーブルに変更
  api/app/ValueObjects/CircleValueObject.php
Labels: api

Update api.yml
  .github/workflows/api.yml
Labels: none

Update api.yml
  .github/workflows/api.yml
Labels: none

revert api.yml
  .github/workflows/api.yml
Labels: none

fix style
  main/src/components/pages/Circle/Show/Parts/CircleTopInformation.tsx
Labels: main

fix: 新規作成時にupdated_at の参照元がない状態を修正
  api/app/ValueObjects/CircleValueObject.php
Labels: api

fix: updated_atの参照元
  api/app/ValueObjects/CircleValueObject.php
Labels: api

🗑️ : Main画面のトップの３つのボタンからうーたの同期処理削除（Removal）
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
Labels: main

🗑️ : Main画面からうーたの同期処理を削除(Parts/MainCircleList,MainTemplate)（Removal）
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
Labels: main

🗑️ : main画面からうーたの非同期処理削除（Removal）
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
Labels: main

🚧: Adminページのリンク関係修正(Work In Progress)
  admin/src/components/atoms/buttons/GrayButton.tsx
  admin/src/components/atoms/buttons/GreenButton.tsx
  admin/src/components/atoms/buttons/OrangeButton.tsx
  admin/src/components/atoms/buttons/RedButton.tsx
  admin/src/components/layouts/AuthHeader.tsx
  admin/src/components/layouts/BaseHeader.tsx
  admin/src/components/layouts/BaseSidebar.tsx
  admin/src/components/molecules/list_items/AdminUserListItem.tsx
  admin/src/components/molecules/list_items/AdvertiseListItem.tsx
  admin/src/components/molecules/list_items/AllUserListItem.tsx
  admin/src/components/molecules/list_items/AnnouncementListItem.tsx
  admin/src/components/molecules/list_items/CircleListItem.tsx
  admin/src/components/molecules/list_items/CircleNewJoyListItem.tsx
  admin/src/components/molecules/list_items/CircleUserListItem.tsx
  admin/src/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/src/components/molecules/list_items/DemoCircleNewJoyListItem.tsx
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/reset.tsx
  admin/src/pages/index.tsx
Labels: admin

🗑️ : circle関連の非同期処理削除（Removal）
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Index/Parts/CircleLengthView.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/index.tsx
  main/src/pages/circle/newjoy.tsx
Labels: main

🗑️: guideからposition削除（Removal）
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main

🗑️: その他のページの非同期処理を削除（Removal）
  main/src/components/organisms/List/BaseCircleList.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/lib/types/model/PagePosition.ts
  main/src/pages/index.tsx
Labels: main

🚧 : demoのみ非同期処理を走らせるの厳しそう(DemoとMain templateと共用してるところある)(Work In Progress)
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/model/PagePosition.ts
Labels: main

feature 不要な資源削除対応：バッチソースの削除
  .github/workflows/batch_newjoy_notification.yml
  .github/workflows/batch_newjoy_notification_test.yml
  .github/workflows/batch_uuyell_notification.yml
  .github/workflows/batch_uuyell_notification_test.yml
  batch/.editorconfig
  batch/newjoy_notification/.env.example
  batch/newjoy_notification/PlaceOfActivity.py
  batch/newjoy_notification/README.md
  batch/newjoy_notification/bot.py
  batch/newjoy_notification/create_text.py
  batch/newjoy_notification/domain/circleNewJoy.py
  batch/newjoy_notification/domain/todayCircleNewJoy.py
  batch/newjoy_notification/requirements.txt
  batch/newjoy_notification/settings.py
  batch/uuyell_notification/.env.example
  batch/uuyell_notification/README.md
  batch/uuyell_notification/requirements.txt
  batch/uuyell_notification/settings.py
  batch/uuyell_notification/yell_bot.py
Labels: batch

feture 不要資源の削除：ツイッター関連
  api/app/Console/Commands/FormatTwitterUrl20210504.php
  api/app/Console/Commands/SendUuyellToTwitterCommand.php
  api/app/Repositories/Twitter/InitTwitterRepository.php
  api/app/UseCases/Batch/UuYell/SendUuyellPostToTwitterUsecase.php
Labels: api

feature APIテストの実施のため、Actionの修正
  .github/workflows/api.yml
Labels: none

feature バージョンアップ対応：PHP Library
  api/composer.json
  api/composer.lock
Labels: api, api-composer-json

feature 不要資源の削除：SCSS削除
  api/resources/sass/app.scss
Labels: api

feature 不要資源の削除：デモ画面
  main/__tests__/lib/enum/api/DemoCircleNewjoyType.spec.ts
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/pages/Circle/Search/Parts/RecommendCircleList.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
  main/src/components/pages/Main/Parts/MainDemoUucircleTopButtons.tsx
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
  main/src/lib/enum/api/DemoCircleNewjoyType.ts
  main/src/lib/infra/api/circleNewJoy.ts
  main/src/lib/infra/api/linkConst.ts
  main/src/lib/infra/api/main.ts
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/newjoy/demo.tsx
  main/src/pages/demo/index.tsx
Labels: main
