Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

feat readme
  batch/newjoy_notification_js/README.md
Labels: batch

fix 新歓リンクの修正
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
Labels: main

fix 新歓リンクの修正
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
Labels: main

update package
  api/composer.json
  api/composer.lock
Labels: api, api-composer-json

デザインの修正
  admin/src/components/layouts/BaseWrapper.tsx
  admin/src/pages/demo/newjoy/index.tsx
Labels: admin

change 利用規約の変更
  main/src/pages/terms.tsx
Labels: main

Fix code style issues with Prettier
  admin/src/pages/demo/newjoy/index.tsx
Labels: admin

feature update main package
  main/next-env.d.ts
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

fix
  main/src/lib/infra/api/pagePosition.ts
  main/src/lib/utils/Bugsnag.ts
  main/src/pages/_app.tsx
Labels: main

update package
  main/package-lock.json
  main/package.json
  main/tailwind.config.js
Labels: main, main-package-json

Fix code style issues with Prettier
  admin/src/pages/demo/newjoy/index.tsx
Labels: admin

Fix code style issues with Prettier
  main/package.json
  main/src/lib/infra/api/pagePosition.ts
Labels: main, main-package-json

feature 難読かコンポーネントの切り離し
  main/src/components/atoms/Obfuscate/EmailObfuscateSimpleText.tsx
  main/src/components/pages/Circle/Show/Parts/InformationField.tsx
Labels: main

update package
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update
  main/package-lock.json
  main/package.json
  main/tsconfig.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/src/components/atoms/Obfuscate/EmailObfuscateSimpleText.tsx
  main/src/components/atoms/Obfuscate/interface.ts
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Index/Parts/CircleLengthView.tsx
  main/src/components/pages/Circle/Show/Parts/InformationField.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoyPcLayout.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoySpLayout.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/hooks/useWindowResize.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/lib/infra/uu_yell/fetchPostsByCircle.ts
  main/src/pages/_document.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/index.tsx
  main/src/pages/circle/newjoy.tsx
  main/src/pages/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
  main/src/pages/statistics.tsx
  main/tsconfig.json
Labels: main

add
  main/package-lock.json
  main/package.json
  main/src/components/atoms/Obfuscate/EmailObfuscateSimpleText.tsx
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

add
  main/package.json
Labels: main, main-package-json

remove
  main/src/components/atoms/Obfuscate/interface.ts
Labels: main

feature 環境構築した
  batch/newjoy_notification_js/hello.ts
  batch/newjoy_notification_js/package-lock.json
  batch/newjoy_notification_js/package.json
  batch/newjoy_notification_js/tsconfig.json
Labels: batch

fix format
  batch/newjoy_notification_js/yell_bot.ts
Labels: batch

feature uu-yellの記事を取得する関数追加
  batch/newjoy_notification_js/hello.ts
  batch/newjoy_notification_js/package-lock.json
  batch/newjoy_notification_js/package.json
  batch/newjoy_notification_js/src/infra/fetchUuYell.ts
  batch/newjoy_notification_js/src/plugins/dayjs.ts
Labels: batch

added module
  batch/newjoy_notification_js/make_text.mjs
  batch/newjoy_notification_js/yell_bot.mjs
Labels: batch

feature loadingアニメーションの追加
  circle/src/pages/auth/password/confirm.tsx
  circle/src/pages/auth/password/reset.tsx
Labels: circle

feature パスワードリセット系のAPIにリファクタ
  api/app/Http/Controllers/Circle/Auth/ForgotPasswordCircleController.php
  api/app/Http/Controllers/Circle/Auth/VerificationConfirmController.php
Labels: api

feat 翻訳の修正
  api/resources/lang/ja/passwords.php
Labels: api

fix エラーハンドリングの修正
  circle/src/lib/infra/api/auth.ts
Labels: circle

style UU-Circlesにした
  circle/src/components/layouts/MainHeader.tsx
Labels: circle

Apply fixes from StyleCI
  api/app/Http/Controllers/Circle/Auth/ForgotPasswordCircleController.php
Labels: api

Fix code style issues with Prettier
  circle/src/lib/infra/api/auth.ts
  circle/src/pages/auth/password/confirm.tsx
  circle/src/pages/auth/password/reset.tsx
Labels: circle

update admin package
  admin/next-env.d.ts
  admin/package-lock.json
  admin/package.json
  circle/package.json
  main/package.json
Labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json

update
  admin/package-lock.json
  admin/package.json
  admin/tailwind.config.js
  admin/tsconfig.json
  main/package.json
Labels: admin, admin-package-json, main, main-package-json

add
  admin/package-lock.json
  main/package-lock.json
Labels: admin, admin-package-json, main, main-package-json

Fix code style issues with Prettier
  admin/package.json
  admin/tsconfig.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  circle/package.json
Labels: circle, circle-package-json

fix
  circle/package-lock.json
  circle/package.json
  circle/tailwind.config.js
Labels: circle, circle-package-json
