Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

add
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
Labels: admin

add
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
Labels: admin

fix
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/lib/types/model/DemoCircleNewJoy.ts
  admin/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/pages/demo/newjoy/create.tsx
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
Labels: admin, api

fix
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/lib/types/model/DemoCircleNewJoy.ts
  admin/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  admin/pages/demo/newjoy/create.tsx
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/DemoCircleNewJoyDto.php
Labels: admin, api

fix
  admin/lib/types/model/DemoCircleNewJoy.ts
  admin/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  api/app/Models/DemoCircleNewjoy.php
Labels: admin, api, api-model

fix
  admin/lib/types/model/DemoCircleNewJoy.ts
  admin/pages/demo/newjoy/[demoCircleNewJoyId]/edit.tsx
  api/app/Models/DemoCircleNewjoy.php
Labels: admin, api, api-model

fix
  admin/components/organisms/form/Circle/EditCircleForm.tsx
  admin/lib/types/model/Circle.ts
  admin/pages/circle/[id]/edit.tsx
  api/_ide_helper_models.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/ValueObjects/CircleValueObject.php
Labels: admin, api

fix
  admin/components/organisms/form/Circle/EditCircleForm.tsx
  admin/lib/types/model/Circle.ts
  admin/pages/circle/[id]/edit.tsx
  api/_ide_helper_models.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/ValueObjects/CircleValueObject.php
Labels: admin, api

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Fix code style issues with Prettier
  main/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/CircleType.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/Role.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/lib/enum/api/Week.ts
Labels: main

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Fix code style issues with Prettier
  main/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/CircleType.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/Role.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/lib/enum/api/Week.ts
Labels: main

Fix code style issues with Prettier
  main/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/CircleType.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/Role.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/lib/enum/api/Week.ts
Labels: main

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
Labels: api

Fix code style issues with Prettier
  circle/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  circle/__tests__/lib/enum/api/CircleTagModel.spec.ts
  circle/__tests__/lib/enum/api/CircleType.spec.ts
  circle/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/Role.ts
  circle/lib/enum/api/TagSlugProperty.ts
  circle/lib/enum/api/Week.ts
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Fix code style issues with Prettier
  circle/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  circle/__tests__/lib/enum/api/CircleTagModel.spec.ts
  circle/__tests__/lib/enum/api/CircleType.spec.ts
  circle/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/Role.ts
  circle/lib/enum/api/TagSlugProperty.ts
  circle/lib/enum/api/Week.ts
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

Fix code style issues with Prettier
  circle/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  circle/__tests__/lib/enum/api/CircleTagModel.spec.ts
  circle/__tests__/lib/enum/api/CircleType.spec.ts
  circle/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/Role.ts
  circle/lib/enum/api/TagSlugProperty.ts
  circle/lib/enum/api/Week.ts
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
Labels: api

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

fix
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
Labels: api

fix
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
Labels: api

fox
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/pages/demo/newjoy/create.tsx
Labels: admin

fox
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/pages/demo/newjoy/create.tsx
Labels: admin

fix
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
Labels: api

fix
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
Labels: api

fix
  api/app/ValueObjects/CircleValueObject.php
Labels: api

fix
  api/app/ValueObjects/CircleValueObject.php
Labels: api

fix
  api/app/Http/Controllers/Admin/AllUser/IndexAllUserController.php
  api/app/ValueObjects/CircleValueObject.php
Labels: api

fix
  api/app/Http/Controllers/Admin/AllUser/IndexAllUserController.php
  api/app/ValueObjects/CircleValueObject.php
Labels: api

fix
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
Labels: api

fix
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
Labels: api

fix
  main/components/layouts/BaseHead.tsx
  main/pages/index.tsx
Labels: main

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
