Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

fix type
  main/components/organisms/Circles/CircleSidebar.tsx
  main/pages/circle/index.tsx
Labels: main

fix
  .github/workflows/api.yml
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Kernel.php
  api/app/Http/Middleware/TrustHosts.php
  api/app/Usecases/Main/Advertise/GetMainTopAdvertiseUsecase.php
  api/app/Usecases/Main/Advertise/GetRandomAdvertiseUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesKey.php
Labels: api

fix
  .github/workflows/api.yml
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Kernel.php
  api/app/Http/Middleware/TrustHosts.php
  api/app/Usecases/Main/Advertise/GetMainTopAdvertiseUsecase.php
  api/app/Usecases/Main/Advertise/GetRandomAdvertiseUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesKey.php
Labels: api

Fix code style issues with Prettier
  main/components/organisms/Circles/CircleSidebar.tsx
  main/lib/types/model/TagPageView.ts
  main/lib/types/model/TagPageViewRanking.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Circles/CircleSidebar.tsx
  main/lib/types/model/TagPageView.ts
  main/lib/types/model/TagPageViewRanking.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
Labels: main

refactor web
  .github/workflows/api.yml
  api/app/Enum/RouteProperty/WebRouteProperty.php
  api/app/Http/Controllers/Main/Main/WelcomeController.php
  api/routes/web.php
Labels: api

refactor web
  .github/workflows/api.yml
  api/app/Enum/RouteProperty/WebRouteProperty.php
  api/app/Http/Controllers/Main/Main/WelcomeController.php
  api/routes/web.php
Labels: api

refactor routes/api
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/routes/api.php
Labels: api

refactor routes/api
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/routes/api.php
Labels: api

refactor admin
  api/app/Enum/RouteProperty/AdminRouteProperty.php
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Admin/Circle/ShowCircleController.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/routes/admin.php
  api/routes/api.php
Labels: api

refactor admin
  api/app/Enum/RouteProperty/AdminRouteProperty.php
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Admin/Circle/ShowCircleController.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/routes/admin.php
  api/routes/api.php
Labels: api

fix
  api/routes/api.php
  api/routes/circle.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyControllerTest.php
Labels: api

fix
  api/routes/api.php
  api/routes/circle.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyControllerTest.php
Labels: api

refactor main dto
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Circle/Dto/MainSimpleCircleDto.php
  api/app/Usecases/Main/Circle/Dto/MainSimpleCircleListDto.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRecommendCircleUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchCategoryCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchNameCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchTagCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Main/IndexControllerTest.php
Labels: api

refactor main dto
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Circle/Dto/MainSimpleCircleDto.php
  api/app/Usecases/Main/Circle/Dto/MainSimpleCircleListDto.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRecommendCircleUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchCategoryCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchNameCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchTagCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Main/IndexControllerTest.php
Labels: api

feat CircleValueObjectを駆逐中
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api

feat CircleValueObjectを駆逐中
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api

feat 統計からCircleValueObjectをどけた
  api/app/Usecases/Main/Statistics/Dto/CircleForStatisticsDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsActivityFrequencyRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsAdmissionFeePerYearHighRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsAdmissionFeePerYearSmallRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsCirclePageViewsHighRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsNumberOfActivitiesRankingDto.php
  api/app/Usecases/Main/Statistics/StatisticsCirclePageViewsRankingUsecase.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

feat 統計からCircleValueObjectをどけた
  api/app/Usecases/Main/Statistics/Dto/CircleForStatisticsDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsActivityFrequencyRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsAdmissionFeePerYearHighRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsAdmissionFeePerYearSmallRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsCirclePageViewsHighRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsNumberOfActivitiesRankingDto.php
  api/app/Usecases/Main/Statistics/StatisticsCirclePageViewsRankingUsecase.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

fix name
  api/app/Usecases/Main/Statistics/StatisticsCirclePageViewsRankingUsecase.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

fix name
  api/app/Usecases/Main/Statistics/StatisticsCirclePageViewsRankingUsecase.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

style fix
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRecommendCircleUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api

style fix
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRecommendCircleUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api

fix
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
Labels: api

fix
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
Labels: api

feat gachaからcircleValueObjectの削除
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/CircleGachaDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaPickupListDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleListDto.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
Labels: api

feat gachaからcircleValueObjectの削除
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/CircleGachaDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaPickupListDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleListDto.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
Labels: api

refactor use
  api/app/Http/Controllers/Admin/Circle/CreateCircleController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Requests/Circle/Circle/UpdateCircleFormRequest.php
Labels: api

refactor use
  api/app/Http/Controllers/Admin/Circle/CreateCircleController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Requests/Circle/Circle/UpdateCircleFormRequest.php
Labels: api

feature 広告用のAPI作成
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/Advertise/GetMainAdvertisesController.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/Advertise/GetMainAdvertiseControllerTest.php
Labels: api

feature 広告用のAPI作成
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/Advertise/GetMainAdvertisesController.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/Advertise/GetMainAdvertiseControllerTest.php
Labels: api

feat add infra/advertise
  main/infra/api/advertise.ts
  main/infra/api/linkConst.ts
  main/infra/api/main.ts
Labels: main

feat add infra/advertise
  main/infra/api/advertise.ts
  main/infra/api/linkConst.ts
  main/infra/api/main.ts
Labels: main

fix
  api/.styleci.yml
  main/infra/api/linkConst.ts
Labels: main, api

fix
  api/.styleci.yml
  main/infra/api/linkConst.ts
Labels: main, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Announcement/UpdateAnnouncementController.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Announcement/UpdateAnnouncementController.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api

fix circle paginate
  api/app/Http/Controllers/Admin/Circle/PaginateCircleController.php
  api/app/Usecases/Admin/PaginateCircleUsecase.php
  api/app/Usecases/Admin/Params/PaginateCircleUsecaseParams.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/IndexCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/PaginateCircleControllerTest.php
Labels: api

fix circle paginate
  api/app/Http/Controllers/Admin/Circle/PaginateCircleController.php
  api/app/Usecases/Admin/PaginateCircleUsecase.php
  api/app/Usecases/Admin/Params/PaginateCircleUsecaseParams.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/IndexCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/PaginateCircleControllerTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Announcement/UpdateAnnouncementController.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api
