Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

fix
  main/components/layouts/BaseHead.tsx
  main/pages/index.tsx
Labels: main

Fix code style issues with Prettier
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/pages/demo/newjoy/create.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/pages/demo/newjoy/create.tsx
Labels: admin

Fix code style issues with Prettier
  main/components/layouts/BaseHead.tsx
  main/pages/index.tsx
Labels: main

Fix code style issues with Prettier
  main/components/layouts/BaseHead.tsx
  main/pages/index.tsx
Labels: main

Update index.tsx
  main/pages/circle/[slug]/index.tsx
Labels: main

Update index.tsx
  main/pages/circle/[slug]/index.tsx
Labels: main

feat 新歓のリファクタリング
  api/app/Http/Controllers/Admin/CircleNewJoy/DeleteCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/UpdateCircleNewJoyController.php
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Usecases/Admin/CircleNewJoy/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/DeleteCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/Params/CreateCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/CircleNewJoy/Params/UpdateCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/CircleNewJoy/UpdateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/UpdateCircleNewJoyUsecase.php
Labels: api

feat 新歓のリファクタリング
  api/app/Http/Controllers/Admin/CircleNewJoy/DeleteCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/UpdateCircleNewJoyController.php
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Usecases/Admin/CircleNewJoy/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/DeleteCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/Params/CreateCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/CircleNewJoy/Params/UpdateCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/CircleNewJoy/UpdateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/UpdateCircleNewJoyUsecase.php
Labels: api

fix register
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyControllerTest.php
Labels: api

fix register
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyControllerTest.php
Labels: api

fix update
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/UpdateCircleNewJoyControllerTest.php
Labels: api

fix update
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/UpdateCircleNewJoyControllerTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Usecases/Admin/CircleNewJoy/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/UpdateCircleNewJoyUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyControllerTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Usecases/Admin/CircleNewJoy/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/UpdateCircleNewJoyUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyControllerTest.php
Labels: api

feat is_only_demoの追加
  api/app/Enum/Property/CircleProperty.php
  api/app/Models/Circle.php
  api/database/migrations/2021_07_03_182112_add_is_demo_to_circles.php
Labels: api, api-db, api-model

feat is_only_demoの追加
  api/app/Enum/Property/CircleProperty.php
  api/app/Models/Circle.php
  api/database/migrations/2021_07_03_182112_add_is_demo_to_circles.php
Labels: api, api-db, api-model

feat is_only_demoの追加
  api/database/migrations/2021_07_03_182112_add_is_demo_to_circles.php
Labels: api, api-db

feat is_only_demoの追加
  api/database/migrations/2021_07_03_182112_add_is_demo_to_circles.php
Labels: api, api-db

test テスト追加
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/IndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/ShowCircleNewJoyControllerTest.php
Labels: api

test テスト追加
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/IndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/ShowCircleNewJoyControllerTest.php
Labels: api

test テスト追加
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyControllerTest.php
Labels: api

test テスト追加
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyControllerTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyControllerTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyControllerTest.php
Labels: api

Fix code style issues with Prettier
  admin/components/organisms/form/Circle/EditCircleForm.tsx
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  admin/components/organisms/form/Circle/EditCircleForm.tsx
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

fix
  api/app/ValueObjects/CircleValueObject.php
Labels: api

fix
  api/app/ValueObjects/CircleValueObject.php
Labels: api

fix mainデザイン
  main/.node-version
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
Labels: main

fix mainデザイン
  main/.node-version
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
Labels: main

feature でも画面のお知らせ
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: main

feature でも画面のお知らせ
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: main

fix
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: main

fix
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: main

feat デモ新歓の詳細画面の追加
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

feat デモ新歓の詳細画面の追加
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

feat デモ画面用のAPI作成
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Main/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyControllerTest.php
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main, api
