Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/demo/index.tsx
  main/src/pages/guide/management-team.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/demo/index.tsx
  main/src/pages/guide/management-team.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
Labels: api

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/demo/index.tsx
  main/src/pages/guide/management-team.tsx
Labels: main

Fix code style issues with Prettier
  circle/tailwind.config.js
Labels: circle

fix
  main/next.config.js
Labels: main

fix
  main/next.config.js
Labels: main

fix UU-Managerに対して、サークル管理者が認証しようとするときの文言を追加
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/reset.tsx
  api/app/Http/Controllers/Admin/Auth/ForgotPasswordAdminController.php
  api/app/Http/Controllers/Admin/Auth/LoginAdminController.php
  api/routes/admin.php
Labels: admin, api

fix UU-Managerに対して、サークル管理者が認証しようとするときの文言を追加
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/reset.tsx
  api/app/Http/Controllers/Admin/Auth/ForgotPasswordAdminController.php
  api/app/Http/Controllers/Admin/Auth/LoginAdminController.php
  api/routes/admin.php
Labels: admin, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Auth/ForgotPasswordAdminController.php
  api/app/Http/Controllers/Admin/Auth/LoginAdminController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Auth/ForgotPasswordAdminController.php
  api/app/Http/Controllers/Admin/Auth/LoginAdminController.php
Labels: api

Fix code style issues with Prettier
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/reset.tsx
Labels: admin

Fix code style issues with Prettier
  admin/src/pages/auth/login.tsx
  admin/src/pages/auth/password/reset.tsx
Labels: admin

Fix code style issues with Prettier
  circle/tailwind.config.js
Labels: circle

Fix code style issues with Prettier
  circle/tailwind.config.js
Labels: circle

fix サークル管理者の再認証URLを修正
  admin/src/lib/infra/api/circle_user.ts
  api/routes/circle.php
Labels: admin, api

fix サークル管理者の再認証URLを修正
  admin/src/lib/infra/api/circle_user.ts
  api/routes/circle.php
Labels: admin, api

fix adminUser
  api/app/Http/Controllers/Admin/Auth/VerificationResendController.php
Labels: api

fix adminUser
  api/app/Http/Controllers/Admin/Auth/VerificationResendController.php
Labels: api

feature update pacakge
  admin/package-lock.json
  admin/package.json
Labels: admin, admin-package-json

update
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update package
  circle/package-lock.json
  circle/package.json
Labels: circle, circle-package-json

Fix code style issues with Prettier
  admin/package.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  circle/package.json
Labels: circle, circle-package-json

feat yell bot.py to bot.js
  .gitignore
  batch/newjoy_notification_js/README.md
  batch/newjoy_notification_js/yell_bot.js
  package-lock.json
  package.json
Labels: batch

feat yell bot.py to bot.js
  .gitignore
  batch/newjoy_notification_js/README.md
  batch/newjoy_notification_js/yell_bot.js
  package-lock.json
  package.json
Labels: batch

sorry for got to cover these.
  batch/newjoy_notification_js/yell_bot.js
Labels: batch

sorry for got to cover these.
  batch/newjoy_notification_js/yell_bot.js
Labels: batch

fixed sennding message by ts
  batch/newjoy_notification_js/yell_bot.ts
Labels: batch

feat sendding message by js
  batch/newjoy_notification_js/yell_bot.js
Labels: batch

fixed typo
  batch/newjoy_notification_js/yell_bot.ts
Labels: batch

added python-shell
  batch/newjoy_notification_js/yell_bot.js
Labels: batch

fix メイン画面にデモサークルを表示しないようにして、コメントを追加
  api/app/Usecases/Main/Circle/GetCircleBySlugUsecase.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api

test テストの追加
  api/.idea/runConfigurations.xml
  api/tests/Feature/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecaseTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Main/Circle/GetCircleBySlugUsecase.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
  api/tests/Feature/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecaseTest.php
Labels: api

feat yell_bot
  batch/newjoy_notification_js/node_modules/.package-lock.json
  batch/newjoy_notification_js/package-lock.json
  batch/newjoy_notification_js/package.json
  batch/newjoy_notification_js/yell_bot.js
Labels: batch

added nodemodules to gitignore
  .gitignore
Labels: none

add package list
  batch/newjoy_notification_js/package-lock.json
  batch/newjoy_notification_js/package.json
Labels: batch

feat sending messages
  batch/newjoy_notification_js/yell_bot.js
  batch/newjoy_notification_js/yell_bot.ts
Labels: batch
