Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

feature 自分自身をはじくようにした
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/lib/types/model/PagePosition.ts
  main/src/pages/index.tsx
Labels: main, api

feature 自分自身をはじくようにした
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/lib/types/model/PagePosition.ts
  main/src/pages/index.tsx
Labels: main, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/useInput.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/circleNewJoy.ts
  main/src/lib/infra/api/pagePosition.ts
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/useInput.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/circleNewJoy.ts
  main/src/lib/infra/api/pagePosition.ts
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/useInput.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/circleNewJoy.ts
  main/src/lib/infra/api/pagePosition.ts
Labels: main

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

style final, declare(strict_types=1);をつけた
  api/app/Enum/AdvertiseType.php
  api/app/Enum/AnnouncementPlace.php
  api/app/Enum/AnnouncementType.php
  api/app/Enum/BroadCastProperty/BroadCastProperty.php
  api/app/Enum/CircleTagModel.php
  api/app/Enum/CircleType.php
  api/app/Enum/DateOfActivity.php
  api/app/Enum/DemoCircleNewjoyType.php
  api/app/Enum/Importance.php
  api/app/Enum/PlaceOfActivity.php
  api/app/Enum/Role.php
  api/app/Enum/SlackChannel.php
  api/app/Enum/Week.php
  api/app/Http/Controllers/Main/Main/WelcomeController.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
Labels: api

style final, declare(strict_types=1);をつけた
  api/app/Enum/AdvertiseType.php
  api/app/Enum/AnnouncementPlace.php
  api/app/Enum/AnnouncementType.php
  api/app/Enum/BroadCastProperty/BroadCastProperty.php
  api/app/Enum/CircleTagModel.php
  api/app/Enum/CircleType.php
  api/app/Enum/DateOfActivity.php
  api/app/Enum/DemoCircleNewjoyType.php
  api/app/Enum/Importance.php
  api/app/Enum/PlaceOfActivity.php
  api/app/Enum/Role.php
  api/app/Enum/SlackChannel.php
  api/app/Enum/Week.php
  api/app/Http/Controllers/Main/Main/WelcomeController.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
Labels: api

feature tailwindのバージョンアップ
  main/package-lock.json
  main/package.json
  main/postcss.config.js
  main/src/pages/_app.tsx
  main/tailwind.config.js
Labels: main, main-package-json

feature tailwindのバージョンアップ
  main/package-lock.json
  main/package.json
  main/postcss.config.js
  main/src/pages/_app.tsx
  main/tailwind.config.js
Labels: main, main-package-json

update
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/organisms/Circles/CircleSidebar.tsx
  main/src/components/organisms/ShowCircle/InformationField.tsx
  main/src/styles/index.scss
  main/tailwind.config.js
Labels: main

update
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/organisms/Circles/CircleSidebar.tsx
  main/src/components/organisms/ShowCircle/InformationField.tsx
  main/src/styles/index.scss
  main/tailwind.config.js
Labels: main

feature lint
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/layouts/BaseLayout.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/components/pages/Main/Parts/MainDemoUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons.tsx
  main/src/hooks/useDelayedEffect.ts
  main/src/hooks/useMediaQuery.ts
  main/src/hooks/usePagePosition.ts
  main/src/pages/_document.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/newjoy.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/management-team.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main

feature lint
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/layouts/BaseLayout.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/components/pages/Main/Parts/MainDemoUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons.tsx
  main/src/hooks/useDelayedEffect.ts
  main/src/hooks/useMediaQuery.ts
  main/src/hooks/usePagePosition.ts
  main/src/pages/_document.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/newjoy.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/management-team.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main

fix key
  main/src/components/organisms/List/CarouselCircleList.tsx
Labels: main

fix key
  main/src/components/organisms/List/CarouselCircleList.tsx
Labels: main

Fix code style issues with Prettier
  main/.eslintrc.json
  main/src/components/organisms/Announcement/HeaderAnnouncement.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoyPcLayout.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoySpLayout.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/ShowCircle/InformationField.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/components/pages/Main/Parts/MainDemoUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/styles/index.scss
Labels: main

Fix code style issues with Prettier
  main/.eslintrc.json
  main/src/components/organisms/Announcement/HeaderAnnouncement.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoyPcLayout.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoySpLayout.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/ShowCircle/InformationField.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/components/pages/Main/Parts/MainDemoUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/styles/index.scss
Labels: main

update eslintrc
  main/.eslintrc.json
Labels: main

update eslintrc
  main/.eslintrc.json
Labels: main

add reportWebVitals
  main/next-env.d.ts
  main/src/pages/_app.tsx
Labels: main

add reportWebVitals
  main/next-env.d.ts
  main/src/pages/_app.tsx
Labels: main

Fix code style issues with Prettier
  main/.eslintrc.json
  main/src/pages/_app.tsx
Labels: main

Fix code style issues with Prettier
  main/.eslintrc.json
  main/src/pages/_app.tsx
Labels: main

update
  main/next.config.js
  main/package.json
Labels: main, main-package-json

update
  main/next.config.js
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

update
  main/src/components/organisms/List/BaseCircleList.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/search/[name].tsx
  main/src/pages/circle/tag/[tag].tsx
Labels: main

update
  main/src/components/organisms/List/BaseCircleList.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/search/[name].tsx
  main/src/pages/circle/tag/[tag].tsx
Labels: main

refactor tag
  main/src/components/pages/Circle/Search/Parts/MainHeading.tsx
  main/src/components/pages/Circle/Search/Parts/RecommendCircleList.tsx
  main/src/components/pages/Circle/Search/Parts/SearchDescription.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/pages/circle/tag/[tag].tsx
Labels: main

refactor tag
  main/src/components/pages/Circle/Search/Parts/MainHeading.tsx
  main/src/components/pages/Circle/Search/Parts/RecommendCircleList.tsx
  main/src/components/pages/Circle/Search/Parts/SearchDescription.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/pages/circle/tag/[tag].tsx
Labels: main

refactor category
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/pages/circle/category/[category].tsx
Labels: main

refactor category
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/pages/circle/category/[category].tsx
Labels: main

style add comment
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/tag/[tag].tsx
Labels: main

style add comment
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/tag/[tag].tsx
Labels: main

refactor free word search
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/pages/circle/search/[name].tsx
Labels: main

refactor free word search
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/pages/circle/search/[name].tsx
Labels: main
