Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

feature sp is not view
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main

feature sp is not view
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main

feature php8.0
  api/.idea/php.xml
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Requests/Admin/Advertise/CreateAdvertiseRequest.php
  api/app/Models/CircleInvitation.php
  api/app/Models/Identifier.php
  api/app/Usecases/Admin/Announcement/CreateAnnouncementUsecase.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/composer.json
  api/composer.lock
  api/database/factories/AdvertiseFactory.php
  api/database/factories/AnnouncementFactory.php
  api/database/seeders/AdvertisesTableSeeder.php
  infra/docker/php/Dockerfile
Labels: api, api-model, api-composer-json

Apply fixes from StyleCI
  api/app/Http/Requests/Admin/Advertise/CreateAdvertiseRequest.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
Labels: api

fix
  admin/components/atoms/form/BaseTextField.tsx
  admin/components/molecules/list_items/AllUserListItem.tsx
  admin/components/molecules/list_items/CircleUserListItem.tsx
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/lib/types/model/User.ts
  admin/pages/user/circle/index.tsx
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserDto.php
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
Labels: admin, api

feature next v11.1.0
  api/database/seeders/AdvertisesTableSeeder.php
  main/next-env.d.ts
  main/package-lock.json
  main/package.json
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main, main-package-json, api

feature next v11.1.0
  api/database/seeders/AdvertisesTableSeeder.php
  main/next-env.d.ts
  main/package-lock.json
  main/package.json
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main, main-package-json, api

fix ts version
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

fix ts version
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  admin/components/molecules/list_items/AllUserListItem.tsx
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/pages/user/circle/index.tsx
Labels: admin

add
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main, api

add
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

Fix code style issues with Prettier
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main

fix lint
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main

fix lint
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
Labels: main

fix
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
Labels: main

fix
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
Labels: main

perf
  main/src/components/layouts/BaseHeader.tsx
Labels: main

perf
  main/src/components/layouts/BaseHeader.tsx
Labels: main

fix button
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
Labels: main

fix button
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
Labels: main

update
  main/.vscode/settings.json
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsSp.tsx
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/management-team.tsx
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
  main/src/pages/privacy.tsx
  main/src/pages/statistics.tsx
  main/src/pages/terms.tsx
Labels: main

update
  main/.vscode/settings.json
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsSp.tsx
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/management-team.tsx
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
  main/src/pages/privacy.tsx
  main/src/pages/statistics.tsx
  main/src/pages/terms.tsx
Labels: main

fix
  api/app/Http/Controllers/Admin/Advertise/CreateAdvertiseController.php
  api/app/Http/Controllers/Admin/Advertise/UpdateAdvertiseController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Advertise/GetMainTopAdvertiseUsecase.php
  api/app/Usecases/Main/Advertise/GetRandomAdvertiseUsecase.php
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main, api

fix
  api/app/Http/Controllers/Admin/Advertise/CreateAdvertiseController.php
  api/app/Http/Controllers/Admin/Advertise/UpdateAdvertiseController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Advertise/GetMainTopAdvertiseUsecase.php
  api/app/Usecases/Main/Advertise/GetRandomAdvertiseUsecase.php
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
Labels: main, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Advertise/CreateAdvertiseController.php
  api/app/Http/Controllers/Admin/Advertise/UpdateAdvertiseController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
Labels: api

Fix code style issues with Prettier
  main/.vscode/settings.json
  main/src/components/layouts/BaseHeader.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/management-team.tsx
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
  main/src/pages/privacy.tsx
  main/src/pages/statistics.tsx
  main/src/pages/terms.tsx
Labels: main

Fix code style issues with Prettier
  main/.vscode/settings.json
  main/src/components/layouts/BaseHeader.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/management-team.tsx
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
  main/src/pages/privacy.tsx
  main/src/pages/statistics.tsx
  main/src/pages/terms.tsx
Labels: main

Fix code style issues with Prettier
  main/.vscode/settings.json
  main/src/components/layouts/BaseHeader.tsx
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/management-team.tsx
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
  main/src/pages/privacy.tsx
  main/src/pages/statistics.tsx
  main/src/pages/terms.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Advertise/CreateAdvertiseController.php
  api/app/Http/Controllers/Admin/Advertise/UpdateAdvertiseController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Advertise/CreateAdvertiseController.php
  api/app/Http/Controllers/Admin/Advertise/UpdateAdvertiseController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
Labels: api

test テスト環境の整備
  main/__mocks__/fileMock.js
  main/__mocks__/styleMock.js
  main/jest.config.js
  main/jest.setup.js
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

test テスト環境の整備
  main/__mocks__/fileMock.js
  main/__mocks__/styleMock.js
  main/jest.config.js
  main/jest.setup.js
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
