Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

Fix code style issues with Prettier
  main/src/components/layouts/BaseHeader.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/layouts/BaseHeader.tsx
Labels: main

refactor いらないクラスを削除
  main/src/components/atoms/form/SearchTextField.tsx
Labels: main

refactor いらないクラスを削除
  main/src/components/atoms/form/SearchTextField.tsx
Labels: main

Fix code style issues with Prettier
  main/.eslintrc.json
Labels: main

Fix code style issues with Prettier
  main/.eslintrc.json
Labels: main

fix クエリ修正
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

fix クエリ修正
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

fix domの改善
  main/src/components/atoms/button/LightBlueButton.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
Labels: main

fix domの改善
  main/src/components/atoms/button/LightBlueButton.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
Labels: main

feature circle関連の処理追加
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/lib/types/model/PagePosition.ts
Labels: main

feature circle関連の処理追加
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/lib/types/model/PagePosition.ts
Labels: main

refactor Pusher.logToConsole
  main/src/pages/index.tsx
  main/src/plugins/Pusher.ts
Labels: main

refactor Pusher.logToConsole
  main/src/pages/index.tsx
  main/src/plugins/Pusher.ts
Labels: main

update seeder
  api/database/seeders/CirclesTableSeeder.php
Labels: api

update seeder
  api/database/seeders/CirclesTableSeeder.php
Labels: api

feature infraにどけた
  main/src/hooks/useFetchUuYell.ts
  main/src/lib/infra/uu_yell/fetchPostsByCircle.ts
  main/src/lib/infra/uu_yell/fetchPostsOfUuYellRecommend.ts
  main/src/lib/infra/uu_yell/types/WpPostsList.ts
  main/src/pages/circle/[slug]/index.tsx
Labels: main

feature infraにどけた
  main/src/hooks/useFetchUuYell.ts
  main/src/lib/infra/uu_yell/fetchPostsByCircle.ts
  main/src/lib/infra/uu_yell/fetchPostsOfUuYellRecommend.ts
  main/src/lib/infra/uu_yell/types/WpPostsList.ts
  main/src/pages/circle/[slug]/index.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/lib/infra/uu_yell/fetchPostsByCircle.ts
  main/src/lib/infra/uu_yell/types/WpPostsList.ts
  main/src/pages/circle/[slug]/index.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/lib/infra/uu_yell/fetchPostsByCircle.ts
  main/src/lib/infra/uu_yell/types/WpPostsList.ts
  main/src/pages/circle/[slug]/index.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/lib/infra/uu_yell/fetchPostsByCircle.ts
  main/src/lib/infra/uu_yell/types/WpPostsList.ts
  main/src/pages/circle/[slug]/index.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

fix circleSlugに変更
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/lib/types/model/PagePosition.ts
Labels: main, api

fix circleSlugに変更
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/lib/types/model/PagePosition.ts
Labels: main, api

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
Labels: main

feature Utasの表示追加
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons.tsx
  main/src/lib/enum/app/ImagePath.ts
Labels: main

feature Utasの表示追加
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons.tsx
  main/src/lib/enum/app/ImagePath.ts
Labels: main

feature アイコンの表示
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/top_buttons_id_list.ts
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/components/pages/Main/id_list.ts
Labels: main

feature アイコンの表示
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/top_buttons_id_list.ts
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/components/pages/Main/id_list.ts
Labels: main

feature utaの表示
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
Labels: main

feature utaの表示
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
Labels: main

fix cache時間の変更
  api/app/Http/Controllers/Main/Main/IndexController.php
Labels: api

fix cache時間の変更
  api/app/Http/Controllers/Main/Main/IndexController.php
Labels: api

fix
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

fix
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

update package
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update package
  main/package-lock.json
  main/package.json
Labels: main, main-package-json
