Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

feature add ads.txt
  main/public/ads.txt
Labels: main

feature add ads.txt
  main/public/ads.txt
Labels: main

fix cache key
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Advertise/GetRandomAdvertiseUsecase.php
Labels: api

fix cache key
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Advertise/GetRandomAdvertiseUsecase.php
Labels: api

test cache key
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/tests/Feature/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecaseTest.php
Labels: api

test cache key
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/tests/Feature/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecaseTest.php
Labels: api

feat refreshIntervalオプションの追加
  main/src/pages/index.tsx
Labels: main

feat refreshIntervalオプションの追加
  main/src/pages/index.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/tests/Feature/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecaseTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/tests/Feature/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecaseTest.php
Labels: api

feat うたにアニメーションの追加
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
Labels: main

feat うたにアニメーションの追加
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
Labels: main

Fix code style issues with Prettier
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
Labels: main

Fix code style issues with Prettier
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
Labels: main

fix
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
Labels: main

fix
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
Labels: main

feature youtube
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/styles/index.scss
Labels: main

feature youtube
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/styles/index.scss
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Main/MainTemplate.tsx
Labels: main

feature 画面のウー他を増やした
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/pages/demo/index.tsx
Labels: main

feature 画面のウー他を増やした
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtonsPc.tsx
  main/src/pages/demo/index.tsx
Labels: main

fix
  admin/tailwind.config.js
Labels: admin

fix
  admin/tailwind.config.js
Labels: admin

feature add credit
  main/src/pages/guide/management-team.tsx
Labels: main

feature add credit
  main/src/pages/guide/management-team.tsx
Labels: main

fix
  circle/tailwind.config.js
Labels: circle

fix
  circle/tailwind.config.js
Labels: circle

fix
  circle/src/components/atoms/form/BaseCheckBox.tsx
  circle/src/components/atoms/form/SimplePasswordTextField.tsx
  circle/src/components/atoms/loading/SubmitLoading.tsx
  circle/src/components/layouts/BaseHeader.tsx
  circle/src/components/layouts/BaseSpMenu.tsx
  circle/src/components/layouts/MainHeader.tsx
  circle/src/components/organisms/CircleNewjoy/CircleNewJoyListItemPC.tsx
  circle/src/components/organisms/CircleNewjoy/CircleNewJoyListItemSP.tsx
  circle/src/pages/_app.tsx
  circle/src/pages/user/edit.tsx
  circle/src/styles/colors.js
  circle/src/styles/index.css
  circle/tailwind.config.js
Labels: circle

fix
  circle/src/components/atoms/form/BaseCheckBox.tsx
  circle/src/components/atoms/form/SimplePasswordTextField.tsx
  circle/src/components/atoms/loading/SubmitLoading.tsx
  circle/src/components/layouts/BaseHeader.tsx
  circle/src/components/layouts/BaseSpMenu.tsx
  circle/src/components/layouts/MainHeader.tsx
  circle/src/components/organisms/CircleNewjoy/CircleNewJoyListItemPC.tsx
  circle/src/components/organisms/CircleNewjoy/CircleNewJoyListItemSP.tsx
  circle/src/pages/_app.tsx
  circle/src/pages/user/edit.tsx
  circle/src/styles/colors.js
  circle/src/styles/index.css
  circle/tailwind.config.js
Labels: circle

fix copy コマンド修正
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
Labels: api

fix copy コマンド修正
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
Labels: api

Fix code style issues with Prettier
  admin/tailwind.config.js
Labels: admin

Fix code style issues with Prettier
  admin/tailwind.config.js
Labels: admin

Fix code style issues with Prettier
  admin/tailwind.config.js
Labels: admin

Fix code style issues with Prettier
  admin/tailwind.config.js
Labels: admin
