Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

refactor メイン画面のリファクタ
  api/app/Http/Controllers/Main/Advertise/RedirectToAdvertiseLinkController.php
  api/app/Http/Controllers/Main/Announcement/RedirectToAnnouncementLinkController.php
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Http/Controllers/Main/Identification/CheckIdentificationController.php
  api/app/Http/Controllers/Main/Identification/PublishIdentificationController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Http/Controllers/Main/Sitemap/SitemapController.php
  api/app/Http/Controllers/Main/Statistics/StatisticsController.php
Labels: api

refactor メイン画面のリファクタ
  api/app/Http/Controllers/Main/Advertise/RedirectToAdvertiseLinkController.php
  api/app/Http/Controllers/Main/Announcement/RedirectToAnnouncementLinkController.php
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Http/Controllers/Main/Identification/CheckIdentificationController.php
  api/app/Http/Controllers/Main/Identification/PublishIdentificationController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Http/Controllers/Main/Sitemap/SitemapController.php
  api/app/Http/Controllers/Main/Statistics/StatisticsController.php
Labels: api

refactor circle
  api/app/Http/Controllers/Circle/Announcement/FixedCircleViewAnnouncementController.php
  api/app/Http/Controllers/Circle/Auth/ForgotPasswordCircleController.php
  api/app/Http/Controllers/Circle/Auth/LoginCircleController.php
  api/app/Http/Controllers/Circle/Auth/LogoutCircleController.php
  api/app/Http/Controllers/Circle/Auth/ResetPasswordCircleController.php
  api/app/Http/Controllers/Circle/Auth/ShowOwnCircleUserController.php
  api/app/Http/Controllers/Circle/Auth/VerificationConfirmController.php
  api/app/Http/Controllers/Circle/Auth/VerificationResendController.php
  api/app/Http/Controllers/Circle/Auth/VerificationVerifyController.php
  api/app/Http/Controllers/Circle/Circle/IndexCircleController.php
  api/app/Http/Controllers/Circle/Circle/ShowCircleController.php
  api/app/Http/Controllers/Circle/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/DeleteCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/RegisterCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/UpdateCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleTag/CreateOrUpdateCircleTagController.php
  api/app/Http/Controllers/Circle/CircleTag/GetCircleTagController.php
  api/app/Http/Controllers/Circle/CircleUser/ImportCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/IndexCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/RegisterCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/SearchCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/ShowCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/UpdateCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/WithdrawalOtherCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/WithdrawalOwnCircleUserController.php
  api/app/Http/Controllers/Circle/Storage/PutStorageController.php
  api/app/Http/Controllers/Circle/User/UpdateOwnUserController.php
Labels: api

refactor circle
  api/app/Http/Controllers/Circle/Announcement/FixedCircleViewAnnouncementController.php
  api/app/Http/Controllers/Circle/Auth/ForgotPasswordCircleController.php
  api/app/Http/Controllers/Circle/Auth/LoginCircleController.php
  api/app/Http/Controllers/Circle/Auth/LogoutCircleController.php
  api/app/Http/Controllers/Circle/Auth/ResetPasswordCircleController.php
  api/app/Http/Controllers/Circle/Auth/ShowOwnCircleUserController.php
  api/app/Http/Controllers/Circle/Auth/VerificationConfirmController.php
  api/app/Http/Controllers/Circle/Auth/VerificationResendController.php
  api/app/Http/Controllers/Circle/Auth/VerificationVerifyController.php
  api/app/Http/Controllers/Circle/Circle/IndexCircleController.php
  api/app/Http/Controllers/Circle/Circle/ShowCircleController.php
  api/app/Http/Controllers/Circle/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/DeleteCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/RegisterCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleNewJoy/UpdateCircleNewJoyController.php
  api/app/Http/Controllers/Circle/CircleTag/CreateOrUpdateCircleTagController.php
  api/app/Http/Controllers/Circle/CircleTag/GetCircleTagController.php
  api/app/Http/Controllers/Circle/CircleUser/ImportCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/IndexCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/RegisterCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/SearchCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/ShowCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/UpdateCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/WithdrawalOtherCircleUserController.php
  api/app/Http/Controllers/Circle/CircleUser/WithdrawalOwnCircleUserController.php
  api/app/Http/Controllers/Circle/Storage/PutStorageController.php
  api/app/Http/Controllers/Circle/User/UpdateOwnUserController.php
Labels: api

fix
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

fix
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

feat schema:dumpした
  api/database/migrations/2014_10_12_000000_create_users_table.php
  api/database/migrations/2014_10_12_100000_create_password_resets_table.php
  api/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
  api/database/migrations/2020_12_22_132936_create_admin_users_table.php
  api/database/migrations/2020_12_26_125729_create_circles_table.php
  api/database/migrations/2020_12_26_125747_create_circle_users_table.php
  api/database/migrations/2020_12_27_121048_create_circle_information_table.php
  api/database/migrations/2021_01_13_143220_create_circle_new_joys_table.php
  api/database/migrations/2021_02_06_054921_create_advertises_table.php
  api/database/migrations/2021_02_06_095804_create_circle_invitations_table.php
  api/database/migrations/2021_02_08_110013_create_circle_handbills_table.php
  api/database/migrations/2021_02_11_132647_create_circle_tags_table.php
  api/database/migrations/2021_03_04_195251_change_description_to_circle_information.php
  api/database/migrations/2021_03_05_174306_add_is_main_fixed_to_circles.php
  api/database/migrations/2021_03_22_151005_add_advertise_type_to_advertises.php
  api/database/migrations/2021_03_23_183445_add_private_new_joy_link_to_circle_new_joys.php
  api/database/migrations/2021_03_23_195920_add_role_to_circle_users.php
  api/database/migrations/2021_04_01_094629_change_place_of_activity_value.php
  api/database/migrations/2021_04_07_164100__create_identifiers_table.php
  api/database/migrations/2021_04_07_164252_create_circle_gacha_results_table.php
  api/database/migrations/2021_04_14_155656_add_wp_url_and_is_view_wp_post_to_circle_information.php
  api/database/migrations/2021_04_14_172041_add_wp_tag_taxonomy_to_circle_information.php
  api/database/migrations/2021_04_22_172914_create_uuyell_posts_table.php
  api/database/migrations/2021_04_23_182927_add_tweet_id_to_uuyell_posts.php
  api/database/migrations/2021_04_25_102401_create_advertise_counters_table.php
  api/database/migrations/2021_04_25_104951_add_slug_to_advertise.php
  api/database/migrations/2021_04_25_104952_add_slug_unique_to_advertise.php
  api/database/migrations/2021_04_25_152801_create_advertise_counter_histories_table.php
  api/database/migrations/2021_04_26_152434_add_deleted_at_to_advertises.php
  api/database/migrations/2021_04_27_214255_add_description_to_uuyell_posts.php
  api/database/migrations/2021_05_01_154326_create_identifier_histories_table.php
  api/database/migrations/2021_05_01_205248_create_announcements_table.php
  api/database/migrations/2021_05_05_202649_change_user_agent_to_identifier_histories.php
  api/database/migrations/2021_05_14_214253_create_announcement_counters_table.php
  api/database/migrations/2021_05_14_214330_create_announcement_counter_histories_table.php
  api/database/migrations/2021_05_15_182540_add_slug_to_announcements.php
  api/database/migrations/2021_05_21_104954_create_circle_search_words_table.php
  api/database/migrations/2021_05_27_104645_create_page_views_table.php
  api/database/migrations/2021_05_28_172324_create_circle_page_views_table.php
  api/database/schema/mysql-schema.dump
Labels: api, api-db

fix
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Usecases/Batch/PageView/ReplicateCirclePageViewUsecase.php
  api/database/migrations/2021_06_03_185412_add_unique_to_circle_page_view.php
Labels: api, api-db

fix
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Usecases/Batch/PageView/ReplicateCirclePageViewUsecase.php
  api/database/migrations/2021_06_03_185412_add_unique_to_circle_page_view.php
Labels: api, api-db

fix
  api/database/migrations/2021_06_03_185412_add_unique_to_circle_page_view.php
Labels: api, api-db

fix
  api/database/migrations/2021_06_03_185412_add_unique_to_circle_page_view.php
Labels: api, api-db

fix document update
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/organisms/Main/MainUucircleTopButtons.tsx
  main/hooks/useMediaQuery.ts
  main/pages/guide/management-team.tsx
  main/pages/guide/to-new-students.tsx
Labels: main

fix document update
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/organisms/Main/MainUucircleTopButtons.tsx
  main/hooks/useMediaQuery.ts
  main/pages/guide/management-team.tsx
  main/pages/guide/to-new-students.tsx
Labels: main

fix
  main/pages/guide/to-new-students.tsx
Labels: main

fix
  main/pages/guide/to-new-students.tsx
Labels: main

Fix code style issues with Prettier
  main/pages/guide/management-team.tsx
  main/pages/guide/to-new-students.tsx
Labels: main

Fix code style issues with Prettier
  main/pages/guide/management-team.tsx
  main/pages/guide/to-new-students.tsx
Labels: main

feat タグの集計追加
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Enum/Property/TagPageViewProperty.php
  api/app/Models/TagPageView.php
  api/app/Usecases/Batch/PageView/ReplicateTagPageViewUsecase.php
  api/database/migrations/2021_06_06_112529_create_tag_page_views_table.php
Labels: api, api-db, api-model

feat タグの集計追加
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Enum/Property/TagPageViewProperty.php
  api/app/Models/TagPageView.php
  api/app/Usecases/Batch/PageView/ReplicateTagPageViewUsecase.php
  api/database/migrations/2021_06_06_112529_create_tag_page_views_table.php
Labels: api, api-db, api-model

feat タグのランキング追加
  api/_ide_helper_models.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Usecases/Main/PageView/Dto/TagPageViewDto.php
  api/app/Usecases/Main/PageView/Dto/TagPageViewRankingDto.php
  api/app/Usecases/Main/PageView/TagPageViewRankingUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/IndexCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchCategoryCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchNameCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchTagCircleControllerTest.php
Labels: api

feat タグのランキング追加
  api/_ide_helper_models.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Usecases/Main/PageView/Dto/TagPageViewDto.php
  api/app/Usecases/Main/PageView/Dto/TagPageViewRankingDto.php
  api/app/Usecases/Main/PageView/TagPageViewRankingUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/IndexCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchCategoryCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchNameCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchTagCircleControllerTest.php
Labels: api

fix
  .github/workflows/api.yml
  api/.env.testing
Labels: api

fix
  .github/workflows/api.yml
  api/.env.testing
Labels: api

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix
  api/app/Usecases/Main/PageView/TagPageViewRankingUsecase.php
Labels: api

fix
  api/app/Usecases/Main/PageView/TagPageViewRankingUsecase.php
Labels: api

fix
  api/app/Usecases/Main/PageView/TagPageViewRankingUsecase.php
Labels: api

fix
  api/app/Usecases/Main/PageView/TagPageViewRankingUsecase.php
Labels: api

feat メイン画面に定義追加
  api/app/Usecases/Main/PageView/Dto/TagPageViewDto.php
  main/infra/api/circle.ts
  main/lib/types/model/TagPageView.ts
  main/lib/types/model/TagPageViewRanking.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
Labels: main, api

feat メイン画面に定義追加
  api/app/Usecases/Main/PageView/Dto/TagPageViewDto.php
  main/infra/api/circle.ts
  main/lib/types/model/TagPageView.ts
  main/lib/types/model/TagPageViewRanking.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
Labels: main, api

feat Tagを反映するように変更
  main/components/organisms/Circles/CircleSidebar.tsx
  main/lib/types/model/TagPageView.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
Labels: main

feat Tagを反映するように変更
  main/components/organisms/Circles/CircleSidebar.tsx
  main/lib/types/model/TagPageView.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
Labels: main

fix type
  main/components/organisms/Circles/CircleSidebar.tsx
  main/pages/circle/index.tsx
Labels: main

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
