Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

update
  api/_ide_helper_models.php
  api/app/Enum/Property/PagePositionHistoryProperty.php
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
  api/app/Models/PagePositionHistory.php
Labels: api, api-model

update
  api/_ide_helper_models.php
  api/app/Enum/Property/PagePositionHistoryProperty.php
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
  api/app/Models/PagePositionHistory.php
Labels: api, api-model

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Models/Identifier.php
  api/app/Models/PagePositionHistory.php
  api/routes/api.php
Labels: api, api-model

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  main/.eslintrc.json
  main/next.config.js
  main/package.json
  main/src/components/organisms/Announcement/HeaderAnnouncement.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoyPcLayout.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoySpLayout.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/src/components/organisms/ShowCircle/AppealingPoint.tsx
  main/src/components/organisms/ShowCircle/InformationField.tsx
  main/src/components/organisms/Statistics/StatisticsOtherView.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/index.tsx
  main/src/pages/sitemap.xml.tsx
  main/src/pages/statistics.tsx
Labels: main, main-package-json

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Models/Identifier.php
  api/app/Models/PagePositionHistory.php
  api/routes/api.php
Labels: api, api-model

Fix code style issues with Prettier
  main/.eslintrc.json
  main/next.config.js
  main/package.json
  main/src/components/organisms/Announcement/HeaderAnnouncement.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoyPcLayout.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoySpLayout.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/src/components/organisms/ShowCircle/AppealingPoint.tsx
  main/src/components/organisms/ShowCircle/InformationField.tsx
  main/src/components/organisms/Statistics/StatisticsOtherView.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/index.tsx
  main/src/pages/sitemap.xml.tsx
  main/src/pages/statistics.tsx
Labels: main, main-package-json

Fix code style issues with Prettier
  main/.eslintrc.json
  main/next.config.js
  main/package.json
  main/src/components/organisms/Announcement/HeaderAnnouncement.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoyPcLayout.tsx
  main/src/components/organisms/CircleNewJoy/ShowCircleNewJoySpLayout.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/src/components/organisms/ShowCircle/AppealingPoint.tsx
  main/src/components/organisms/ShowCircle/InformationField.tsx
  main/src/components/organisms/Statistics/StatisticsOtherView.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/index.tsx
  main/src/pages/sitemap.xml.tsx
  main/src/pages/statistics.tsx
Labels: main, main-package-json

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Models/Identifier.php
  api/app/Models/PagePositionHistory.php
  api/routes/api.php
Labels: api, api-model

Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Events/Arg/PagePositionItemArg.php
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Models/Identifier.php
  api/app/Models/PagePositionHistory.php
  api/routes/api.php
Labels: api, api-model

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

update add log
  api/app/Console/Kernel.php
Labels: api

update add log
  api/app/Console/Kernel.php
Labels: api

update
  main/.vscode/settings.json
  main/local-remove.sh
  main/package-lock.json
  main/package.json
  main/stylelint.config.js
  main/tailwind.config.js
Labels: main, main-package-json

update
  main/.vscode/settings.json
  main/local-remove.sh
  main/package-lock.json
  main/package.json
  main/stylelint.config.js
  main/tailwind.config.js
Labels: main, main-package-json

update
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

feature scssを使えるようにした
  main/next.config.js
  main/package-lock.json
  main/package.json
  main/src/pages/_app.tsx
  main/src/styles/index.scss
Labels: main, main-package-json

feature scssを使えるようにした
  main/next.config.js
  main/package-lock.json
  main/package.json
  main/src/pages/_app.tsx
  main/src/styles/index.scss
Labels: main, main-package-json

feature build周り修正
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/index.tsx
  main/src/pages/statistics.tsx
Labels: main

feature build周り修正
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/index.tsx
  main/src/pages/statistics.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Console/Kernel.php
Labels: api

Apply fixes from StyleCI
  api/app/Console/Kernel.php
Labels: api

Fix code style issues with Prettier
  main/.vscode/settings.json
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/index.tsx
  main/src/pages/statistics.tsx
  main/tailwind.config.js
Labels: main

Fix code style issues with Prettier
  main/.vscode/settings.json
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/pages/index.tsx
  main/src/pages/statistics.tsx
  main/tailwind.config.js
Labels: main

update node version
  .github/workflows/admin.yml
  .github/workflows/circle.yml
Labels: none

update node version
  .github/workflows/admin.yml
  .github/workflows/circle.yml
Labels: none

fix
  main/src/pages/index.tsx
Labels: main

fix
  main/src/pages/index.tsx
Labels: main

update
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/index.tsx
Labels: admin, circle, main

update
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/index.tsx
Labels: admin, circle, main

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
Labels: main

Fix code style issues with Prettier
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
Labels: main

update
  api/app/Console/Commands/GenerateRequestTypeForTs.php
Labels: api

update
  api/app/Console/Commands/GenerateRequestTypeForTs.php
Labels: api

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
