Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

feat デモ画面用のAPI作成
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Main/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyControllerTest.php
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Main/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyControllerTest.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Main/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyControllerTest.php
Labels: api

Fix code style issues with Prettier
  main/components/layouts/BaseFooter.tsx
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: main

Fix code style issues with Prettier
  main/components/layouts/BaseFooter.tsx
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: main

update
  api/composer.lock
Labels: api, api-composer-json

update
  api/composer.lock
Labels: api, api-composer-json

update
  main/next-env.d.ts
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update
  main/next-env.d.ts
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

fix test
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyControllerTest.php
Labels: api

fix test
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyControllerTest.php
Labels: api

fix type
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
Labels: api

fix type
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
Labels: api

update
  README.md
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
Labels: main

update
  README.md
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
Labels: main

chore update docs
  README.md
Labels: none

chore update docs
  README.md
Labels: none

feature demo画面の追加
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  main/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/circleNewJoy.ts
  main/infra/api/linkConst.ts
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
  main/pages/circle/newjoy/demo.tsx
Labels: main, api

feature demo画面の追加
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  main/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/circleNewJoy.ts
  main/infra/api/linkConst.ts
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
  main/pages/circle/newjoy/demo.tsx
Labels: main, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
Labels: api

Fix code style issues with Prettier
  main/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/circleNewJoy.ts
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/circleNewJoy.ts
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

refactor Dtoの使用
  admin/infra/api/cirecle_new_joy.ts
  admin/pages/circle/[id]/newjoy/index.tsx
  api/app/Http/Controllers/Admin/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Usecases/Admin/CircleNewJoy/Dto/CircleDto.php
  api/app/Usecases/Admin/CircleNewJoy/Dto/CircleNewJoyDto.php
  api/app/Usecases/Admin/CircleNewJoy/Dto/MultipleCircleNewJoyDto.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
Labels: admin, api

refactor Dtoの使用
  admin/infra/api/cirecle_new_joy.ts
  admin/pages/circle/[id]/newjoy/index.tsx
  api/app/Http/Controllers/Admin/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Usecases/Admin/CircleNewJoy/Dto/CircleDto.php
  api/app/Usecases/Admin/CircleNewJoy/Dto/CircleNewJoyDto.php
  api/app/Usecases/Admin/CircleNewJoy/Dto/MultipleCircleNewJoyDto.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
Labels: admin, api

fix
  admin/components/pages/circle/Index.tsx
  admin/pages/circle/index.tsx
Labels: admin

fix
  admin/components/pages/circle/Index.tsx
  admin/pages/circle/index.tsx
Labels: admin

add
  admin/components/pages/circle/Index.tsx
Labels: admin

add
  admin/components/pages/circle/Index.tsx
Labels: admin

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
Labels: api

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
  admin/pages/circle/[id]/newjoy/index.tsx
  admin/pages/circle/index.tsx
Labels: admin

Fix code style issues with Prettier
  main/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/circleNewJoy.ts
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
  admin/pages/circle/[id]/newjoy/index.tsx
  admin/pages/circle/index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
  admin/pages/circle/[id]/newjoy/index.tsx
  admin/pages/circle/index.tsx
Labels: admin

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
Labels: api

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
