Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

Fix code style issues with Prettier
  admin/.eslintrc.json
  admin/infra/api/storage.ts
  admin/pages/user/circle/[userId]/relation.tsx
Labels: admin

Fix code style issues with Prettier
  admin/.eslintrc.json
  admin/infra/api/storage.ts
  admin/pages/user/circle/[userId]/relation.tsx
Labels: admin

fix
  admin/components/atoms/header/FormHeader.tsx
Labels: admin

fix
  admin/components/atoms/header/FormHeader.tsx
Labels: admin

fix
  circle/components/atoms/header/FormHeader.tsx
  circle/components/organisms/Form/Circle/EditCircleForm.tsx
Labels: circle

fix
  circle/components/atoms/header/FormHeader.tsx
  circle/components/organisms/Form/Circle/EditCircleForm.tsx
Labels: circle

Fix code style issues with Prettier
  circle/components/organisms/Form/Circle/EditCircleForm.tsx
Labels: circle

Fix code style issues with Prettier
  circle/components/organisms/Form/Circle/EditCircleForm.tsx
Labels: circle

Update privacy.tsx
  main/pages/privacy.tsx
Labels: main

Update privacy.tsx
  main/pages/privacy.tsx
Labels: main

fix
  api/app/Usecases/Main/Statistics/Dto/CircleForStatisticsDto.php
  main/.node-version
  main/package-lock.json
  main/package.json
Labels: main, main-package-json, api

fix
  api/app/Usecases/Main/Statistics/Dto/CircleForStatisticsDto.php
  main/.node-version
  main/package-lock.json
  main/package.json
Labels: main, main-package-json, api

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

fix
  main/components/organisms/List/BaseCircleList.tsx
Labels: main

fix
  main/components/organisms/List/BaseCircleList.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/List/BaseCircleList.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/List/BaseCircleList.tsx
Labels: main

ふぃx
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

ふぃx
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

update use Script
  main/pages/_document.tsx
Labels: main

update use Script
  main/pages/_document.tsx
Labels: main

fix
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/organisms/Main/MainUucircleTopCarousel.tsx
  main/next.config.js
Labels: main

fix
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/organisms/Main/MainUucircleTopCarousel.tsx
  main/next.config.js
Labels: main

feat uu-yellの画像差し替え
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleAd.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/lib/enum/app/ImagePath.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/guide/qanda.tsx
  main/public/images/uu-yell/uu-yell_banner.jpg
  main/public/images/uu-yell/uu-yell_main.jpg
  main/public/images/uu-yell/uu-yell_poster.jpg
  main/public/images/uuyell-post.png
  main/public/images/uuyell-poster.png
  main/public/images/uuyell_banner.jpg
Labels: main

feat uu-yellの画像差し替え
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleAd.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/lib/enum/app/ImagePath.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/guide/qanda.tsx
  main/public/images/uu-yell/uu-yell_banner.jpg
  main/public/images/uu-yell/uu-yell_main.jpg
  main/public/images/uu-yell/uu-yell_poster.jpg
  main/public/images/uuyell-post.png
  main/public/images/uuyell-poster.png
  main/public/images/uuyell_banner.jpg
Labels: main

feature sns_iconのディレクトリ変更
  main/.vscode/settings.json
  main/components/organisms/ShowCircle/SnsList.tsx
  main/lib/enum/app/ImagePath.ts
  main/public/images/sns-icon/discord.png
  main/public/images/sns-icon/facebook.png
  main/public/images/sns-icon/github.png
  main/public/images/sns-icon/hp.png
  main/public/images/sns-icon/instagram.png
  main/public/images/sns-icon/line.png
  main/public/images/sns-icon/peing.png
  main/public/images/sns-icon/twitter.png
  main/public/images/sns-icon/youtube.png
Labels: main

feature sns_iconのディレクトリ変更
  main/.vscode/settings.json
  main/components/organisms/ShowCircle/SnsList.tsx
  main/lib/enum/app/ImagePath.ts
  main/public/images/sns-icon/discord.png
  main/public/images/sns-icon/facebook.png
  main/public/images/sns-icon/github.png
  main/public/images/sns-icon/hp.png
  main/public/images/sns-icon/instagram.png
  main/public/images/sns-icon/line.png
  main/public/images/sns-icon/peing.png
  main/public/images/sns-icon/twitter.png
  main/public/images/sns-icon/youtube.png
Labels: main

featue 広告系の画像整理
  main/components/organisms/Main/MainSponsorshipFooter.tsx
  main/lib/enum/app/ImagePath.ts
  main/public/images/advertise/company_ad_tmp.png
  main/public/images/engineermix.jpg
  main/public/images/media_postar_tmp.png
  main/public/images/syschismo.png
  main/public/images/topCarousel/Rectangle16.png
  main/public/images/topCarousel/uuyell-poster.png
  main/public/images/topCarousel/新歓サイトトップ画像1.png
Labels: main

featue 広告系の画像整理
  main/components/organisms/Main/MainSponsorshipFooter.tsx
  main/lib/enum/app/ImagePath.ts
  main/public/images/advertise/company_ad_tmp.png
  main/public/images/engineermix.jpg
  main/public/images/media_postar_tmp.png
  main/public/images/syschismo.png
  main/public/images/topCarousel/Rectangle16.png
  main/public/images/topCarousel/uuyell-poster.png
  main/public/images/topCarousel/新歓サイトトップ画像1.png
Labels: main

feature u-labアイコンの位置変更
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleAd.tsx
  main/lib/enum/app/ImagePath.ts
  main/pages/guide/management-team.tsx
  main/public/images/Ulab_site_ad.jpg
  main/public/images/u-lab/u-lab-copy-light.png
  main/public/images/u-lab/u-lab-official-site-eye-catch.png
  main/public/images/u-lab/u-lab-rectangle-white.png
  main/public/images/ulab-event.png
Labels: main

feature u-labアイコンの位置変更
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleAd.tsx
  main/lib/enum/app/ImagePath.ts
  main/pages/guide/management-team.tsx
  main/public/images/Ulab_site_ad.jpg
  main/public/images/u-lab/u-lab-copy-light.png
  main/public/images/u-lab/u-lab-official-site-eye-catch.png
  main/public/images/u-lab/u-lab-rectangle-white.png
  main/public/images/ulab-event.png
Labels: main

Fix code style issues with Prettier
  main/lib/enum/app/ImagePath.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/guide/management-team.tsx
Labels: main

Fix code style issues with Prettier
  main/lib/enum/app/ImagePath.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/guide/management-team.tsx
Labels: main

feature altタグの付与
  main/pages/guide/management-team.tsx
Labels: main

feature altタグの付与
  main/pages/guide/management-team.tsx
Labels: main

fix
  admin/lib/utils/Gtag.ts
  circle/lib/utils/Gtag.ts
Labels: admin, circle

fix
  admin/lib/utils/Gtag.ts
  circle/lib/utils/Gtag.ts
Labels: admin, circle

Fix code style issues with Prettier
  admin/lib/utils/Gtag.ts
Labels: admin

Fix code style issues with Prettier
  circle/lib/utils/Gtag.ts
Labels: circle

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
