Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

refactor show circle
  main/src/components/pages/Circle/Show/Parts/AppealingPoint.tsx
  main/src/components/pages/Circle/Show/Parts/CircleTopInformation.tsx
  main/src/components/pages/Circle/Show/Parts/InformationCircleBesideNewJoyPC.tsx
  main/src/components/pages/Circle/Show/Parts/InformationCircleBesideNewJoyPCWithButton.tsx
  main/src/components/pages/Circle/Show/Parts/InformationCircleBesideNewJoySP.tsx
  main/src/components/pages/Circle/Show/Parts/InformationField.tsx
  main/src/components/pages/Circle/Show/Parts/NewJoyList.tsx
  main/src/components/pages/Circle/Show/Parts/ShowCircleTitle.tsx
  main/src/components/pages/Circle/Show/Parts/SnsList.tsx
  main/src/components/pages/Circle/Show/Parts/TopImage.tsx
  main/src/components/pages/Circle/Show/Parts/WpPostBlock.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
Labels: main

refactor show circle
  main/src/components/pages/Circle/Show/Parts/AppealingPoint.tsx
  main/src/components/pages/Circle/Show/Parts/CircleTopInformation.tsx
  main/src/components/pages/Circle/Show/Parts/InformationCircleBesideNewJoyPC.tsx
  main/src/components/pages/Circle/Show/Parts/InformationCircleBesideNewJoyPCWithButton.tsx
  main/src/components/pages/Circle/Show/Parts/InformationCircleBesideNewJoySP.tsx
  main/src/components/pages/Circle/Show/Parts/InformationField.tsx
  main/src/components/pages/Circle/Show/Parts/NewJoyList.tsx
  main/src/components/pages/Circle/Show/Parts/ShowCircleTitle.tsx
  main/src/components/pages/Circle/Show/Parts/SnsList.tsx
  main/src/components/pages/Circle/Show/Parts/TopImage.tsx
  main/src/components/pages/Circle/Show/Parts/WpPostBlock.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
Labels: main

refactor
  main/src/components/pages/CircleNewJoy/Show/Parts/InformationCircleBesideNewJoyPC.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/InformationCircleBesideNewJoyPCWithButton.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/InformationCircleBesideNewJoySP.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoyPcLayout.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoySpLayout.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

refactor
  main/src/components/pages/CircleNewJoy/Show/Parts/InformationCircleBesideNewJoyPC.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/InformationCircleBesideNewJoyPCWithButton.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/InformationCircleBesideNewJoySP.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoyPcLayout.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoySpLayout.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

update
  main/src/pages/circle/[slug]/index.tsx
Labels: main

update
  main/src/pages/circle/[slug]/index.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/organisms/List/BaseCircleList.tsx
  main/src/components/pages/Circle/Search/Parts/MainHeading.tsx
  main/src/components/pages/Circle/Search/Parts/RecommendCircleList.tsx
  main/src/components/pages/Circle/Search/Parts/SearchDescription.tsx
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/Parts/WpPostBlock.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoyPcLayout.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoySpLayout.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/search/[name].tsx
  main/src/pages/circle/tag/[tag].tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/organisms/List/BaseCircleList.tsx
  main/src/components/pages/Circle/Search/Parts/MainHeading.tsx
  main/src/components/pages/Circle/Search/Parts/RecommendCircleList.tsx
  main/src/components/pages/Circle/Search/Parts/SearchDescription.tsx
  main/src/components/pages/Circle/Search/SearchCircleByCategoryTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByFreeWordTemplate.tsx
  main/src/components/pages/Circle/Search/SearchCircleByTagTemplate.tsx
  main/src/components/pages/Circle/Show/Parts/WpPostBlock.tsx
  main/src/components/pages/Circle/Show/ShowCircleTemplate.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoyPcLayout.tsx
  main/src/components/pages/CircleNewJoy/Show/Parts/ShowCircleNewJoySpLayout.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/search/[name].tsx
  main/src/pages/circle/tag/[tag].tsx
Labels: main

fix path
  main/src/pages/circle/[slug]/newjoy.tsx
Labels: main

fix path
  main/src/pages/circle/[slug]/newjoy.tsx
Labels: main

fix path
  main/src/components/pages/Circle/Show/Parts/NewJoyList.tsx
Labels: main

fix path
  main/src/components/pages/Circle/Show/Parts/NewJoyList.tsx
Labels: main

Fix code style issues with Prettier
  main/src/pages/circle/[slug]/newjoy.tsx
Labels: main

Fix code style issues with Prettier
  main/src/pages/circle/[slug]/newjoy.tsx
Labels: main

feature /admin/user/circleを全てのユーザーを取得するように修正
  api/app/Http/Controllers/Admin/AllUser/Dto/IndexAllUserDto.php
  api/app/Http/Controllers/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Http/Controllers/Admin/AllUser/IndexAllUserController.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/AllUser/IndexAllUserControllerTest.php
Labels: api

feature /admin/user/circleを全てのユーザーを取得するように修正
  api/app/Http/Controllers/Admin/AllUser/Dto/IndexAllUserDto.php
  api/app/Http/Controllers/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Http/Controllers/Admin/AllUser/IndexAllUserController.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/AllUser/IndexAllUserControllerTest.php
Labels: api

fix pagination
  admin/infra/api/circle_user.ts
  admin/lib/types/model/User.ts
  admin/pages/user/circle/index.tsx
Labels: admin

fix pagination
  admin/infra/api/circle_user.ts
  admin/lib/types/model/User.ts
  admin/pages/user/circle/index.tsx
Labels: admin

refactor 実装の分離
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/hooks/usePageInput.ts
  admin/pages/user/circle/index.tsx
Labels: admin

refactor 実装の分離
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/hooks/usePageInput.ts
  admin/pages/user/circle/index.tsx
Labels: admin

feature scrollするようにした
  admin/pages/circle/index.tsx
Labels: admin

feature scrollするようにした
  admin/pages/circle/index.tsx
Labels: admin

fix /circle リスト
  admin/infra/api/circle.ts
  api/app/Http/Controllers/Admin/Circle/PaginateCircleController.php
  api/app/Usecases/Admin/IndexCircleUsecase.php
  api/routes/admin.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/PaginateCircleControllerTest.php
Labels: admin, api

fix /circle リスト
  admin/infra/api/circle.ts
  api/app/Http/Controllers/Admin/Circle/PaginateCircleController.php
  api/app/Usecases/Admin/IndexCircleUsecase.php
  api/routes/admin.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/PaginateCircleControllerTest.php
Labels: admin, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/AllUser/Dto/IndexAllUserDto.php
  api/app/Http/Controllers/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Http/Controllers/Admin/AllUser/IndexAllUserController.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/app/Usecases/Admin/IndexCircleUsecase.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/AllUser/Dto/IndexAllUserDto.php
  api/app/Http/Controllers/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Http/Controllers/Admin/AllUser/IndexAllUserController.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/app/Usecases/Admin/IndexCircleUsecase.php
Labels: api

Fix code style issues with Prettier
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/hooks/usePageInput.ts
  admin/infra/api/circle_user.ts
  admin/pages/circle/index.tsx
  admin/pages/user/circle/index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/hooks/usePageInput.ts
  admin/infra/api/circle_user.ts
  admin/pages/circle/index.tsx
  admin/pages/user/circle/index.tsx
Labels: admin

feature add accesibility
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/components/pages/circle/Index.tsx
Labels: admin

feature add accesibility
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/components/pages/circle/Index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
Labels: admin

update
  admin/package-lock.json
  admin/package.json
  admin/tailwind.config.js
Labels: admin, admin-package-json

update
  admin/package-lock.json
  admin/package.json
  admin/tailwind.config.js
Labels: admin, admin-package-json

fix
  admin/.eslintrc.json
  admin/components/atoms/form/SimplePasswordTextField.tsx
  admin/components/atoms/loading/SubmitLoading.tsx
  admin/components/layouts/BaseHeader.tsx
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/components/pages/circle/Index.tsx
  admin/hooks/useMediaQuery.ts
  admin/pages/circle/[id]/edit.tsx
Labels: admin

fix
  admin/.eslintrc.json
  admin/components/atoms/form/SimplePasswordTextField.tsx
  admin/components/atoms/loading/SubmitLoading.tsx
  admin/components/layouts/BaseHeader.tsx
  admin/components/pages/CircleUser/Index/AllCircleUsersTemplate.tsx
  admin/components/pages/circle/Index.tsx
  admin/hooks/useMediaQuery.ts
  admin/pages/circle/[id]/edit.tsx
Labels: admin

Fix code style issues with Prettier
  admin/.eslintrc.json
  admin/package.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  admin/.eslintrc.json
  admin/package.json
Labels: admin, admin-package-json

fix
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserDto.php
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/app/Usecases/Admin/AllUser/Params/IndexAllUserUsecaseParam.php
Labels: api

fix
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserDto.php
  api/app/Usecases/Admin/AllUser/Dto/IndexAllUserItemDto.php
  api/app/Usecases/Admin/AllUser/IndexAllUserUsecase.php
  api/app/Usecases/Admin/AllUser/Params/IndexAllUserUsecaseParam.php
Labels: api
