Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

add
  circle/package-lock.json
Labels: circle, circle-package-json

Fix code style issues with Prettier
  circle/package.json
Labels: circle, circle-package-json

fix google botのときwarningがでないように修正
  api/app/Http/Controllers/Main/Advertise/RedirectToAdvertiseLinkController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Advertise/RedirectToAdvertiseLinkController.php
Labels: api

feature bot対策
  admin/public/robots.txt
  api/app/Http/Controllers/Main/Advertise/RedirectToAdvertiseLinkController.php
  api/app/Http/Controllers/Main/Announcement/RedirectToAnnouncementLinkController.php
  circle/public/robots.txt
  main/public/robots.txt
Labels: admin, circle, main, api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Advertise/RedirectToAdvertiseLinkController.php
  api/app/Http/Controllers/Main/Announcement/RedirectToAnnouncementLinkController.php
Labels: api

refactor 管理者アカウントのリファクタ
  api/.idea/api.iml
  api/.idea/php.xml
  api/app/Http/Controllers/Admin/AdminUser/IndexAdminUserController.php
  api/app/Http/Controllers/Admin/AdminUser/UpdateAdminUserController.php
  api/app/Http/Controllers/Admin/Auth/RegisterAdminController.php
  api/app/Usecases/Admin/AdminUser/IndexAdminUserUsecase.php
  api/app/Usecases/Admin/AdminUser/RegisterAdminUserUsecase.php
  api/app/Usecases/Admin/AdminUser/UpdateAdminUserUsecase.php
Labels: api

refactor 管理者のサークル
  api/app/Http/Controllers/Admin/Circle/CreateCircleController.php
  api/app/Http/Controllers/Admin/Circle/IndexCircleController.php
  api/app/Http/Controllers/Admin/CircleUser/IndexCircleUserByUserIdController.php
  api/app/Http/Controllers/Admin/CircleUser/IndexCircleUserController.php
  api/app/Usecases/Admin/Circle/CreateCircleInvitationUsecase.php
  api/app/Usecases/Admin/Circle/CreateCircleUsecase.php
  api/app/Usecases/Admin/Circle/IndexCircleByUserIdUsecase.php
  api/app/Usecases/Admin/Circle/IndexCircleUsecase.php
  api/app/Usecases/Admin/Circle/UpdateCircleUsecase.php
  api/app/Usecases/Admin/CircleUser/IndexCircleUserUsecase.php
  api/app/Usecases/Admin/PaginateCircleUsecase.php
  api/app/Usecases/Admin/Params/PaginateCircleUsecaseParams.php
Labels: api

feature みやめしの記述を削除
  main/public/images/miyameshi-phone-top.jpg
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
Labels: main

update package
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

fix audit
  main/package-lock.json
Labels: main, main-package-json

fix operation md
  docs/operation.md
Labels: none

refactor ディレクトリ整理
  server/operation/2021_0317_Xserver_APIのシンボリックリンク/api.md
  server/operation/2021_0501_Xserver_API_メンテ用のhtaccessの追加/api-htaccess/.htaccess
  server/operation/2021_0501_Xserver_API_メンテ用のhtaccessの追加/api-htaccess/.htaccess.maintenance
  server/operation/2021_0501_Xserver_API_メンテ用のhtaccessの追加/api-htaccess/README.md
Labels: none

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

fix Str uuid
  api/app/Http/Requests/Admin/Advertise/CreateAdvertiseRequest.php
  api/app/Models/CircleInvitation.php
  api/app/Models/Identifier.php
  api/app/UseCases/AdminManagement/Announcement/CreateAnnouncementUsecase.php
  api/app/UseCases/Main/Gacha/DrawGachaUsecase.php
  api/database/factories/AdvertiseFactory.php
  api/database/migrations/2021_04_25_104951_add_slug_to_advertise.php
  api/database/seeders/AdvertisesTableSeeder.php
Labels: api, api-db, api-model

Apply fixes from StyleCI
  api/app/Http/Requests/Admin/Advertise/CreateAdvertiseRequest.php
  api/database/seeders/AdvertisesTableSeeder.php
Labels: api

feature php8
  api/.env.testing
  api/app/UseCases/Main/Gacha/DrawGachaUsecase.php
  api/composer.json
  api/composer.lock
  infra/docker/php/Dockerfile
  infra/docker/php/php.ini
Labels: api, api-composer-json

fix 管理者ではないときの処理追加
  api/app/Http/Controllers/Admin/CircleUser/DeleteCircleUserController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/CircleUser/DeleteCircleUserController.php
Labels: api

feature php constructor
  .vscode/settings.json
  api/.idea/php.xml
  api/.vscode/settings.json
  api/app/Http/Controllers/Main/Advertise/GetMainAdvertisesController.php
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaHistoryController.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Http/Controllers/Main/Sitemap/SitemapController.php
  api/app/Http/Controllers/Main/Statistics/StatisticsController.php
Labels: api

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Advertise/GetMainAdvertisesController.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Sitemap/SitemapController.php
Labels: api

feature add error.tsx
  main/src/pages/_error.tsx
Labels: main

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Advertise/GetMainAdvertisesController.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Sitemap/SitemapController.php
Labels: api

Fix code style issues with Prettier
  main/src/pages/_error.tsx
Labels: main

add error
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/newjoy.tsx
  main/src/pages/circle/newjoy/demo.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
Labels: main

feature リポジトリ移管に伴う作業
  .github/workflows/api.yml
  admin/package.json
  circle/package.json
  main/package.json
  main/src/pages/guide/management-team.tsx
Labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json

fix U-labからUUPHへの移行
  api/storage/memo/2021_03_common_date_count.sql
  api/storage/memo/2021_04_11_circleInformation_null.md
  api/storage/memo/2021_08_appealing_point_is_null_circles.sql
  main/public/images/uuph/logo.png
  main/public/images/uuph/logo.svg
  main/public/images/uuph/uuph_thumbnail.png
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
  main/src/lib/enum/app/ImagePath.ts
  main/src/pages/privacy.tsx
  main/src/pages/terms.tsx
Labels: main, api

Fix code style issues with Prettier
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
Labels: main

Develop/production (#463)
  api/storage/memo/2021_03_common_date_count.sql
  api/storage/memo/2021_04_11_circleInformation_null.md
  api/storage/memo/2021_08_appealing_point_is_null_circles.sql
  main/public/images/uuph/logo.png
  main/public/images/uuph/logo.svg
  main/public/images/uuph/uuph_thumbnail.png
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
  main/src/lib/enum/app/ImagePath.ts
  main/src/pages/privacy.tsx
  main/src/pages/terms.tsx
Labels: main, api

fix
  .github/workflows/api.yml
Labels: none

docs add operation
  server/operation/2022_0302_Xserver_APIのシンボリックリンク copy/api.md
Labels: none

update package
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

update package
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

Update README.md
  README.md
Labels: none

fix newjoy-link
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
Labels: main

fix main-newjoy-link
  main/src/components/pages/CircleNewJoy/Today/IndexTodayCircleNewJoyTemplate.tsx
Labels: main

fix
  README.md
Labels: none

Update README.md
  README.md
Labels: none

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
