Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

chore analyzeの追加
  main/next.config.js
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

chore analyzeの追加
  main/next.config.js
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/components/pages/Circle/ShowCircleTemplate.tsx
  main/lib/enum/app/ApiUrl.ts
  main/next.config.js
Labels: main

Fix code style issues with Prettier
  main/components/pages/Circle/ShowCircleTemplate.tsx
  main/lib/enum/app/ApiUrl.ts
  main/next.config.js
Labels: main

feature update package
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

feature update package
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
Labels: main, main-package-json

fix design
  main/components/organisms/Statistics/StatisticsOtherView.tsx
Labels: main

fix design
  main/components/organisms/Statistics/StatisticsOtherView.tsx
Labels: main

feature serverの実装追加
  main/.eslintrc.json
  main/lib/enum/app/SocketIoEvent.ts
  main/package-lock.json
  main/package.json
  main/server/index.ts
Labels: main, main-package-json

feature serverの実装追加
  main/.eslintrc.json
  main/lib/enum/app/SocketIoEvent.ts
  main/package-lock.json
  main/package.json
  main/server/index.ts
Labels: main, main-package-json

feature jestのtypesを追加
  main/.eslintrc.json
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

feature jestのtypesを追加
  main/.eslintrc.json
  main/package-lock.json
  main/package.json
Labels: main, main-package-json

feature colorsをsrc/stylesに移動
  main/next.config.js
  main/package-lock.json
  main/package.json
  main/src/components/layouts/BaseHeader.tsx
  main/src/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/src/components/organisms/ShowCircle/AppealingPoint.tsx
  main/src/components/organisms/ShowCircle/CircleTopInformation.tsx
  main/src/components/organisms/ShowCircle/SnsList.tsx
  main/src/components/organisms/Statistics/StatisticsOtherView.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/styles/colors.js
  main/tailwind.config.js
Labels: main, main-package-json

feature colorsをsrc/stylesに移動
  main/next.config.js
  main/package-lock.json
  main/package.json
  main/src/components/layouts/BaseHeader.tsx
  main/src/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/src/components/organisms/ShowCircle/AppealingPoint.tsx
  main/src/components/organisms/ShowCircle/CircleTopInformation.tsx
  main/src/components/organisms/ShowCircle/SnsList.tsx
  main/src/components/organisms/Statistics/StatisticsOtherView.tsx
  main/src/components/pages/Circle/ShowCircleTemplate.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/styles/colors.js
  main/tailwind.config.js
Labels: main, main-package-json

feature infraのディレクトリ移動
  main/src/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
  main/src/lib/infra/api/advertise.ts
  main/src/lib/infra/api/circle.ts
  main/src/lib/infra/api/circleNewJoy.ts
  main/src/lib/infra/api/error.ts
  main/src/lib/infra/api/gacha.ts
  main/src/lib/infra/api/identification.ts
  main/src/lib/infra/api/index.ts
  main/src/lib/infra/api/linkConst.ts
  main/src/lib/infra/api/main.ts
  main/src/lib/infra/api/statistics.ts
  main/src/pages/_app.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/index.tsx
  main/src/pages/circle/newjoy.tsx
  main/src/pages/circle/newjoy/demo.tsx
  main/src/pages/circle/search/[name].tsx
  main/src/pages/circle/tag/[tag].tsx
  main/src/pages/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/index.tsx
  main/src/pages/sitemap.xml.tsx
  main/src/pages/statistics.tsx
Labels: main

feature infraのディレクトリ移動
  main/src/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/src/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/src/components/pages/Newjoy/NewjoyTemplate.tsx
  main/src/lib/infra/api/advertise.ts
  main/src/lib/infra/api/circle.ts
  main/src/lib/infra/api/circleNewJoy.ts
  main/src/lib/infra/api/error.ts
  main/src/lib/infra/api/gacha.ts
  main/src/lib/infra/api/identification.ts
  main/src/lib/infra/api/index.ts
  main/src/lib/infra/api/linkConst.ts
  main/src/lib/infra/api/main.ts
  main/src/lib/infra/api/statistics.ts
  main/src/pages/_app.tsx
  main/src/pages/circle/[slug]/index.tsx
  main/src/pages/circle/[slug]/newjoy.tsx
  main/src/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/src/pages/circle/[slug]/newjoy/demo/index.tsx
  main/src/pages/circle/category/[category].tsx
  main/src/pages/circle/index.tsx
  main/src/pages/circle/newjoy.tsx
  main/src/pages/circle/newjoy/demo.tsx
  main/src/pages/circle/search/[name].tsx
  main/src/pages/circle/tag/[tag].tsx
  main/src/pages/demo/index.tsx
  main/src/pages/gacha/draw/1.tsx
  main/src/pages/gacha/draw/5.tsx
  main/src/pages/gacha/history.tsx
  main/src/pages/gacha/index.tsx
  main/src/pages/gacha/result/[gachaHash].tsx
  main/src/pages/index.tsx
  main/src/pages/sitemap.xml.tsx
  main/src/pages/statistics.tsx
Labels: main

feature やっぱりexpressいらない
  main/src/pages/index.tsx
  main/src/server/index.ts
Labels: main

feature やっぱりexpressいらない
  main/src/pages/index.tsx
  main/src/server/index.ts
Labels: main

fix
  main/package.json
Labels: main, main-package-json

fix
  main/package.json
Labels: main, main-package-json

add pusher
  api/.idea/api.iml
  api/.idea/php.xml
  api/composer.json
  api/composer.lock
  main/package-lock.json
  main/package.json
  main/src/pages/index.tsx
Labels: main, main-package-json, api, api-composer-json

add pusher
  api/.idea/api.iml
  api/.idea/php.xml
  api/composer.json
  api/composer.lock
  main/package-lock.json
  main/package.json
  main/src/pages/index.tsx
Labels: main, main-package-json, api, api-composer-json

調整
  api/app/Enum/BroadCastProperty/BroadCastProperty.php
  api/app/Events/Arg/TestPusherEventArg.php
  api/app/Events/TestPusherEvent.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/config/app.php
  api/routes/api.php
  api/routes/channels.php
  main/local-remove.sh
  main/next.config.js
  main/src/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/src/pages/index.tsx
Labels: main, api

調整
  api/app/Enum/BroadCastProperty/BroadCastProperty.php
  api/app/Events/Arg/TestPusherEventArg.php
  api/app/Events/TestPusherEvent.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/config/app.php
  api/routes/api.php
  api/routes/channels.php
  main/local-remove.sh
  main/next.config.js
  main/src/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/src/pages/index.tsx
Labels: main, api

update
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainDemoUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/pages/demo/index.tsx
  main/src/pages/index.tsx
Labels: main

update
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainDemoUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainHead.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopCarousel.tsx
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/usePagePosition.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/pages/demo/index.tsx
  main/src/pages/index.tsx
Labels: main

fix
  api/app/Events/Arg/TestPusherEventArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/hooks/usePagePosition.ts
  main/src/pages/index.tsx
Labels: main, api

fix
  api/app/Events/Arg/TestPusherEventArg.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/hooks/usePagePosition.ts
  main/src/pages/index.tsx
Labels: main, api

feature 実装修正
  api/app/Events/TestPusherEvent.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
  api/app/Models/PagePositionHistory.php
  main/.node-version
  main/local-remove.sh
  main/package-lock.json
  main/package.json
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/usePagePosition.ts
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
Labels: main, main-package-json, api, api-model

feature 実装修正
  api/app/Events/TestPusherEvent.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
  api/app/Models/PagePositionHistory.php
  main/.node-version
  main/local-remove.sh
  main/package-lock.json
  main/package.json
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/usePagePosition.ts
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
Labels: main, main-package-json, api, api-model

update
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/model/PagePosition.ts
Labels: main, api

update
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/hooks/usePagePosition.ts
  main/src/lib/types/model/PagePosition.ts
Labels: main, api

refactor イベント名修正
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

refactor イベント名修正
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
Labels: api

refactor change var
  api/app/Enum/BroadCastProperty/BroadCastProperty.php
  api/app/Events/SendPagePosition.php
  api/routes/channels.php
  main/src/hooks/usePagePosition.ts
Labels: main, api

refactor change var
  api/app/Enum/BroadCastProperty/BroadCastProperty.php
  api/app/Events/SendPagePosition.php
  api/routes/channels.php
  main/src/hooks/usePagePosition.ts
Labels: main, api

update
  api/app/Console/Kernel.php
  api/database/migrations/2021_08_07_105300_create_page_position_histories_table.php
  api/database/migrations/2021_08_09_105454_create_jobs_table.php
Labels: api, api-db

update
  api/app/Console/Kernel.php
  api/database/migrations/2021_08_07_105300_create_page_position_histories_table.php
  api/database/migrations/2021_08_09_105454_create_jobs_table.php
Labels: api, api-db
