Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

feature add page
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

feature add page
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

add
  main/infra/api/gacha.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

add
  main/infra/api/gacha.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

Fix code style issues with Prettier
  main/infra/api/gacha.ts
Labels: main

Fix code style issues with Prettier
  main/infra/api/gacha.ts
Labels: main

feature gacha resultの追加
  main/infra/api/gacha.ts
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

feature gacha resultの追加
  main/infra/api/gacha.ts
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

add
  main/infra/api/gacha.ts
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
  main/styles/index.css
Labels: main

add
  main/infra/api/gacha.ts
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
  main/styles/index.css
Labels: main

add
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

add
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/infra/api/gacha.ts
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/infra/api/gacha.ts
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
Labels: api

fix
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
Labels: api

Fix code style issues with Prettier
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix test
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaDrawControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaResultControllerTest.php
Labels: api

fix test
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaDrawControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaResultControllerTest.php
Labels: api

feature sns shareの追加
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

feature sns shareの追加
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

remove
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

remove
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

fix image path
  api/database/seeders/CirclesTableSeeder.php
Labels: api

fix image path
  api/database/seeders/CirclesTableSeeder.php
Labels: api

fix Youtube Responsibe
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix Youtube Responsibe
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: main

fix pickupの修正
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleGachaPickupProperty.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Models/CircleGachaPickup.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  api/database/migrations/2021_07_13_112008_create_circle_gacha_pickups_table.php
Labels: api, api-db, api-model

fix pickupの修正
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleGachaPickupProperty.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Models/CircleGachaPickup.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  api/database/migrations/2021_07_13_112008_create_circle_gacha_pickups_table.php
Labels: api, api-db, api-model

fix key
  api/app/Usecases/Main/Gacha/GachaPickupListKey.php
Labels: api

fix key
  api/app/Usecases/Main/Gacha/GachaPickupListKey.php
Labels: api

fix key
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
Labels: api

fix key
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
Labels: api

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
