Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

update
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
Labels: admin, main

update
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
Labels: admin, main

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  main/src/lib/types/api/CreatePagePositionRequest.ts
Labels: main

Fix code style issues with Prettier
  main/src/lib/types/api/CreatePagePositionRequest.ts
Labels: main

update
  main/src/hooks/usePagePosition.ts
Labels: main

update
  main/src/hooks/usePagePosition.ts
Labels: main

feature 画面幅の記録をできるようにした
  api/app/Enum/Property/PagePositionHistoryProperty.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
  api/app/Models/PagePositionHistory.php
  api/database/migrations/2021_08_09_184208_add_column_to_page_position_histories.php
Labels: api, api-db, api-model

feature 画面幅の記録をできるようにした
  api/app/Enum/Property/PagePositionHistoryProperty.php
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/app/Http/Requests/Main/PagePosition/CreatePagePositionRequest.php
  api/app/Models/PagePositionHistory.php
  api/database/migrations/2021_08_09_184208_add_column_to_page_position_histories.php
Labels: api, api-db, api-model

update
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
Labels: admin, circle, main

update
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
  main/src/lib/types/api/CreatePagePositionRequest.ts
Labels: admin, circle, main

feature heightの追加
  main/src/hooks/usePagePosition.ts
Labels: main

feature heightの追加
  main/src/hooks/usePagePosition.ts
Labels: main

update
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  main/src/hooks/usePagePosition.ts
Labels: main, api

update
  api/app/Events/Arg/PagePositions.php
  api/app/Events/SendPagePosition.php
  main/src/hooks/usePagePosition.ts
Labels: main, api

update
  main/src/pages/circle/index.tsx
Labels: main

update
  main/src/pages/circle/index.tsx
Labels: main

update
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Index/Parts/CircleLengthView.tsx
  main/src/components/pages/Circle/Index/Parts/SearchCircle.tsx
  main/src/pages/circle/index.tsx
Labels: main

update
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Index/Parts/CircleLengthView.tsx
  main/src/components/pages/Circle/Index/Parts/SearchCircle.tsx
  main/src/pages/circle/index.tsx
Labels: main

update
  main/src/pages/circle/index.tsx
Labels: main

update
  main/src/pages/circle/index.tsx
Labels: main

fix
  main/src/hooks/usePagePosition.ts
Labels: main

fix
  main/src/hooks/usePagePosition.ts
Labels: main

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/database/migrations/2021_08_09_184208_add_column_to_page_position_histories.php
Labels: api, api-db

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Fix code style issues with Prettier
  admin/lib/types/api/AdminPutStorageRequest.ts
  admin/lib/types/api/CreateAdvertiseRequest.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/CreateCircleFormRequest.ts
  admin/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  admin/lib/types/api/ForgotPasswordAdminRequest.ts
  admin/lib/types/api/LoginAdminFormRequest.ts
  admin/lib/types/api/RegisterAdminFormRequest.ts
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/RegisterCircleUserRequest.ts
  admin/lib/types/api/RegisterDemoCircleNewJoyRequest.ts
  admin/lib/types/api/ResetPasswordAdminRequest.ts
  admin/lib/types/api/UpdateAdminUserRequest.ts
  admin/lib/types/api/UpdateAdvertiseRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleUserRequest.ts
  admin/lib/types/api/UpdateDemoCircleNewJoyRequest.ts
  admin/lib/types/api/VerificationConfirmRequest.ts
  admin/lib/types/api/VerificationResendAdminUserFormRequest.ts
Labels: admin

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/database/migrations/2021_08_09_184208_add_column_to_page_position_histories.php
Labels: api, api-db

Apply fixes from StyleCI
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  api/database/migrations/2021_08_09_184208_add_column_to_page_position_histories.php
Labels: api, api-db

Fix code style issues with Prettier
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Index/Parts/CircleLengthView.tsx
  main/src/components/pages/Circle/Index/Parts/SearchCircle.tsx
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/circle/index.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/pages/Circle/Index/IndexCircleTemplate.tsx
  main/src/components/pages/Circle/Index/Parts/CircleLengthView.tsx
  main/src/components/pages/Circle/Index/Parts/SearchCircle.tsx
  main/src/lib/types/api/CreatePagePositionRequest.ts
  main/src/pages/circle/index.tsx
Labels: main

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

Fix code style issues with Prettier
  circle/lib/types/api/CirclePutStorageRequest.ts
  circle/lib/types/api/CreateOrUpdateCircleTagRequest.ts
  circle/lib/types/api/ForgotPasswordCircleRequest.ts
  circle/lib/types/api/ImportCircleUserRequest.ts
  circle/lib/types/api/LoginCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleFormRequest.ts
  circle/lib/types/api/RegisterCircleNewJoyRequest.ts
  circle/lib/types/api/RegisterCircleUserRequest.ts
  circle/lib/types/api/ResetPasswordCircleRequest.ts
  circle/lib/types/api/UpdateCircleFormRequest.ts
  circle/lib/types/api/UpdateCircleNewJoyRequest.ts
  circle/lib/types/api/UpdateCircleUserRequest.ts
  circle/lib/types/api/UpdateOwnUserRequest.ts
  circle/lib/types/api/VerificationEmailCircleUserRequest.ts
  circle/lib/types/api/VerificationResendCircleUserFormRequest.ts
Labels: circle

refactor 戻り値を指定するようにした
  main/src/hooks/useDelayedEffect.ts
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/useInput.ts
  main/src/hooks/useMediaQuery.ts
  main/src/hooks/usePagePosition.ts
  main/src/hooks/useWindowResize.ts
  main/src/lib/infra/api/circleNewJoy.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/pages/_app.tsx
Labels: main

refactor 戻り値を指定するようにした
  main/src/hooks/useDelayedEffect.ts
  main/src/hooks/useFetchUuYell.ts
  main/src/hooks/useInput.ts
  main/src/hooks/useMediaQuery.ts
  main/src/hooks/usePagePosition.ts
  main/src/hooks/useWindowResize.ts
  main/src/lib/infra/api/circleNewJoy.ts
  main/src/lib/infra/api/pagePosition.ts
  main/src/pages/_app.tsx
Labels: main

feature クエリの結合と修正
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/hooks/usePagePosition.ts
Labels: main, api

feature クエリの結合と修正
  api/app/Http/Controllers/Main/PagePosition/CreatePagePositionController.php
  main/src/hooks/usePagePosition.ts
Labels: main, api

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
