Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

Fix code style issues with Prettier
  main/pages/index.tsx
Labels: main

Fix code style issues with Prettier
  main/pages/index.tsx
Labels: main

refactor enumのnamespaceを修正
  admin/components/molecules/list_items/CircleListItem.tsx
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
  admin/components/organisms/form/Circle/Parts/CommonInfoEditCircleForm.tsx
  admin/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/components/organisms/form/CircleNewJoy/EditCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/components/pages/circle/Index.tsx
  admin/lang/ja.ts
  circle/components/molecules/Badge/CircleTypeBadge.tsx
  circle/components/organisms/Form/Circle/Parts/ActivityEditCircleForm.tsx
  circle/components/organisms/Form/Circle/Parts/CommonInfoEditCircleForm.tsx
  circle/components/organisms/Form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  circle/components/organisms/Form/CircleNewJoy/EditCircleNewJoyForm.tsx
  circle/lang/ja.ts
  main/components/layouts/BaseFooter.tsx
  main/components/molecules/Badge/CircleTypeBadge.tsx
  main/components/organisms/Circles/CircleSidebar.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/components/organisms/Statistics/StatisticsOtherView.tsx
  main/lang/ja.ts
Labels: admin, circle, main

refactor enumのnamespaceを修正
  admin/components/molecules/list_items/CircleListItem.tsx
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
  admin/components/organisms/form/Circle/Parts/CommonInfoEditCircleForm.tsx
  admin/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/components/organisms/form/CircleNewJoy/EditCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/components/pages/circle/Index.tsx
  admin/lang/ja.ts
  circle/components/molecules/Badge/CircleTypeBadge.tsx
  circle/components/organisms/Form/Circle/Parts/ActivityEditCircleForm.tsx
  circle/components/organisms/Form/Circle/Parts/CommonInfoEditCircleForm.tsx
  circle/components/organisms/Form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  circle/components/organisms/Form/CircleNewJoy/EditCircleNewJoyForm.tsx
  circle/lang/ja.ts
  main/components/layouts/BaseFooter.tsx
  main/components/molecules/Badge/CircleTypeBadge.tsx
  main/components/organisms/Circles/CircleSidebar.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/components/organisms/Statistics/StatisticsOtherView.tsx
  main/lang/ja.ts
Labels: admin, circle, main

Fix code style issues with Prettier
  admin/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  admin/__tests__/lib/enum/api/CircleTagModel.spec.ts
  admin/__tests__/lib/enum/api/CircleType.spec.ts
  admin/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  admin/components/pages/circle/Index.tsx
  admin/lib/enum/api/AdvertiseType.ts
  admin/lib/enum/api/AnnouncementType.ts
  admin/lib/enum/api/CategorySlugProperty.ts
  admin/lib/enum/api/CircleTagModel.ts
  admin/lib/enum/api/CircleType.ts
  admin/lib/enum/api/DateOfActivity.ts
  admin/lib/enum/api/DemoCircleNewjoyType.ts
  admin/lib/enum/api/Importance.ts
  admin/lib/enum/api/PlaceOfActivity.ts
  admin/lib/enum/api/TagSlugProperty.ts
Labels: admin

Fix code style issues with Prettier
  admin/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  admin/__tests__/lib/enum/api/CircleTagModel.spec.ts
  admin/__tests__/lib/enum/api/CircleType.spec.ts
  admin/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  admin/components/pages/circle/Index.tsx
  admin/lib/enum/api/AdvertiseType.ts
  admin/lib/enum/api/AnnouncementType.ts
  admin/lib/enum/api/CategorySlugProperty.ts
  admin/lib/enum/api/CircleTagModel.ts
  admin/lib/enum/api/CircleType.ts
  admin/lib/enum/api/DateOfActivity.ts
  admin/lib/enum/api/DemoCircleNewjoyType.ts
  admin/lib/enum/api/Importance.ts
  admin/lib/enum/api/PlaceOfActivity.ts
  admin/lib/enum/api/TagSlugProperty.ts
Labels: admin

Fix code style issues with Prettier
  main/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/CircleType.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/components/molecules/Badge/CircleTypeBadge.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/TagSlugProperty.ts
Labels: main

Fix code style issues with Prettier
  main/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/CircleType.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/components/molecules/Badge/CircleTypeBadge.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/TagSlugProperty.ts
Labels: main

Fix code style issues with Prettier
  circle/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  circle/__tests__/lib/enum/api/CircleTagModel.spec.ts
  circle/__tests__/lib/enum/api/CircleType.spec.ts
  circle/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  circle/components/molecules/Badge/CircleTypeBadge.tsx
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/TagSlugProperty.ts
Labels: circle

Fix code style issues with Prettier
  circle/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  circle/__tests__/lib/enum/api/CircleTagModel.spec.ts
  circle/__tests__/lib/enum/api/CircleType.spec.ts
  circle/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  circle/components/molecules/Badge/CircleTypeBadge.tsx
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/TagSlugProperty.ts
Labels: circle

fix
  admin/components/pages/circle/Index.tsx
Labels: admin

fix
  admin/components/pages/circle/Index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
Labels: admin

fix
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Announcement/HeaderAnnouncement.tsx
  main/components/organisms/Circles/RecommendTagList.tsx
  main/components/organisms/Main/MainTagList.tsx
  main/lang/ja.ts
Labels: main

fix
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Announcement/HeaderAnnouncement.tsx
  main/components/organisms/Circles/RecommendTagList.tsx
  main/components/organisms/Main/MainTagList.tsx
  main/lang/ja.ts
Labels: main

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/pages/circle/Index.tsx
Labels: admin

Fix code style issues with Prettier
  main/components/organisms/Announcement/HeaderAnnouncement.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Announcement/HeaderAnnouncement.tsx
Labels: main

add
  main/components/organisms/Circles/CircleSidebar.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemPC.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemSP.tsx
  main/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
Labels: main

add
  main/components/organisms/Circles/CircleSidebar.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemPC.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemSP.tsx
  main/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
Labels: main

Fix code style issues with Prettier
  admin/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  admin/__tests__/lib/enum/api/CircleTagModel.spec.ts
  admin/__tests__/lib/enum/api/CircleType.spec.ts
  admin/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  admin/lib/enum/api/AdvertiseType.ts
  admin/lib/enum/api/AnnouncementType.ts
  admin/lib/enum/api/CategorySlugProperty.ts
  admin/lib/enum/api/CircleTagModel.ts
  admin/lib/enum/api/CircleType.ts
  admin/lib/enum/api/DateOfActivity.ts
  admin/lib/enum/api/DemoCircleNewjoyType.ts
  admin/lib/enum/api/Importance.ts
  admin/lib/enum/api/PlaceOfActivity.ts
  admin/lib/enum/api/TagSlugProperty.ts
Labels: admin

Fix code style issues with Prettier
  admin/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  admin/__tests__/lib/enum/api/CircleTagModel.spec.ts
  admin/__tests__/lib/enum/api/CircleType.spec.ts
  admin/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  admin/lib/enum/api/AdvertiseType.ts
  admin/lib/enum/api/AnnouncementType.ts
  admin/lib/enum/api/CategorySlugProperty.ts
  admin/lib/enum/api/CircleTagModel.ts
  admin/lib/enum/api/CircleType.ts
  admin/lib/enum/api/DateOfActivity.ts
  admin/lib/enum/api/DemoCircleNewjoyType.ts
  admin/lib/enum/api/Importance.ts
  admin/lib/enum/api/PlaceOfActivity.ts
  admin/lib/enum/api/TagSlugProperty.ts
Labels: admin

Fix code style issues with Prettier
  main/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/CircleType.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Circles/CircleSidebar.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/lang/ja.ts
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/tag/[tag].tsx
Labels: main

Fix code style issues with Prettier
  main/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/CircleType.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Circles/CircleSidebar.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/lang/ja.ts
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/tag/[tag].tsx
Labels: main

Fix code style issues with Prettier
  circle/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  circle/__tests__/lib/enum/api/CircleTagModel.spec.ts
  circle/__tests__/lib/enum/api/CircleType.spec.ts
  circle/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/TagSlugProperty.ts
Labels: circle

Fix code style issues with Prettier
  circle/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  circle/__tests__/lib/enum/api/CircleTagModel.spec.ts
  circle/__tests__/lib/enum/api/CircleType.spec.ts
  circle/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/TagSlugProperty.ts
Labels: circle

fix
  main/lang/ja.ts
Labels: main

fix
  main/lang/ja.ts
Labels: main

feature 今日の新歓はありませんでしたを出力しないようにする
  batch/newjoy_notification/bot.py
Labels: batch

feature 今日の新歓はありませんでしたを出力しないようにする
  batch/newjoy_notification/bot.py
Labels: batch

feature デモ画面であることがわかるようにした
  main/components/pages/Circle/ShowCircleTemplate.tsx
  main/lib/types/model/Circle.ts
  main/pages/circle/[slug]/index.tsx
Labels: main

feature デモ画面であることがわかるようにした
  main/components/pages/Circle/ShowCircleTemplate.tsx
  main/lib/types/model/Circle.ts
  main/pages/circle/[slug]/index.tsx
Labels: main

feature uu-yellのURLをenumにした
  main/lib/enum/app/ApiUrl.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/demo/index.tsx
  main/pages/guide/to-new-students.tsx
  main/pages/index.tsx
Labels: main

feature uu-yellのURLをenumにした
  main/lib/enum/app/ApiUrl.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/demo/index.tsx
  main/pages/guide/to-new-students.tsx
  main/pages/index.tsx
Labels: main

feature uu-yellのタグをenumか
  main/lib/enum/app/UuYellTagNumber.ts
  main/pages/demo/index.tsx
  main/pages/guide/to-new-students.tsx
  main/pages/index.tsx
Labels: main

feature uu-yellのタグをenumか
  main/lib/enum/app/UuYellTagNumber.ts
  main/pages/demo/index.tsx
  main/pages/guide/to-new-students.tsx
  main/pages/index.tsx
Labels: main

remove
  main/lib/enum/app/Category.ts
Labels: main

remove
  main/lib/enum/app/Category.ts
Labels: main

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
