Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

Fix code style issues with Prettier
  main/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/circleNewJoy.ts
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/circleNewJoy.ts
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
Labels: main

fix uu-manager
  Makefile
  README.md
  admin/components/layouts/AuthHeader.tsx
  admin/components/layouts/BaseHeader.tsx
  admin/package.json
Labels: admin, admin-package-json

fix uu-manager
  Makefile
  README.md
  admin/components/layouts/AuthHeader.tsx
  admin/components/layouts/BaseHeader.tsx
  admin/package.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  admin/package.json
Labels: admin, admin-package-json

Fix code style issues with Prettier
  admin/package.json
Labels: admin, admin-package-json

feature management-teamの追加
  main/next-env.d.ts
  main/next.config.js
  main/package-lock.json
  main/package.json
  main/pages/guide/management-team.tsx
Labels: main, main-package-json

fix
  main/pages/guide/management-team.tsx
Labels: main

feature 画像の位置変更
  main/lib/enum/app/ImagePath.ts
  main/pages/guide/management-team.tsx
  main/public/images/uu-circles2020/uucircle2020-main.png
Labels: main

fix
  main/public/manifest.json
Labels: main

fix design
  main/components/pages/Main/Head.tsx
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/newjoy.tsx
  main/pages/circle/search/[name].tsx
  main/pages/demo/index.tsx
  main/pages/guide/discord.tsx
  main/pages/guide/management-team.tsx
  main/pages/guide/qanda.tsx
  main/pages/guide/to-new-students.tsx
  main/pages/index.tsx
  main/pages/privacy.tsx
  main/pages/statistics.tsx
  main/pages/terms.tsx
Labels: main

Fix code style issues with Prettier
  admin/package.json
Labels: admin, admin-package-json

fix
  main/next-env.d.ts
Labels: main

Fix code style issues with Prettier
  main/components/pages/Main/Head.tsx
  main/lib/enum/app/ImagePath.ts
  main/next.config.js
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
  main/pages/guide/management-team.tsx
  main/pages/statistics.tsx
Labels: main

fix
  main/global.d.ts
  main/lib/utils/Gtag.ts
  main/next-env.d.ts
Labels: main

Fix code style issues with Prettier
  main/lib/utils/Gtag.ts
Labels: main

add
  main/lib/enum/app/ImagePath.ts
  main/pages/guide/management-team.tsx
  main/public/images/uu-circles2020/uucircle2020-main.png
  main/public/manifest.json
Labels: main

add
  main/lib/enum/app/ImagePath.ts
  main/pages/guide/management-team.tsx
  main/public/images/uu-circles2020/uucircle2020-main.png
  main/public/manifest.json
Labels: main

fix design
  main/package-lock.json
  main/package.json
  main/pages/guide/management-team.tsx
Labels: main, main-package-json

fix design
  main/package-lock.json
  main/package.json
  main/pages/guide/management-team.tsx
Labels: main, main-package-json

fix footer name
  main/components/layouts/BaseFooter.tsx
Labels: main

fix footer name
  main/components/layouts/BaseFooter.tsx
Labels: main

Fix code style issues with Prettier
  main/package.json
  main/pages/guide/management-team.tsx
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
  main/pages/guide/management-team.tsx
Labels: main, main-package-json

fix
  main/pages/guide/management-team.tsx
Labels: main

fix
  main/pages/guide/management-team.tsx
Labels: main

fix name
  main/public/images/uu-circles2020/uu-circles2020-main.png
Labels: main

fix name
  main/public/images/uu-circles2020/uu-circles2020-main.png
Labels: main

add image
  main/lib/enum/app/ImagePath.ts
  main/pages/guide/management-team.tsx
  main/public/images/uu-circles/u-lab-uu-circles-services.png
Labels: main

add image
  main/lib/enum/app/ImagePath.ts
  main/pages/guide/management-team.tsx
  main/public/images/uu-circles/u-lab-uu-circles-services.png
Labels: main

fix
  main/package-lock.json
Labels: main, main-package-json

fix
  main/package-lock.json
Labels: main, main-package-json

fix design
  main/pages/gacha/index.tsx
Labels: main

fix design
  main/pages/gacha/index.tsx
Labels: main

update
  main/infra/api/gacha.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/index.tsx
Labels: main

update
  main/infra/api/gacha.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/index.tsx
Labels: main

feature ガチャを引けるようになった
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  main/infra/api/gacha.ts
  main/package-lock.json
  main/package.json
  main/pages/_app.tsx
  main/pages/gacha/draw/1.tsx
Labels: main, main-package-json, api

feature ガチャを引けるようになった
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  main/infra/api/gacha.ts
  main/package-lock.json
  main/package.json
  main/pages/_app.tsx
  main/pages/gacha/draw/1.tsx
Labels: main, main-package-json, api

Fix code style issues with Prettier
  main/infra/api/gacha.ts
  main/pages/gacha/draw/1.tsx
Labels: main

Fix code style issues with Prettier
  main/infra/api/gacha.ts
  main/pages/gacha/draw/1.tsx
Labels: main

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml
