Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

add seeder
  api/app/Enum/CircleType.php
  api/app/Enum/SlugProperty/AnnouncementPlaceQuerySlugProperty.php
  api/app/Enum/SlugProperty/CategorySlugProperty.php
  api/app/Enum/SlugProperty/TagSlugProperty.php
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/TagPageViewsSeeder.php
Labels: api

add seeder
  api/app/Enum/CircleType.php
  api/app/Enum/SlugProperty/AnnouncementPlaceQuerySlugProperty.php
  api/app/Enum/SlugProperty/CategorySlugProperty.php
  api/app/Enum/SlugProperty/TagSlugProperty.php
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/TagPageViewsSeeder.php
Labels: api

Apply fixes from StyleCI
  api/database/seeders/TagPageViewsSeeder.php
Labels: api

Apply fixes from StyleCI
  api/database/seeders/TagPageViewsSeeder.php
Labels: api

Fix code style issues with Prettier
  main/package.json
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/top_buttons_id_list.ts
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/lib/enum/app/ImagePath.ts
Labels: main, main-package-json

Fix code style issues with Prettier
  main/package.json
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/Parts/MainSponsorshipFooter.tsx
  main/src/components/pages/Main/Parts/MainTagList.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/MainUucircleTopButtons.tsx
  main/src/components/pages/Main/Parts/MainUucircleTopButtons/top_buttons_id_list.ts
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/lib/enum/app/ImagePath.ts
Labels: main, main-package-json

feature uta iconの追加
  main/public/images/uta/uta-blue.png
  main/public/images/uta/uta-gray.png
  main/public/images/uta/uta-green.png
  main/public/images/uta/uta-orange.png
  main/public/images/uta/uta-pink.png
  main/public/images/uta/uta-purple.png
  main/public/images/uta/uta-yellow.png
  main/src/lib/enum/app/ImagePath.ts
Labels: main

feature uta iconの追加
  main/public/images/uta/uta-blue.png
  main/public/images/uta/uta-gray.png
  main/public/images/uta/uta-green.png
  main/public/images/uta/uta-orange.png
  main/public/images/uta/uta-pink.png
  main/public/images/uta/uta-purple.png
  main/public/images/uta/uta-yellow.png
  main/src/lib/enum/app/ImagePath.ts
Labels: main

update random uta color
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/database/seeders/CirclesTableSeeder.php
  api/database/seeders/TagPageViewsSeeder.php
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/atoms/utas/utaColorList.ts
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/hooks/usePagePosition.ts
  main/src/pages/demo/index.tsx
Labels: main, api

update random uta color
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/database/seeders/CirclesTableSeeder.php
  api/database/seeders/TagPageViewsSeeder.php
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/atoms/utas/utaColorList.ts
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
  main/src/components/pages/Main/MainTemplate.tsx
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/components/pages/Main/computedPagePositionIdNowLength.ts
  main/src/hooks/usePagePosition.ts
  main/src/pages/demo/index.tsx
Labels: main, api

Apply fixes from StyleCI
  api/database/seeders/TagPageViewsSeeder.php
Labels: api

Fix code style issues with Prettier
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/atoms/utas/utaColorList.ts
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/pages/demo/index.tsx
Labels: main

fix
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/organisms/Statistics/StatisticsButtonGroup.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
  main/src/pages/privacy.tsx
  main/src/pages/statistics.tsx
Labels: main

fix
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/organisms/Statistics/StatisticsButtonGroup.tsx
  main/src/components/pages/Main/Parts/MainUucircleBottomButtons.tsx
  main/src/pages/guide/discord.tsx
  main/src/pages/guide/to-new-students.tsx
  main/src/pages/index.tsx
  main/src/pages/privacy.tsx
  main/src/pages/statistics.tsx
Labels: main

Apply fixes from StyleCI
  api/database/seeders/TagPageViewsSeeder.php
Labels: api

Apply fixes from StyleCI
  api/database/seeders/TagPageViewsSeeder.php
Labels: api

Fix code style issues with Prettier
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/atoms/utas/utaColorList.ts
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/pages/demo/index.tsx
  main/src/pages/statistics.tsx
Labels: main

Fix code style issues with Prettier
  main/src/components/atoms/utas/Utas.tsx
  main/src/components/atoms/utas/utaColorList.ts
  main/src/components/pages/Main/Demo/usePagePositionForDemo.ts
  main/src/components/pages/Main/Parts/MainCircleList.tsx
  main/src/pages/demo/index.tsx
  main/src/pages/statistics.tsx
Labels: main

feature update package
  circle/.node-version
  circle/package-lock.json
  circle/package.json
  circle/pages/_document.tsx
  circle/tailwind.config.js
Labels: circle, circle-package-json

feature update package
  circle/.node-version
  circle/package-lock.json
  circle/package.json
  circle/pages/_document.tsx
  circle/tailwind.config.js
Labels: circle, circle-package-json

fix lang
  circle/components/organisms/CircleNewjoy/CircleNewJoyListItemPC.tsx
  circle/components/organisms/CircleNewjoy/CircleNewJoyListItemSP.tsx
Labels: circle

fix lang
  circle/components/organisms/CircleNewjoy/CircleNewJoyListItemPC.tsx
  circle/components/organisms/CircleNewjoy/CircleNewJoyListItemSP.tsx
Labels: circle

fix swr
  circle/pages/circle/[circleId]/newjoy/index.tsx
Labels: circle

fix swr
  circle/pages/circle/[circleId]/newjoy/index.tsx
Labels: circle

remove
  circle/pages/circle/[circleId]/newjoy/index.tsx
Labels: circle

remove
  circle/pages/circle/[circleId]/newjoy/index.tsx
Labels: circle

fix
  circle/pages/index.tsx
Labels: circle

fix
  circle/pages/index.tsx
Labels: circle

fix
  admin/pages/user/circle/[userId]/index.tsx
Labels: admin

fix
  admin/pages/user/circle/[userId]/index.tsx
Labels: admin

fix 連携解除ができない不具合修正
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/pages/user/circle/[userId]/index.tsx
Labels: admin

fix 連携解除ができない不具合修正
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/pages/user/circle/[userId]/index.tsx
Labels: admin

fix
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/infra/api/circle_user.ts
  admin/pages/circle/[id]/user/[userId]/edit.tsx
  circle/pages/circle/[circleId]/newjoy/index.tsx
Labels: admin, circle

fix
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/infra/api/circle_user.ts
  admin/pages/circle/[id]/user/[userId]/edit.tsx
  circle/pages/circle/[circleId]/newjoy/index.tsx
Labels: admin, circle

Fix code style issues with Prettier
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/infra/api/circle_user.ts
  admin/pages/circle/[id]/user/[userId]/edit.tsx
  admin/pages/user/circle/[userId]/index.tsx
Labels: admin

Fix code style issues with Prettier
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/infra/api/circle_user.ts
  admin/pages/circle/[id]/user/[userId]/edit.tsx
  admin/pages/user/circle/[userId]/index.tsx
Labels: admin

Fix code style issues with Prettier
  circle/package.json
  circle/pages/circle/[circleId]/newjoy/index.tsx
Labels: circle, circle-package-json

Fix code style issues with Prettier
  circle/package.json
  circle/pages/circle/[circleId]/newjoy/index.tsx
Labels: circle, circle-package-json

Fix code style issues with Prettier
  circle/.eslintrc.json
  circle/package.json
Labels: circle, circle-package-json

Fix code style issues with Prettier
  circle/.eslintrc.json
  circle/package.json
Labels: circle, circle-package-json
