Repository UU-PlatHome/uu-circles, changes with the labels that .github/labeler.yml gives for each.
All labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json, api, api-db, api-model, api-composer-json, batch, docker

.github/labeler.yml:

admin:
  - admin/**/*
admin-package-json:
  - admin/package.json
  - admin/package-lock.json
circle:
  - circle/**/*
circle-package-json:
  - circle/package.json
  - circle/package-lock.json
main:
  - main/**/*
main-package-json:
  - main/package.json
  - main/package-lock.json
api:
  - api/**/*
api-db:
  - api/database/migrations/*
api-model:
  - api/app/Models/*
api-composer-json:
  - api/composer.json
  - api/composer.lock
batch:
  - batch/**/*
docker:
  - ./infra/docker/*
  - docker-compose.yml

ガチャを実装しました。
  main/package-lock.json
  main/pages/gacha/index.tsx
  main/public/images/gacha-logo.png
  main/public/images/gacha800.png
Labels: main, main-package-json

ガチャを実装しました。
  main/package-lock.json
  main/pages/gacha/index.tsx
  main/public/images/gacha-logo.png
  main/public/images/gacha800.png
Labels: main, main-package-json

Fix code style issues with Prettier
  main/pages/gacha/index.tsx
Labels: main

Fix code style issues with Prettier
  main/pages/gacha/index.tsx
Labels: main

feat analyticsが拾えるようになった！！
  api/.gitignore
  api/app/Console/Commands/AnalyticsTestCommand.php
  api/composer.json
  api/composer.lock
Labels: api, api-composer-json

feat analyticsが拾えるようになった！！
  api/.gitignore
  api/app/Console/Commands/AnalyticsTestCommand.php
  api/composer.json
  api/composer.lock
Labels: api, api-composer-json

feat Google AnalyticsのデータをDBに入れることができるようになった
  api/app/Console/Commands/AnalyticsTestCommand.php
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Enum/Property/PageViewProperty.php
  api/app/Models/PageView.php
  api/app/Repositories/GoogleAnalytics/Entity/MultiplePageViewEntity.php
  api/app/Repositories/GoogleAnalytics/Entity/PageViewEntity.php
  api/app/Repositories/GoogleAnalytics/GoogleAnalyticsRepositoryProperty.php
  api/app/Repositories/GoogleAnalytics/InitGoogleAnalyticsRepository.php
  api/app/Repositories/GoogleAnalytics/UuCirclesPageViewsRepository.php
  api/app/Usecases/Batch/PageView/SynchronizeGoogleAnalyticsToAppUsecase.php
  api/database/migrations/2021_05_27_104645_create_page_views_table.php
Labels: api, api-db, api-model

feat Google AnalyticsのデータをDBに入れることができるようになった
  api/app/Console/Commands/AnalyticsTestCommand.php
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Enum/Property/PageViewProperty.php
  api/app/Models/PageView.php
  api/app/Repositories/GoogleAnalytics/Entity/MultiplePageViewEntity.php
  api/app/Repositories/GoogleAnalytics/Entity/PageViewEntity.php
  api/app/Repositories/GoogleAnalytics/GoogleAnalyticsRepositoryProperty.php
  api/app/Repositories/GoogleAnalytics/InitGoogleAnalyticsRepository.php
  api/app/Repositories/GoogleAnalytics/UuCirclesPageViewsRepository.php
  api/app/Usecases/Batch/PageView/SynchronizeGoogleAnalyticsToAppUsecase.php
  api/database/migrations/2021_05_27_104645_create_page_views_table.php
Labels: api, api-db, api-model

feat スケジュールに追加
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Console/Kernel.php
Labels: api

feat スケジュールに追加
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Console/Kernel.php
Labels: api

feat deploy command
  .github/workflows/api.yml
Labels: none

feat deploy command
  .github/workflows/api.yml
Labels: none

update ide helper
  api/_ide_helper_models.php
Labels: api

update ide helper
  api/_ide_helper_models.php
Labels: api

feat ページ数とユーザ数の追加
  api/app/Usecases/Main/Statistics/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

feat ページ数とユーザ数の追加
  api/app/Usecases/Main/Statistics/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

feat 統計情報のフロント修正
  main/components/organisms/Statistics/StatisticsCommonView.tsx
  main/lib/types/model/Statistics.ts
Labels: main

feat 統計情報のフロント修正
  main/components/organisms/Statistics/StatisticsCommonView.tsx
  main/lib/types/model/Statistics.ts
Labels: main

fix date
  main/components/organisms/Statistics/StatisticsCommonView.tsx
Labels: main

fix date
  main/components/organisms/Statistics/StatisticsCommonView.tsx
Labels: main

fix param
  api/app/Repositories/GoogleAnalytics/UuCirclesPageViewsRepository.php
Labels: api

fix param
  api/app/Repositories/GoogleAnalytics/UuCirclesPageViewsRepository.php
Labels: api

Fix code style issues with Prettier
  main/components/organisms/Statistics/StatisticsCommonView.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Statistics/StatisticsCommonView.tsx
Labels: main

add seeder
  .github/workflows/api.yml
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/PageViewSeeder.php
Labels: api

add seeder
  .github/workflows/api.yml
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/PageViewSeeder.php
Labels: api

fix
  api/.env.example
Labels: api

fix
  api/.env.example
Labels: api

fix
  .github/workflows/api.yml
Labels: none

fix
  .github/workflows/api.yml
Labels: none

fix param
  .github/workflows/api.yml
  api/app/Usecases/Main/CircleNewJoy/GetTodayCircleNewJoyUsecase.php
Labels: api

fix param
  .github/workflows/api.yml
  api/app/Usecases/Main/CircleNewJoy/GetTodayCircleNewJoyUsecase.php
Labels: api

feat CirclePageViewの作成
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Enum/Property/CirclePageViewProperty.php
  api/app/Models/CirclePageView.php
  api/app/Usecases/Batch/PageView/ReplicateCirclePageViewUsecase.php
  api/database/migrations/2021_05_28_172324_create_circle_page_views_table.php
Labels: api, api-db, api-model

feat CirclePageViewの作成
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Enum/Property/CirclePageViewProperty.php
  api/app/Models/CirclePageView.php
  api/app/Usecases/Batch/PageView/ReplicateCirclePageViewUsecase.php
  api/database/migrations/2021_05_28_172324_create_circle_page_views_table.php
Labels: api, api-db, api-model

feat apiで統計用のサークル閲覧数ランキング作成
  api/_ide_helper_models.php
  api/app/Models/CirclePageView.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsCirclePageViewsHighRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/StatisticsCirclePageViewsRankingUsecase.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Statistics/StatisticsControllerTest.php
Labels: api, api-model

feat apiで統計用のサークル閲覧数ランキング作成
  api/_ide_helper_models.php
  api/app/Models/CirclePageView.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsCirclePageViewsHighRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/StatisticsCirclePageViewsRankingUsecase.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Statistics/StatisticsControllerTest.php
Labels: api, api-model

feat 統計をフロントに表示するように改修
  main/components/organisms/Statistics/StatisticsCircleView.tsx
  main/components/organisms/Statistics/StatisticsCommonView.tsx
  main/components/organisms/Statistics/StatisticsListItem.tsx
  main/lib/types/model/CirclePageView.ts
  main/lib/types/model/Statistics.ts
Labels: main

feat 統計をフロントに表示するように改修
  main/components/organisms/Statistics/StatisticsCircleView.tsx
  main/components/organisms/Statistics/StatisticsCommonView.tsx
  main/components/organisms/Statistics/StatisticsListItem.tsx
  main/lib/types/model/CirclePageView.ts
  main/lib/types/model/Statistics.ts
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Statistics/StatisticsCommonView.tsx
  main/components/organisms/Statistics/StatisticsListItem.tsx
Labels: main

Fix code style issues with Prettier
  main/components/organisms/Statistics/StatisticsCommonView.tsx
  main/components/organisms/Statistics/StatisticsListItem.tsx
Labels: main
