Repository uu-plathome/uu-circles, pull requests merged in 2021-12, with the labels that each got.

#428 Apply fixes from StyleCI
  api/app/Usecases/Main/Circle/GetCircleBySlugUsecase.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
  api/tests/Feature/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecaseTest.php
Labels: api

#429 fix メイン画面にデモサークルを表示しないようにして、コメントを追加
  api/.idea/runConfigurations.xml
  api/app/Usecases/Main/Circle/GetCircleBySlugUsecase.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
  api/tests/Feature/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecaseTest.php
Labels: api

#434 fix 新歓リンクの修正
  main/src/components/organisms/Newjoy/CircleNewJoyDetail.tsx
Labels: main

#435 Update api package
  api/composer.json
  api/composer.lock
Labels: api, api-composer-json

#436 Feature update design and 利用規約の変更
  admin/src/components/layouts/BaseWrapper.tsx
  admin/src/pages/demo/newjoy/index.tsx
  main/src/pages/terms.tsx
Labels: admin, main

#440 Apply fixes from StyleCI
  api/app/Http/Controllers/Circle/Auth/ForgotPasswordCircleController.php
Labels: api

#441 Fix サークルページのパスワードリセットの挙動修正
  api/app/Http/Controllers/Circle/Auth/ForgotPasswordCircleController.php
  api/app/Http/Controllers/Circle/Auth/VerificationConfirmController.php
  api/resources/lang/ja/passwords.php
  circle/src/components/layouts/MainHeader.tsx
  circle/src/lib/infra/api/auth.ts
  circle/src/pages/auth/password/confirm.tsx
  circle/src/pages/auth/password/reset.tsx
Labels: api, circle

#442 Feature/admin update package
  admin/next-env.d.ts
  admin/package-lock.json
  admin/package.json
  admin/tailwind.config.js
  admin/tsconfig.json
  circle/package.json
  main/package-lock.json
  main/package.json
Labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json

#443 feat サークル管理ページのパッケージアップデート
  circle/package-lock.json
  circle/package.json
  circle/tailwind.config.js
Labels: circle, circle-package-json

#445 fix google botのときwarningがでないように修正
  api/app/Http/Controllers/Main/Advertise/RedirectToAdvertiseLinkController.php
Labels: api

#448 Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/AdminUser/UpdateAdminUserController.php
  api/app/Http/Controllers/Main/Advertise/GetMainAdvertisesController.php
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Main/DemoIndexController.php
  api/app/Http/Controllers/Main/Sitemap/SitemapController.php
  api/app/Http/Requests/Admin/Announcement/CreateAnnouncementRequest.php
  api/app/Http/Requests/Admin/Announcement/UpdateAnnouncementRequest.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleUser/UpdateCircleUserRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Circle/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Circle/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Http/Requests/Circle/CircleUser/RegisterCircleUserRequest.php
  api/app/UseCases/AdminManagement/AdminUser/RegisterAdminUserUsecase.php
  api/app/UseCases/AdminManagement/AdminUser/UpdateAdminUserUsecase.php
  api/app/UseCases/AdminManagement/Circle/IndexCircleUsecase.php
  api/app/UseCases/AdminManagement/Circle/UpdateCircleUsecase.php
  api/app/UseCases/Main/Advertise/GetMainTopAdvertiseUsecase.php
  api/app/UseCases/Main/Advertise/GetRandomAdvertiseUsecase.php
  api/app/UseCases/Main/Announcement/GetMainViewFixedAnnouncementsUsecase.php
  api/app/UseCases/Main/Circle/GetCircleListUsecase.php
  api/app/UseCases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/UseCases/Main/Circle/GetRecommendCircleUsecase.php
  api/app/UseCases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/UseCases/Main/Circle/SearchTagCircleListUsecase.php
  api/app/UseCases/Main/Gacha/GachaPickupListKey.php
  api/app/UseCases/Main/PageView/TagPageViewRankingUsecase.php
  api/app/UseCases/Main/Sitemap/SitemapUsecase.php
  api/app/UseCases/Main/UuYell/FetchUuYellArticlesForCirclesKey.php
  api/app/UseCases/Main/UuYell/FetchUuYellArticlesKey.php
  api/database/seeders/AdvertisesTableSeeder.php
Labels: api
