Repository uu-plathome/uu-circles, pull requests merged in 2021-05, with the labels that each got.

#174 feat 単発ガチャ,10連ガチャを引く処理
  .gitignore
  api/.idea/php.xml
  api/app/Dto/CircleGachaDto.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Params/DrawGachaUsecaseParam.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaDrawControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaResultControllerTest.php
Labels: api

#201 Feat 識別子の情報を保存するようにした
  api/_ide_helper_models.php
  api/app/Enum/Property/IdentifierHistoryProperty.php
  api/app/Http/Controllers/Main/Identification/CheckIdentificationController.php
  api/app/Http/Controllers/Main/Identification/PublishIdentificationController.php
  api/app/Models/Identifier.php
  api/app/Models/IdentifierHistory.php
  api/database/migrations/2021_05_01_154326_create_identifier_histories_table.php
Labels: api, api-db, api-model

#198 Feature/gache/base
  .gitignore
  api/.idea/api.iml
  api/.idea/php-test-framework.xml
  api/.idea/php.xml
  api/.idea/sqldialects.xml
  api/.idea/vcs.xml
  api/_ide_helper_models.php
  api/app/Dto/CircleGachaDto.php
  api/app/Dto/GachaPickupListDto.php
  api/app/Enum/Property/CircleGachaResultProperty.php
  api/app/Enum/Property/IdentifierHistoryProperty.php
  api/app/Enum/Property/IdentifierProperty.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Http/Controllers/Main/Identification/CheckIdentificationController.php
  api/app/Http/Controllers/Main/Identification/PublishIdentificationController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Models/CircleGachaResult.php
  api/app/Models/Identifier.php
  api/app/Models/IdentifierHistory.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GachaPickupListKey.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  api/app/Usecases/Main/Gacha/Params/DrawGachaUsecaseParam.php
  api/database/factories/IdentifierFactory.php
  api/database/migrations/2021_04_07_164100__create_identifiers_table.php
  api/database/migrations/2021_04_07_164252_create_circle_gacha_results_table.php
  api/database/migrations/2021_05_01_154326_create_identifier_histories_table.php
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/IdentifierTableSeeder.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaDrawControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaPickupListControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaResultControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Identification/CheckIdentificationControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Identification/PublishIdentificationControllerTest.php
  docs/development.md
  main/infra/api/identification.ts
  main/infra/api/linkConst.ts
  main/lib/enum/app/LocalStorageKey.ts
  main/pages/_app.tsx
  main/pages/index.tsx
Labels: api, api-db, api-model

#202 Update package
  admin/.node-version
  admin/package-lock.json
  admin/package.json
  api/.idea/php.xml
  api/composer.json
  api/composer.lock
  circle/.node-version
  circle/package-lock.json
  circle/package.json
  main/.node-version
  main/package-lock.json
  main/package.json
Labels: admin, admin-package-json, api, api-composer-json, circle, circle-package-json

#206 fix copy:uu-yellの修正
  api/.idea/api.iml
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
Labels: api

#207 feat excelダウンロードの試作
  admin/infra/api/advertise.ts
  admin/pages/advertise/[advertiseId]/edit.tsx
  admin/pages/advertise/index.tsx
  api/.idea/api.iml
  api/.idea/php.xml
  api/app/Exports/AdvertisesCounterHistoryExport.php
  api/app/Exports/AdvertisesExport.php
  api/app/Exports/Sheets/AdvertiseCounterTotalSheet.php
  api/app/Exports/Sheets/AdvertiseInfoSheet.php
  api/app/Exports/Sheets/AdvertisesCounterHistorySheet.php
  api/app/Http/Controllers/Admin/Advertise/DownloadAdvertiseCounterHistoryExcelController.php
  api/app/Http/Controllers/Admin/Advertise/DownloadAdvertiseExcelController.php
  api/composer.json
  api/composer.lock
  api/config/excel.php
  api/routes/admin.php
Labels: admin, api, api-composer-json

#210 Feat twitter 埋め込み
  api/database/factories/CircleInformationFactory.php
  main/components/organisms/Twitter/TwitterEmbed.tsx
  main/pages/circle/[slug]/index.tsx
Labels: api

#212 Feat format twitter url
  api/app/Console/Commands/FormatTwitterUrl20210504.php
  api/app/Models/CircleInformation.php
  api/tests/Unit/App/Models/CircleInformationTest.php
Labels: api, api-model

#213 feat カラム長の変更
  api/database/migrations/2021_05_05_202649_change_user_agent_to_identifier_histories.php
Labels: api, api-db

#214 Update README.md
  README.md
  batch/newjoy_notification/README.md
  batch/uuyell_notification/README.md
  docs/development.md
Labels: batch

#216 fix 広告の日付のフォーマット修正
  api/app/Exports/Sheets/AdvertiseCounterTotalSheet.php
  api/app/Exports/Sheets/AdvertisesCounterHistorySheet.php
Labels: api

#221 Feat/announcement/admin api
  api/_ide_helper_models.php
  api/app/Enum/Importance.php
  api/app/Enum/Property/AnnouncementProperty.php
  api/app/Http/Controllers/Admin/Announcement/CreateAnnouncementController.php
  api/app/Http/Requests/Admin/Announcement/CreateAnnouncementRequest.php
  api/app/Http/Requests/Admin/Announcement/UpdateAnnouncementRequest.php
  api/app/Models/Announcement.php
  api/app/Models/Identifier.php
  api/app/Usecases/Admin/Announcement/CreateAnnouncementUsecase.php
  api/app/Usecases/Admin/Announcement/Params/CreateAnnouncementUsecaseParam.php
  api/app/Usecases/Admin/Announcement/Params/UpdateAnnouncementUsecaseParam.php
  api/app/Usecases/Admin/Announcement/UpdateAnnouncementUsecase.php
  api/database/factories/AnnouncementFactory.php
  api/database/factories/IdentifierFactory.php
  api/database/factories/IdentifierHistoryFactory.php
  api/database/migrations/2021_05_01_205248_create_announcements_table.php
  api/database/seeders/AnnouncementSeeder.php
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/IdentifierTableSeeder.php
  api/resources/lang/ja/announcement.php
  api/tests/Feature/App/Http/Controllers/Admin/Announcement/CreateAnnouncementControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/Announcement/DeleteAnnouncementControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/Announcement/IndexAnnouncementControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/Announcement/ShowAnnouncementControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/Announcement/UpdateAnnouncementControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaDrawControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaResultControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Identification/CheckIdentificationControllerTest.php
Labels: api, api-db, api-model

#222 Feat お知らせをメイン画面で拾えるようにした
  admin/__tests__/lib/enum/api/Importance.spec.ts
  admin/lib/enum/api/Importance.ts
  api/.idea/laravel-plugin.xml
  api/.idea/php-test-framework.xml
  api/.idea/php.xml
  api/app/Console/Commands/MakeEnumForTs.php
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Http/Controllers/Main/Statistics/StatisticsController.php
  api/app/Usecases/Main/Announcement/Dto/GetMainViewFixedAnnouncementsUsecaseDto.php
  api/app/Usecases/Main/Announcement/Dto/MainAnnouncementDto.php
  api/app/Usecases/Main/Announcement/GetMainViewFixedAnnouncementsUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/GetCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/IndexCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchCategoryCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchNameCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchTagCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Main/IndexControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Statistics/StatisticsControllerTest.php
  circle/__tests__/lib/enum/api/Importance.spec.ts
  circle/lib/enum/api/Importance.ts
  main/__tests__/lib/enum/api/Importance.spec.ts
  main/infra/api/circle.ts
  main/infra/api/circleNewJoy.ts
  main/infra/api/main.ts
  main/infra/api/statistics.ts
  main/lib/enum/api/Importance.ts
  main/lib/types/model/Announcement.ts
  main/pages/statistics.tsx
Labels: admin, api, circle

#223 chore update package
  admin/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
  admin/hooks/useSuccess.ts
  admin/infra/api/auth.ts
  admin/infra/api/circle_user.ts
  admin/lib/enum/api/AnnouncementType.ts
  admin/lib/enum/api/CategorySlugProperty.ts
  admin/lib/enum/api/PlaceOfActivity.ts
  admin/lib/enum/api/TagSlugProperty.ts
  admin/package-lock.json
  admin/package.json
  admin/pages/circle/index.tsx
  admin/pages/user/circle/index.tsx
  admin/tailwind.config.js
  circle/components/organisms/Form/Circle/Parts/ActivityEditCircleForm.tsx
  circle/hooks/useSuccess.ts
  circle/infra/api/auth.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/TagSlugProperty.ts
  circle/package-lock.json
  circle/package.json
  circle/pages/circle/[circleId]/tag/index.tsx
  circle/pages/circle/[circleId]/user/index.tsx
  circle/tailwind.config.js
  main/components/organisms/ShowCircle/CircleTopInformation.tsx
  main/components/organisms/Statistics/StatisticsButtonState.tsx
  main/lang/ja.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/package-lock.json
  main/package.json
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/category/[category].tsx
  main/pages/circle/newjoy.tsx
  main/pages/index.tsx
  main/tailwind.config.js
Labels: admin, admin-package-json, circle, circle-package-json

#224 Feat お知らせのクリック数の計測のためのDB追加
  api/_ide_helper_models.php
  api/app/Enum/AnnouncementPlace.php
  api/app/Enum/Property/AnnouncementCounterHistoryProperty.php
  api/app/Enum/Property/AnnouncementCounterProperty.php
  api/app/Models/AnnouncementCounter.php
  api/app/Models/AnnouncementCounterHistory.php
  api/app/Usecases/Admin/Announcement/CreateAnnouncementUsecase.php
  api/app/Usecases/Batch/Announcement/AggregateAnnouncementCounterPerDayUsecase.php
  api/database/migrations/2021_05_14_214253_create_announcement_counters_table.php
  api/database/migrations/2021_05_14_214330_create_announcement_counter_histories_table.php
  api/database/seeders/AdvertisesTableSeeder.php
  api/database/seeders/AnnouncementSeeder.php
Labels: api, api-db, api-model

#225 Feat/announcement main view
  api/_ide_helper_models.php
  api/app/Console/Commands/AggregateAnnouncementCounterPerDayCommand.php
  api/app/Console/Commands/Operation/TwentyOneMay/AddDemoAnnouncement.php
  api/app/Console/Kernel.php
  api/app/Enum/Property/AnnouncementProperty.php
  api/app/Enum/RouteProperty/WebRouteProperty.php
  api/app/Enum/SlugProperty/AnnouncementPlaceQuerySlugProperty.php
  api/app/Http/Controllers/Main/Announcement/RedirectToAnnouncementLinkController.php
  api/app/Models/Announcement.php
  api/app/Usecases/Admin/Announcement/CreateAnnouncementUsecase.php
  api/app/Usecases/Batch/Announcement/AggregateAnnouncementCounterPerDayUsecase.php
  api/app/Usecases/Main/Announcement/Dto/MainAnnouncementDto.php
  api/app/Usecases/Main/Announcement/GetMainViewFixedAnnouncementsUsecase.php
  api/database/factories/AnnouncementFactory.php
  api/database/migrations/2021_05_15_182540_add_slug_to_announcements.php
  api/routes/web.php
  main/components/layouts/BaseLayout.tsx
  main/components/organisms/Announcement/HeaderAnnouncement.tsx
  main/infra/api/circle.ts
  main/infra/api/circleNewJoy.ts
  main/infra/api/main.ts
  main/infra/api/statistics.ts
  main/lang/ja.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/newjoy.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
  main/pages/index.tsx
  main/pages/statistics.tsx
Labels: api, api-db, api-model

#229 Refactor/api dto
  api/.vscode/settings.json
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Http/Controllers/Main/Sitemap/SitemapController.php
  api/app/Usecases/CircleManagement/CircleNewJoy/Dto/SeparateReleaseCircleNewJoyDto.php
  api/app/Usecases/CircleManagement/CircleNewJoy/IndexCircleNewJoyUsecase.php
  api/app/Usecases/CircleManagement/CircleUser/Dto/SeparateIsEmailVerifyCircleUserDto.php
  api/app/Usecases/CircleManagement/CircleUser/IndexCircleUserUsecase.php
  api/app/Usecases/Main/Circle/Dto/MainDetailCircleDto.php
  api/app/Usecases/Main/Circle/GetCircleBySlugUsecase.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/CircleGachaDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaPickupListDto.php
  api/app/Usecases/Main/Gacha/GachaPickupListKey.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  api/app/Usecases/Main/Sitemap/Dto/SitemapDto.php
  api/app/Usecases/Main/Sitemap/SitemapUsecase.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsActivityFrequencyDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsActivityFrequencyRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsAdmissionFeePerYearHighRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsAdmissionFeePerYearSmallRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsCircleTypeDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsNumberOfActivitiesCountDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsNumberOfActivitiesRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsOnlineActivityDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsPlaceOfActivityFrequencyDto.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  api/routes/api.php
Labels: api

#230 Feature 検索ワードを保存するようにした
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleSearchWordProperty.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Models/CircleSearchWord.php
  api/app/Usecases/Main/Circle/Params/SearchNameCircleListParam.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/database/migrations/2021_05_21_104954_create_circle_search_words_table.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchNameCircleControllerTest.php
  main/components/atoms/form/SearchTextField.tsx
Labels: api, api-db, api-model

#231 Feature 管理者画面でお知らせを作成・編集できるようになった
  admin/.vscode/settings.json
  admin/components/layouts/BaseSidebar.tsx
  admin/components/molecules/list_items/AnnouncementListItem.tsx
  admin/components/organisms/form/Announcement/CreateAnnouncementForm.tsx
  admin/components/organisms/form/Announcement/EditAnnouncementForm.tsx
  admin/infra/api/announcement.ts
  admin/lang/ja.ts
  admin/lib/types/api/CreateAnnouncementRequest.ts
  admin/lib/types/api/UpdateAnnouncementRequest.ts
  admin/lib/types/model/Announcement.ts
  admin/pages/advertise/[advertiseId]/edit.tsx
  admin/pages/announcement/[announcementId]/edit.tsx
  admin/pages/announcement/create.tsx
  admin/pages/announcement/index.tsx
  api/app/Console/Commands/GenerateRequestTypeForTs.php
  api/app/Http/Requests/Admin/Announcement/CreateAnnouncementRequest.php
  api/app/Http/Requests/Admin/Announcement/UpdateAnnouncementRequest.php
Labels: admin, api, circle

#232 feat uu-yellの記事が100件以上になっても、Batchが動くようにした
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
Labels: api

#233 Feature お知らせAPIとフロント修正
  api/app/Http/Controllers/Admin/Announcement/FixedAdminViewAnnouncementController.php
  api/app/Http/Controllers/Circle/Announcement/FixedCircleViewAnnouncementController.php
  api/routes/admin.php
  api/routes/circle.php
  api/tests/Feature/App/Http/Controllers/Admin/Announcement/FixedAdminViewAnnouncementControllerTest.php
  api/tests/Feature/App/Http/Controllers/Circle/Announcement/FixedCircleViewAnnouncementControllerTest.php
  circle/.eslintrc.json
  circle/.gitignore
  circle/infra/api/announcement.ts
  circle/infra/api/circle.ts
  circle/lib/types/model/Announcement.ts
  main/.vscode/settings.json
  main/components/organisms/List/BaseCircleList.tsx
  main/components/organisms/List/CarouselCircleList.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemPC.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemSP.tsx
  main/components/organisms/Main/MainCircleList.tsx
  main/components/organisms/ShowCircle/InformationCircleBesideNewJoyPC.tsx
  main/components/organisms/ShowCircle/InformationCircleBesideNewJoyPCWithButton.tsx
  main/components/organisms/ShowCircle/InformationCircleBesideNewJoySP.tsx
  main/components/organisms/Statistics/StatisticsCircleView.tsx
Labels: api, circle

#238 feat analyticsのデータをDBに入れるバッチ
  .github/workflows/api.yml
  api/.gitignore
  api/_ide_helper_models.php
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Console/Kernel.php
  api/app/Enum/Property/PageViewProperty.php
  api/app/Models/PageView.php
  api/app/Repositories/GoogleAnalytics/Entity/MultiplePageViewEntity.php
  api/app/Repositories/GoogleAnalytics/Entity/PageViewEntity.php
  api/app/Repositories/GoogleAnalytics/GoogleAnalyticsRepositoryProperty.php
  api/app/Repositories/GoogleAnalytics/InitGoogleAnalyticsRepository.php
  api/app/Repositories/GoogleAnalytics/UuCirclesPageViewsRepository.php
  api/app/Usecases/Batch/PageView/SynchronizeGoogleAnalyticsToAppUsecase.php
  api/composer.json
  api/composer.lock
  api/database/migrations/2021_05_27_104645_create_page_views_table.php
Labels: api, api-composer-json, api-db, api-model

#239 Feat/statics update
  .github/workflows/api.yml
  api/.env.example
  api/app/Repositories/GoogleAnalytics/UuCirclesPageViewsRepository.php
  api/app/Usecases/Main/CircleNewJoy/GetTodayCircleNewJoyUsecase.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/PageViewSeeder.php
  main/components/organisms/Statistics/StatisticsCommonView.tsx
  main/lib/types/model/Statistics.ts
Labels: api, main

#240 feat CirclePageViewの作成
  api/app/Console/Commands/SynchronizeGoogleAnalyticsToAppCommand.php
  api/app/Enum/Property/CirclePageViewProperty.php
  api/app/Models/CirclePageView.php
  api/app/Usecases/Batch/PageView/ReplicateCirclePageViewUsecase.php
  api/database/migrations/2021_05_28_172324_create_circle_page_views_table.php
Labels: api, api-db, api-model

#241 feat apiで統計用のサークル閲覧数ランキング作成
  api/_ide_helper_models.php
  api/app/Models/CirclePageView.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsCirclePageViewsHighRankingDto.php
  api/app/Usecases/Main/Statistics/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/StatisticsCirclePageViewsRankingUsecase.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Statistics/StatisticsControllerTest.php
Labels: api, api-model

#242 feat 統計をフロントに表示するように改修
  main/components/organisms/Statistics/StatisticsCircleView.tsx
  main/components/organisms/Statistics/StatisticsCommonView.tsx
  main/components/organisms/Statistics/StatisticsListItem.tsx
  main/lib/types/model/CirclePageView.ts
  main/lib/types/model/Statistics.ts
Labels: main
