Repository uu-plathome/uu-circles, pull requests merged in 2021-04, with the labels that each got.

#125 Feat 新歓機能拡充
  .github/workflows/batch_newjoy_notification_test.yml
  admin/__tests__/lib/enum/api/PlaceOfActivity.spec.ts
  admin/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/components/organisms/form/CircleNewJoy/EditCircleNewJoyForm.tsx
  admin/lang/ja.ts
  admin/lib/enum/api/PlaceOfActivity.ts
  admin/lib/enum/api/Role.ts
  api/app/Enum/PlaceOfActivity.php
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Http/Requests/Circle/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Circle/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/database/factories/CircleNewJoyFactory.php
  api/database/migrations/2021_04_01_094629_change_place_of_activity_value.php
  batch/newjoy_notification/PlaceOfActivity.py
  batch/newjoy_notification/bot.py
  circle/__tests__/lib/enum/api/PlaceOfActivity.spec.ts
  circle/components/organisms/Form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  circle/components/organisms/Form/CircleNewJoy/EditCircleNewJoyForm.tsx
  circle/lang/ja.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/Role.ts
  circle/lib/utils/Date.ts
  main/__tests__/lib/enum/api/PlaceOfActivity.spec.ts
  main/components/organisms/CircleNewJoy/ShowCircleNewJoyPcLayout.tsx
  main/components/organisms/CircleNewJoy/ShowCircleNewJoySpLayout.tsx
  main/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/components/organisms/ShowCircle/InformationCircleBesideNewJoyPC.tsx
  main/components/organisms/ShowCircle/InformationCircleBesideNewJoyPCWithButton.tsx
  main/components/organisms/ShowCircle/InformationCircleBesideNewJoySP.tsx
  main/components/organisms/ShowCircle/NewJoyList.tsx
  main/lang/ja.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/Role.ts
  main/lib/utils/Date.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/newjoy.tsx
  main/pages/circle/tag/[tag].tsx
  main/pages/guide/discord.tsx
Labels: admin, api, api-db, batch, circle

#126 Feat 峰、陽東キャンパスのタグ追加
  admin/__tests__/lib/enum/api/CircleTagModel.spec.ts
  admin/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  admin/lib/enum/api/CircleTagModel.ts
  admin/lib/enum/api/TagSlugProperty.ts
  api/app/Enum/CircleTagModel.php
  api/app/Enum/SlugProperty/TagSlugProperty.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Usecases/Main/Circle/Params/SearchTagCircleListParam.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
  circle/__tests__/lib/enum/api/CircleTagModel.spec.ts
  circle/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/TagSlugProperty.ts
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/components/layouts/BaseFooter.tsx
  main/lang/ja.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/pages/circle/tag/[tag].tsx
Labels: admin, api, circle

#127 fix 活動場所の修正
  admin/components/atoms/form/BaseDatetime.tsx
  api/app/Enum/PlaceOfActivity.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  circle/components/atoms/form/BaseDatetime.tsx
Labels: admin, api, circle

#128 Fix/design
  admin/infra/api/auth.ts
  admin/pages/logout.tsx
  api/.idea/api.iml
  api/.idea/php.xml
  api/app/Auth/AdminUserTokenGuard.php
  api/app/Http/Controllers/Admin/Auth/LoginAdminController.php
  api/app/Http/Controllers/Admin/Auth/LogoutAdminController.php
  api/app/Http/Controllers/Auth/ConfirmPasswordController.php
  api/app/Http/Controllers/Auth/ForgotPasswordController.php
  api/app/Http/Controllers/Auth/ResetPasswordController.php
  api/app/Http/Controllers/Circle/Auth/LogoutCircleController.php
  api/routes/admin.php
  api/routes/circle.php
  api/tests/Feature/App/Http/Controllers/Admin/Auth/LogoutAdminControllerTest.php
  api/tests/Feature/App/Http/Controllers/Circle/Auth/LogoutCircleControllerTest.php
  main/components/layouts/BaseHead.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
Labels: admin, api

#130 test & refactor
  api/.idea/api.iml
  api/app/Enum/Property/CircleHandbillProperty.php
  api/app/Enum/Property/CircleInvitationProperty.php
  api/app/Enum/Property/CircleTagProperty.php
  api/app/Http/Controllers/Admin/AdminUser/UpdateAdminUserController.php
  api/app/Http/Controllers/Admin/CircleTag/CreateOrUpdateCircleTagController.php
  api/app/Http/Controllers/Admin/CircleTag/GetCircleTagController.php
  api/app/Http/Requests/Admin/AdminUser/DeleteAdminUserRequest.php
  api/app/Http/Requests/Admin/AdminUser/IndexAdminUserRequest.php
  api/app/Http/Requests/Admin/AdminUser/ShowAdminUserRequest.php
  api/app/Http/Requests/Admin/AdminUser/UpdateAdminUserRequest.php
  api/app/Http/Requests/Admin/CircleTag/CreateOrUpdateCircleTagRequest.php
  api/app/Models/AdminUser.php
  api/app/Models/Advertise.php
  api/app/Models/Circle.php
  api/app/Models/CircleHandbill.php
  api/app/Models/CircleInformation.php
  api/app/Models/CircleInvitation.php
  api/app/Models/CircleNewJoy.php
  api/app/Models/CircleTag.php
  api/app/Models/CircleUser.php
  api/app/Models/User.php
  api/app/Usecases/Admin/CircleTag/CreateOrUpdateCircleTagUsecase.php
  api/app/Usecases/Admin/CircleTag/Params/CreateOrUpdateCircleTagUsecaseParam.php
  api/app/Usecases/Admin/CreateOrUpdateCircleTagUsecase.php
  api/resources/lang/ja/adminUser.php
  api/tests/Feature/App/Http/Controllers/Admin/Advertise/ShowAdvertiseControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/Circle/ShowCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleTag/CreateOrUpdateCircleTagControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleTag/GetCircleTagControllerTest.php
  api/tests/Feature/App/Http/Requests/Admin/AdminUser/DeleteAdminUserRequestTest.php
  api/tests/Feature/App/Http/Requests/Admin/AdminUser/IndexAdminUserRequestTest.php
  api/tests/Feature/App/Http/Requests/Admin/AdminUser/ShowAdminUserRequestTest.php
  api/tests/Feature/App/Http/Requests/Admin/AdminUser/UpdateAdminUserRequestTest.php
  docker-compose.yml
  docs/MySql.mwb
  docs/MySql.png
  infra/docker/mysql/Dockerfile
  infra/docker/nginx/Dockerfile
  infra/docker/php/Dockerfile
Labels: api, api-model, docker

#131 fix SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate e…
  admin/pages/circle/[id]/newjoy/[circleNewJoyId]/edit.tsx
  admin/pages/circle/[id]/newjoy/create.tsx
  admin/pages/circle/[id]/user/[userId]/edit.tsx
  admin/pages/circle/[id]/user/create.tsx
Labels: admin

#132 Feature/newjoy room
  admin/pages/user/circle/index.tsx
  batch/newjoy_notification/bot.py
Labels: admin, batch

#136 Feature/minor chagnge
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
  docs/development.md
Labels: api

#137 feat ピックアップ一覧API
  api/.idea/api.iml
  api/.idea/php-test-framework.xml
  api/.idea/php.xml
  api/.idea/phpunit.xml
  api/app/Dto/GachaPickupListDto.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/Gacha/GachaPickupListKey.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/Gacha/GachaPickupListControllerTest.php
Labels: api

#139 Fix サークル管理画面、管理者画面のDateのSafari対応
  admin/components/atoms/form/BaseDate.tsx
  admin/components/atoms/form/BaseDatetime.tsx
  admin/components/atoms/form/BaseSelect.tsx
  admin/hooks/useInput.ts
  admin/lib/utils/Date.ts
  admin/pages/advertise/[advertiseId]/edit.tsx
  admin/pages/advertise/create.tsx
  admin/pages/circle/[id]/newjoy/[circleNewJoyId]/edit.tsx
  admin/pages/circle/[id]/newjoy/create.tsx
  circle/components/atoms/form/BaseDate.tsx
  circle/components/atoms/form/BaseDatetime.tsx
  circle/components/atoms/form/BaseSelect.tsx
  circle/hooks/useInput.ts
  circle/lib/utils/Date.ts
  circle/pages/circle/[circleId]/newjoy/[circleNewJoyId]/edit.tsx
  circle/pages/circle/[circleId]/newjoy/create.tsx
Labels: admin, circle

#142 feat/statisticsからapiだけ取り出し
  api/.idea/php-test-framework.xml
  api/app/Dto/StatisticsActivityFrequencyDto.php
  api/app/Dto/StatisticsCircleTypeDto.php
  api/app/Dto/StatisticsDto.php
  api/app/Dto/StatisticsOnlineActivityDto.php
  api/app/Dto/StatisticsPlaceOfActivityFrequencyDto.php
  api/app/Http/Controllers/Main/Statistics/StatisticsController.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/Statistics/StatisticsControllerTest.php
Labels: api

#141 feat 統計情報の追加
  main/.vscode/settings.json
  main/components/layouts/BaseFooter.tsx
  main/components/layouts/BaseSpMenu.tsx
  main/components/molecules/Badge/CircleTypeBadge.tsx
  main/infra/api/linkConst.ts
  main/infra/api/statistics.ts
  main/lib/types/model/Statistics.ts
  main/lib/utils/Color.ts
  main/package-lock.json
  main/package.json
  main/pages/statistics.tsx
Labels: api

#143 feat 新歓の統計追加
  api/app/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
Labels: api

#145 feat 人数、費用でnullと0の区別を明確にした
  .gitignore
  admin/hooks/useInput.ts
  admin/pages/circle/[id]/edit.tsx
  api/.gitignore
  api/.idea/csv-plugin.xml
  api/.idea/inspectionProfiles/Project_Default.xml
  api/.idea/laravel-plugin.xml
  api/.idea/sqldialects.xml
  api/composer.json
  api/storage/memo/2021_03_common_date_count.sql
  api/storage/memo/2021_04_11_circleInformation_null.md
  circle/hooks/useInput.ts
  circle/pages/circle/[circleId]/edit.tsx
  main/components/organisms/ShowCircle/CircleTopInformation.tsx
Labels: admin, api, api-composer-json, circle

#146 Update font
  api/storage/memo/2021_04_11_circleInformation_null.md
  main/pages/_app.tsx
  main/pages/_document.tsx
Labels: api

#147 hotfix iconのバグ修正
  admin/package.json
  circle/package.json
  main/next.config.js
  main/package.json
  main/pages/_app.tsx
  main/pages/_document.tsx
  main/public/manifest.json
Labels: admin, admin-package-json, circle, circle-package-json

#138 feat Models と Migrationの用意
  .gitignore
  api/.idea/php-test-framework.xml
  api/.idea/php.xml
  api/.idea/phpunit.xml
  api/.idea/vcs.xml
  api/app/Enum/Property/CircleGachaResultProperty.php
  api/app/Enum/Property/IdentifierProperty.php
  api/app/Models/CircleGachaResult.php
  api/app/Models/Identifier.php
  api/database/migrations/2021_04_07_164100__create_identifiers_table.php
  api/database/migrations/2021_04_07_164252_create_circle_gacha_results_table.php
Labels: api, api-db, api-model

#148 feat IdentiflerのDB登録など
  api/.idea/sqldialects.xml
  api/_ide_helper_models.php
  api/app/Http/Controllers/Main/Identification/PublishIdentificationController.php
  api/app/Models/Identifier.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/Identification/PublishIdentificationControllerTest.php
Labels: api, api-model

#154 feat 新歓に占有時間の追加
  .gitignore
  batch/.editorconfig
  batch/newjoy_notification/bot.py
  batch/newjoy_notification/domain/CircleNewJoy.py
  batch/newjoy_notification/domain/circleNewJoy.py
  batch/newjoy_notification/domain/todayCircleNewJoy.py
Labels: batch

#156 feat apiのみ取り出し
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesKey.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/GetCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/IndexCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchCategoryCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchNameCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchTagCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Main/IndexControllerTest.php
Labels: api

#157 Release API
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesKey.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesUsecase.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/GetCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/IndexCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchCategoryCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchNameCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Circle/SearchTagCircleControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/Main/IndexControllerTest.php
Labels: api

#155 Feat UU-yellをフッターに表示するようにした
  .gitignore
  docs/development.md
  main/components/layouts/BaseFooter.tsx
  main/infra/api/circle.ts
  main/infra/api/circleNewJoy.ts
  main/infra/api/main.ts
  main/package-lock.json
  main/package.json
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/newjoy.tsx
  main/pages/circle/search/[name].tsx
  main/pages/circle/tag/[tag].tsx
  main/pages/index.tsx
Labels: api

#160 Feat/wp post view api
  admin/components/organisms/form/Circle/EditCircleForm.tsx
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/model/Circle.ts
  admin/pages/circle/[id]/edit.tsx
  api/.idea/csv-plugin.xml
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleInformationProperty.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Models/CircleInformation.php
  api/app/Usecases/Admin/UpdateCircleUsecase.php
  api/app/Usecases/Main/WordPress/FetchWordPressPostsUsecase.php
  api/app/ValueObjects/CircleValueObject.php
  api/database/migrations/2021_04_14_155656_add_wp_url_and_is_view_wp_post_to_circle_information.php
  api/routes/admin.php
Labels: admin, api, api-db, api-model

#162 Feat WordPressの記事を拾えるよう機能追加
  main/infra/api/circle.ts
  main/pages/circle/[slug]/index.tsx
Labels: admin, circle

#164 Feat 統計APIの機能拡充
  api/app/Dto/StatisticsAdmissionFeePerYearHighRankingDto.php
  api/app/Dto/StatisticsAdmissionFeePerYearSmallRankingDto.php
  api/app/Dto/StatisticsDto.php
  api/app/Dto/StatisticsNumberOfActivitiesCountDto.php
  api/app/Dto/StatisticsNumberOfActivitiesRankingDto.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  api/app/ValueObjects/CircleValueObject.php
Labels: api

#168 Feat 統計のデザイン変更と週の活動頻度ランキング (高い順)のAPI実装
  api/app/Dto/StatisticsActivityFrequencyRankingDto.php
  api/app/Dto/StatisticsDto.php
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  api/composer.json
  main/components/organisms/Statistics/StatisticsButtonGroup.tsx
  main/components/organisms/Statistics/StatisticsCircleView.tsx
Labels: api, api-composer-json

#169 Feat 統計にview追加とWPのメディアを取得するように変更
  api/app/Usecases/Main/WordPress/FetchWordPressPostsUsecase.php
  main/components/organisms/Statistics/StatisticsCircleView.tsx
  main/infra/api/circle.ts
  main/lib/types/model/Statistics.ts
Labels: api

#171 Feature/gache/check identifier
  api/app/Http/Controllers/Main/Identification/CheckIdentificationController.php
  api/database/factories/IdentifierFactory.php
  api/database/seeders/DatabaseSeeder.php
  api/database/seeders/IdentifierTableSeeder.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/Identification/CheckIdentificationControllerTest.php
  docs/development.md
Labels: api, api-db, api-model

#175 feat uu-yellの記事を検索して取得するようにした
  api/.idea/php.xml
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesForCirclesKey.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesForCirclesUsecase.php
  api/app/Usecases/Main/UuYell/Params/FetchUuYellArticlesForCirclesUsecaseParam.php
Labels: api

#178 feat wordpress系の記事周り修正
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesForCirclesUsecase.php
  main/infra/api/circle.ts
  main/pages/circle/[slug]/index.tsx
  main/styles/index.css
Labels: api

#179 feat cacheの時間調整
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  api/app/Http/Controllers/Main/Circle/IndexCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchCategoryCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchNameCircleController.php
  api/app/Http/Controllers/Main/Circle/SearchTagCircleController.php
  api/app/Http/Controllers/Main/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/ShowCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesForCirclesKey.php
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesKey.php
  api/app/Usecases/Main/WordPress/FetchWordPressPostsUsecase.php
  main/pages/circle/[slug]/index.tsx
Labels: api

#180 fix uu-yellの記事をフロントで取るように修正
  api/app/Http/Controllers/Main/Circle/GetCircleController.php
  main/infra/api/circle.ts
  main/pages/circle/[slug]/index.tsx
  main/tsconfig.json
Labels: api

#182 Feat uu yell clone batchの追加
  api/.idea/api.iml
  api/.idea/csv-plugin.xml
  api/.idea/php.xml
  api/_ide_helper_models.php
  api/app/Console/Commands/CopyUuYellPostsCommand.php
  api/app/Console/Kernel.php
  api/app/Enum/Property/UuyellPostProperty.php
  api/app/Models/UuyellPost.php
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
  api/composer.json
  api/database/migrations/2021_04_22_172914_create_uuyell_posts_table.php
Labels: api, api-composer-json, api-db, api-model

#183 Feat/send twitter
  api/.env.example
  api/.idea/api.iml
  api/.idea/php.xml
  api/_ide_helper_models.php
  api/app/Console/Commands/SendUuyellToTwitterCommand.php
  api/app/Enum/Property/UuyellPostProperty.php
  api/app/Models/UuyellPost.php
  api/app/Repositories/Twitter/InitTwitterRepository.php
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
  api/app/Usecases/Batch/UuYell/SendUuyellPostToTwitterUsecase.php
  api/composer.json
  api/composer.lock
  api/config/twitter.php
  api/database/migrations/2021_04_23_182927_add_tweet_id_to_uuyell_posts.php
Labels: api, api-composer-json, api-db, api-model

#184 Fix/circle update
  .gitignore
  api/.idea/csv-plugin.xml
  api/app/Http/Controllers/Circle/Circle/UpdateCircleController.php
  api/app/Http/Requests/Circle/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/CircleManagement/Circle/Params/UpdateCircleUsecaseParam.php
  api/app/Usecases/CircleManagement/Circle/UpdateCircleUsecase.php
  main/pages/circle/[slug]/index.tsx
Labels: api

#185 feat uu-yellの最新の投稿の取得方法を差し替え
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesUsecase.php
Labels: api

#187 Develop/stg 戻し
  api/app/Console/Commands/CopyUuYellPostsCommand.php
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
Labels: api

#189 Fix/db define
  api/database/migrations/2021_04_25_104952_add_slug_unique_to_advertise.php
Labels: api, api-db

#190 Feat 広告のクリック数の毎日の集計のプログラムの追加
  api/app/Console/Commands/AggregateAdvertiseCounterPerDayCommand.php
  api/app/Console/Kernel.php
  api/app/Enum/Property/AdvertiseCounterHistoryProperty.php
  api/app/Models/AdvertiseCounterHistory.php
  api/app/Usecases/Batch/Advertise/AggregateAdvertiseCounterPerDayUsecase.php
  api/database/migrations/2021_04_25_152801_create_advertise_counter_histories_table.php
Labels: api, api-db, api-model

#194 fix uu-yellの取得方法の修正
  api/app/Usecases/Main/UuYell/FetchUuYellArticlesUsecase.php
  api/database/seeders/UuyellPostsTableSeeder.php
  main/components/organisms/Main/MainSponsorshipFooter.tsx
Labels: api

#195 feat twitterの文章カットの実装
  api/_ide_helper_models.php
  api/app/Console/Kernel.php
  api/app/Enum/Property/UuyellPostProperty.php
  api/app/Models/UuyellPost.php
  api/app/Support/Str.php
  api/app/Usecases/Batch/UuYell/CopyUuYellPostsUsecase.php
  api/app/Usecases/Batch/UuYell/SendUuyellPostToTwitterUsecase.php
  api/database/migrations/2021_04_27_214255_add_description_to_uuyell_posts.php
  api/database/seeders/UuyellPostsTableSeeder.php
Labels: api, api-db, api-model
