Repository uu-plathome/uu-circles, pull requests merged in 2021-07, with the labels that each got.

#282 Apply fixes from StyleCI
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
Labels: api

#281 Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyController.php
  api/app/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyRequest.php
  api/app/Usecases/Admin/Circle/Dto/UpdateCircleForSystemUsecaseDto.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/Dto/MultipleDemoCircleNewJoyDto.php
  api/app/Usecases/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyUsecase.php
  api/app/Usecases/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyUsecase.php
  api/app/Usecases/Main/DemoCircleNewJoy/GetDemoTodayCircleNewJoyUsecase.php
Labels: api

#286 Fix
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/pages/demo/newjoy/create.tsx
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  main/components/layouts/BaseHead.tsx
  main/pages/index.tsx
Labels: api, main

#287 Apply fixes from StyleCI
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Usecases/Admin/CircleNewJoy/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/UpdateCircleNewJoyUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyControllerTest.php
Labels: api

#288 Refactor 新歓の管理者画面の修正
  api/app/Http/Controllers/Admin/CircleNewJoy/DeleteCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/IndexCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyController.php
  api/app/Http/Controllers/Admin/CircleNewJoy/UpdateCircleNewJoyController.php
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Usecases/Admin/CircleNewJoy/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/DeleteCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CircleNewJoy/Params/CreateCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/CircleNewJoy/Params/UpdateCircleNewJoyUsecaseParam.php
  api/app/Usecases/Admin/CircleNewJoy/UpdateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/CreateCircleNewJoyUsecase.php
  api/app/Usecases/Admin/UpdateCircleNewJoyUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/RegisterCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/UpdateCircleNewJoyControllerTest.php
Labels: api

#289 Apply fixes from StyleCI
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyControllerTest.php
Labels: api

#290 Feature & test add is only demo and test追加
  api/app/Enum/Property/CircleProperty.php
  api/app/Models/Circle.php
  api/app/Usecases/Main/Circle/GetCircleListUsecase.php
  api/app/Usecases/Main/Circle/GetCircleWithDemoFixedUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/Usecases/Main/Circle/SearchCategoryCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
  api/database/migrations/2021_07_03_182112_add_is_demo_to_circles.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/IndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/CircleNewJoy/ShowCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/IndexDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/RegisterDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/ShowDemoCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Admin/DemoCircleNewJoy/UpdateDemoCircleNewJoyControllerTest.php
Labels: api, api-db, api-model

#291 add front
  admin/components/organisms/form/Circle/EditCircleForm.tsx
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/model/Circle.ts
  admin/pages/circle/[id]/edit.tsx
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Usecases/Admin/Circle/Param/UpdateCircleForSystemUsecaseParam.php
  api/app/Usecases/Admin/Circle/UpdateCircleForSystemUsecase.php
  api/app/ValueObjects/CircleValueObject.php
Labels: admin, api, circle

#292 Feature/demo main api と デザイン修正
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyController.php
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Main/DemoCircleNewJoy/IndexDemoCircleNewJoyUsecase.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoIndexCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyControllerTest.php
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoTodayCircleNewJoyControllerTest.php
  main/.node-version
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
  main/pages/circle/newjoy/demo.tsx
  main/pages/demo/index.tsx
Labels: api, main

#294 Feature/update package
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/composer.lock
  api/tests/Feature/App/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyControllerTest.php
  main/next-env.d.ts
  main/package-lock.json
  main/package.json
Labels: api, api-composer-json, main, main-package-json

#297 Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
Labels: api

#296 Feature/change text
  README.md
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/List/IndexCircleNewJoyListForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/components/pages/Newjoy/NewjoyTemplate.tsx
  main/infra/api/circleNewJoy.ts
  main/infra/api/linkConst.ts
  main/pages/circle/[slug]/newjoy/demo/[demoCircleNewJoyId].tsx
  main/pages/circle/[slug]/newjoy/demo/index.tsx
  main/pages/circle/newjoy/demo.tsx
Labels: api, main

#300 Apply fixes from StyleCI
  api/app/Http/Controllers/Main/CircleNewJoy/DemoShowCircleNewJoyController.php
  api/app/Usecases/Admin/CircleNewJoy/IndexCircleNewJoyUsecase.php
Labels: api

#301 feat uu-manager
  Makefile
  README.md
  admin/components/layouts/AuthHeader.tsx
  admin/components/layouts/BaseHeader.tsx
  admin/package.json
Labels: admin, admin-package-json

#303 Feature uu-circlesについての追加
  main/components/layouts/BaseFooter.tsx
  main/lib/enum/app/ImagePath.ts
  main/package-lock.json
  main/package.json
  main/pages/guide/management-team.tsx
  main/public/images/uu-circles2020/uucircle2020-main.png
  main/public/manifest.json
Labels: main, main-package-json

#305 add image
  main/lib/enum/app/ImagePath.ts
  main/pages/guide/management-team.tsx
  main/public/images/uu-circles/u-lab-uu-circles-services.png
Labels: main

#237 ガチャを実装しました。
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  main/infra/api/gacha.ts
  main/package-lock.json
  main/package.json
  main/pages/_app.tsx
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
  main/public/images/gacha-logo.png
  main/public/images/gacha800.png
  main/styles/index.css
Labels: api, main, main-package-json

#307 feature sns shareの追加
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

#309 Apply fixes from StyleCI
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleGachaPickupProperty.php
  api/app/Models/CircleGachaPickup.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
Labels: api, api-model

#308 Fix ガチャのピックアップ処理の修正
  api/_ide_helper_models.php
  api/app/Enum/Property/CircleGachaPickupProperty.php
  api/app/Http/Controllers/Main/Gacha/GachaPickupListController.php
  api/app/Models/CircleGachaPickup.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GachaPickupListKey.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  api/database/migrations/2021_07_13_112008_create_circle_gacha_pickups_table.php
  api/database/seeders/CirclesTableSeeder.php
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: api, api-db, api-model, main

#311 Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/routes/api.php
Labels: api

#312 Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
Labels: api

#313 Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
Labels: api

#310 feature gacha history apiの追加
  api/app/Enum/RouteProperty/ApiRouteProperty.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Gacha/GachaHistoryController.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/routes/api.php
Labels: api

#316 Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
Labels: api

#315 Feature/gacha history api
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  main/infra/api/gacha.ts
Labels: api, main

#317 Feature/gacha history
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaHistoryItemDto.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/infra/api/gacha.ts
  main/pages/gacha/history.tsx
Labels: api, main

#321 fix update
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/pages/gacha/history.tsx
  main/pages/gacha/result/[gachaHash].tsx
  main/pages/guide/to-new-students.tsx
Labels: api, main

#322 update
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

#323 update
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

#324 Feature/minor change
  api/app/Usecases/Main/Statistics/StatisticsUsecase.php
  main/components/layouts/BaseFooter.tsx
  main/components/layouts/BaseSpMenu.tsx
Labels: api, main

#325 Feature minor design change
  main/components/layouts/BaseSpMenu.tsx
  main/pages/gacha/history.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

#326 Feature ガチャムービーを動的に変更する修正
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/infra/api/gacha.ts
  main/lib/enum/app/GachaMovieId.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/history.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: api, main

#330 Apply fixes from StyleCI
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
Labels: api

#327 Feature/gacha movie switch
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  main/lib/enum/app/GachaMovieId.ts
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
Labels: api, main

#331 fix
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/10.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: main

#333 Updatge
  api/app/Http/Controllers/Main/Gacha/GachaResultController.php
  api/app/Usecases/Main/Gacha/DrawGachaUsecase.php
  api/app/Usecases/Main/Gacha/Dto/GachaSimpleCircleDto.php
  api/app/Usecases/Main/Gacha/GachaHistoryByIdentifierHashUsecase.php
  api/app/Usecases/Main/Gacha/GetGachaPickupListUsecase.php
  main/pages/gacha/draw/1.tsx
  main/pages/gacha/draw/5.tsx
  main/pages/gacha/index.tsx
  main/pages/gacha/result/[gachaHash].tsx
Labels: api, main

#335 fix
  main/pages/index.tsx
Labels: main

#336 Feature/enum type
  admin/components/molecules/list_items/CircleListItem.tsx
  admin/components/molecules/list_items/CircleUserRelationListItem.tsx
  admin/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
  admin/components/organisms/form/Circle/Parts/CommonInfoEditCircleForm.tsx
  admin/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/components/organisms/form/CircleNewJoy/EditCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/CreateDemoCircleNewJoyForm.tsx
  admin/components/organisms/form/DemoCircleNewJoy/EditDemoCircleNewJoyForm.tsx
  admin/components/pages/circle/Index.tsx
  admin/lang/ja.ts
  admin/lib/enum/api/AdvertiseType.ts
  admin/lib/enum/api/AnnouncementType.ts
  admin/lib/enum/api/CategorySlugProperty.ts
  admin/lib/enum/api/CircleTagModel.ts
  admin/lib/enum/api/CircleType.ts
  admin/lib/enum/api/DateOfActivity.ts
  admin/lib/enum/api/DemoCircleNewjoyType.ts
  admin/lib/enum/api/Importance.ts
  admin/lib/enum/api/PlaceOfActivity.ts
  admin/lib/enum/api/Role.ts
  admin/lib/enum/api/TagSlugProperty.ts
  admin/lib/enum/api/Week.ts
  api/app/Console/Commands/MakeEnumForTs.php
  circle/components/molecules/Badge/CircleTypeBadge.tsx
  circle/components/organisms/Form/Circle/Parts/ActivityEditCircleForm.tsx
  circle/components/organisms/Form/Circle/Parts/CommonInfoEditCircleForm.tsx
  circle/components/organisms/Form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  circle/components/organisms/Form/CircleNewJoy/EditCircleNewJoyForm.tsx
  circle/lang/ja.ts
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/Role.ts
  circle/lib/enum/api/TagSlugProperty.ts
  circle/lib/enum/api/Week.ts
  main/components/layouts/BaseFooter.tsx
  main/components/molecules/Badge/CircleTypeBadge.tsx
  main/components/organisms/Circles/CircleSidebar.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/components/organisms/Statistics/StatisticsOtherView.tsx
  main/lang/ja.ts
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/Role.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/lib/enum/api/Week.ts
Labels: admin, api, circle, main

#338 Feature 翻訳の修正
  admin/lib/enum/api/AdvertiseType.ts
  admin/lib/enum/api/AnnouncementType.ts
  admin/lib/enum/api/CategorySlugProperty.ts
  admin/lib/enum/api/CircleTagModel.ts
  admin/lib/enum/api/CircleType.ts
  admin/lib/enum/api/DateOfActivity.ts
  admin/lib/enum/api/DemoCircleNewjoyType.ts
  admin/lib/enum/api/Importance.ts
  admin/lib/enum/api/PlaceOfActivity.ts
  admin/lib/enum/api/Role.ts
  admin/lib/enum/api/TagSlugProperty.ts
  admin/lib/enum/api/Week.ts
  api/app/Console/Commands/stubs/enum.ts.stub
  circle/lib/enum/api/AdvertiseType.ts
  circle/lib/enum/api/AnnouncementType.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  circle/lib/enum/api/CircleTagModel.ts
  circle/lib/enum/api/CircleType.ts
  circle/lib/enum/api/DateOfActivity.ts
  circle/lib/enum/api/DemoCircleNewjoyType.ts
  circle/lib/enum/api/Importance.ts
  circle/lib/enum/api/PlaceOfActivity.ts
  circle/lib/enum/api/Role.ts
  circle/lib/enum/api/TagSlugProperty.ts
  circle/lib/enum/api/Week.ts
  main/components/layouts/BaseFooter.tsx
  main/components/organisms/Circles/CircleSidebar.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemPC.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemSP.tsx
  main/components/organisms/Newjoy/CircleNewJoyDetail.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/lang/ja.ts
  main/lib/enum/api/AdvertiseType.ts
  main/lib/enum/api/AnnouncementType.ts
  main/lib/enum/api/CategorySlugProperty.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/DemoCircleNewjoyType.ts
  main/lib/enum/api/Importance.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/Role.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/lib/enum/api/Week.ts
  main/lib/utils/category/Category.ts
  main/pages/circle/category/[category].tsx
  main/pages/circle/tag/[tag].tsx
Labels: admin, api, circle, main

#339 feature 今日の新歓はありませんでしたを出力しないようにする
  batch/newjoy_notification/bot.py
Labels: batch
