Repository uu-plathome/uu-circles, pull requests merged in 2021-03, with the labels that each got.

#80 Chore/add phpcs
  .github/workflows/api.yml
  README.md
  api/app/Enum/PlaceOfActivity.php
  api/app/Events/RegisteredAdminUser.php
  api/app/Events/RegisteredCircleUser.php
  api/app/Http/Controllers/Admin/Auth/ForgotPasswordAdminController.php
  api/app/Http/Controllers/Admin/Auth/ResetPasswordAdminController.php
  api/app/Http/Controllers/Admin/CircleUser/DeleteCircleUserRelationController.php
  api/app/Http/Controllers/Admin/CircleUser/IndexCircleUserByUserIdController.php
  api/app/Http/Controllers/Auth/ConfirmPasswordController.php
  api/app/Http/Controllers/Auth/ForgotPasswordController.php
  api/app/Http/Controllers/Circle/Auth/ForgotPasswordCircleController.php
  api/app/Http/Controllers/Circle/Auth/ResetPasswordCircleController.php
  api/app/Http/Controllers/Controller.php
  api/app/Http/Requests/Admin/AdminUser/IndexAdminUserRequest.php
  api/app/Http/Requests/Admin/AdminUser/UpdateAdminUserRequest.php
  api/app/Http/Requests/Admin/Auth/ResetPasswordAdminRequest.php
  api/app/Http/Requests/Admin/Auth/VerificationConfirmRequest.php
  api/app/Http/Requests/Admin/Circle/CreateCircleFormRequest.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/CircleUser/SendRegisterEmailCircleUserRequest.php
  api/app/Http/Requests/Admin/CircleUser/UpdateCircleUserRequest.php
  api/app/Http/Requests/Admin/CircleUser/VerificationEmailCircleUserRequest.php
  api/app/Http/Requests/Circle/Auth/ResetPasswordCircleRequest.php
  api/app/Http/Requests/Circle/Auth/VerificationEmailCircleUserRequest.php
  api/app/Listeners/SendEmailVerificationAdminUserNotification.php
  api/app/Listeners/SendEmailVerificationCircleUserNotification.php
  api/app/Models/User.php
  api/app/Notifications/ResetPasswordAdminUser.php
  api/app/Notifications/VerifyEmailAdminUser.php
  api/app/Notifications/VerifyEmailCircleUser.php
  api/app/Usecases/Admin/IndexCircleByUserIdUsecase.php
  api/app/Usecases/Admin/PaginateCircleUsecase.php
  api/app/Usecases/Admin/UpdateAdminUserUsecase.php
  api/app/Usecases/Admin/UpdateCircleUserUsecase.php
  api/composer.json
  api/composer.lock
  api/phpcs.xml
  api/tests/Feature/App/Http/Requests/Admin/AdminPutStorageRequestTest.php
  api/tests/Feature/App/Http/Requests/Admin/Advertise/CreateAdvertiseRequestTest.php
  api/tests/Feature/App/Http/Requests/Admin/Advertise/UpdateAdvertiseRequestTest.php
  api/tests/Feature/App/Http/Requests/Admin/Circle/CreateCircleFormRequestTest.php
  api/tests/Feature/App/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequestTest.php
  api/tests/Feature/App/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/tests/Feature/App/Http/Requests/Admin/CircleUser/VerificationEmailCircleUserRequestTest.php
  main/__tests__/lib/enum/api/CircleTagModel.spec.ts
  main/__tests__/lib/enum/api/CircleType.spec.ts
  main/__tests__/lib/enum/api/TagSlugProperty.spec.ts
  main/components/layouts/BaseSpMenu.tsx
  main/components/organisms/Main/MainSponsorshipFooter.tsx
  main/lang/ja.ts
  main/lib/enum/api/CircleTagModel.ts
  main/lib/enum/api/CircleType.ts
  main/lib/enum/api/DateOfActivity.ts
  main/lib/enum/api/PlaceOfActivity.ts
  main/lib/enum/api/Role.ts
  main/lib/enum/api/TagSlugProperty.ts
  main/lib/enum/api/Week.ts
  main/pages/guide/management-team.tsx
Labels: api, api-composer-json, api-model

#82 Feat ISR and カラムの長さを増やした
  .github/workflows/admin.yml
  .github/workflows/api.yml
  .github/workflows/lint.yml
  admin/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  admin/components/atoms/form/BaseTextarea.tsx
  admin/components/atoms/form/SearchTextField.tsx
  admin/components/organisms/form/Circle/EditCircleForm.tsx
  admin/components/organisms/form/Circle/Parts/ActivityEditCircleForm.tsx
  admin/components/organisms/form/Circle/Parts/CommonInfoEditCircleForm.tsx
  admin/components/organisms/form/CircleNewJoy/CreateCircleNewJoyForm.tsx
  admin/components/organisms/form/CircleNewJoy/EditCircleNewJoyForm.tsx
  admin/infra/api/circle.ts
  admin/lib/enum/api/CategorySlugProperty.ts
  admin/package-lock.json
  admin/pages/circle/index.tsx
  api/app/Console/Commands/MakeEnumForTs.php
  api/app/Http/Controllers/Admin/Circle/PaginateCircleController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/RegisterCircleNewJoyRequest.php
  api/app/Http/Requests/Admin/CircleNewJoy/UpdateCircleNewJoyRequest.php
  api/app/Usecases/Admin/PaginateCircleUsecase.php
  api/app/Usecases/Admin/Params/PaginateCircleUsecaseParams.php
  api/app/Usecases/Main/Circle/SearchNameCircleListUsecase.php
  api/composer.json
  api/composer.lock
  api/database/migrations/2021_03_04_195251_change_description_to_circle_information.php
  circle/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  circle/lib/enum/api/CategorySlugProperty.ts
  main/__tests__/lib/enum/api/CategorySlugProperty.spec.ts
  main/components/layouts/BaseHeader.tsx
  main/components/organisms/Circles/RecommendTagList.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/lib/enum/api/CategorySlugProperty.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/newjoy.tsx
  main/pages/circle/tag/[tag].tsx
  main/pages/index.tsx
Labels: admin, admin-packge-json, api, api-composer-json, api-db

#83 fix タグ検索の改善
  api/app/Usecases/Main/Circle/SearchTagCircleListUsecase.php
Labels: api

#84 Feat サークルを固定する機能
  admin/components/organisms/form/Circle/EditCircleForm.tsx
  admin/lib/types/api/RegisterCircleNewJoyRequest.ts
  admin/lib/types/api/UpdateCircleFormRequest.ts
  admin/lib/types/api/UpdateCircleNewJoyRequest.ts
  admin/lib/types/model/Circle.ts
  admin/package-lock.json
  admin/pages/circle/[id]/edit.tsx
  api/_ide_helper_models.php
  api/app/Enum/Property/AdminUserProperty.php
  api/app/Enum/Property/AdminUserPropety.php
  api/app/Enum/Property/AdvertiseProperty.php
  api/app/Enum/Property/CircleInformationProperty.php
  api/app/Enum/Property/CircleNewJoyProperty.php
  api/app/Enum/Property/CircleProperty.php
  api/app/Enum/Property/UserProperty.php
  api/app/Http/Controllers/Admin/Circle/UpdateCircleController.php
  api/app/Http/Controllers/Main/Main/IndexController.php
  api/app/Http/Requests/Admin/Circle/UpdateCircleFormRequest.php
  api/app/Models/Circle.php
  api/app/Usecases/Admin/UpdateCircleUsecase.php
  api/app/Usecases/Main/Circle/GetRandomCircleWithMainFixedUsecase.php
  api/app/ValueObjects/CircleValueObject.php
  api/database/migrations/2021_03_05_174306_add_is_main_fixed_to_circles.php
Labels: admin, api, api-db, api-model

#85 feat 画像とサイトタイトルと今日の新歓のタイトルを修正
  api/.env.example
  api/.env.testing
  api/.idea/php.xml
  api/app/Http/Controllers/Main/CircleNewJoy/TodayCircleNewJoyController.php
  api/app/Usecases/Main/CircleNewJoy/GetTodayCircleNewJoyUsecase.php
  main/components/layouts/BaseHead.tsx
  main/components/layouts/BaseHeader.tsx
  main/components/organisms/List/BaseCircleList.tsx
  main/components/organisms/List/CarouselCircleList.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/Main/MainCircleList.tsx
  main/components/organisms/Main/MainSponsorshipFooter.tsx
  main/components/organisms/Main/MainUucircleAd.tsx
  main/components/organisms/Main/MainUucircleTopCarousel.tsx
  main/components/organisms/ShowCircle/InformationField.tsx
  main/infra/api/circleNewJoy.ts
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/newjoy.tsx
  main/pages/guide/discord.tsx
  main/pages/index.tsx
Labels: api

#86 feat circle/newjoyのサークル名文字数超えた時の対応
  admin/package-lock.json
  main/components/organisms/ListItem/CircleNewJoyListItemForNoSlug.tsx
  main/components/organisms/ListItem/CircleNewJoyListItemPC.tsx
Labels: admin, admin-packge-json

#96 Feat sitemapの作成
  api/.idea/api.iml
  api/.idea/inspectionProfiles/Project_Default.xml
  api/.idea/php.xml
  api/app/Dto/SitemapDto.php
  api/app/Http/Controllers/Main/SitemapController.php
  api/app/Usecases/Main/Sitemap/SitemapUsecase.php
  api/routes/api.php
  api/tests/Feature/App/Http/Controllers/Main/SitemapControllerTest.php
  main/lib/enum/app/SitemapDto.ts
  main/pages/_document.tsx
  main/pages/sitemap.xml.tsx
Labels: api

#104 Hotfix
  admin/package-lock.json
  api/app/Providers/RouteServiceProvider.php
  main/components/organisms/Main/MainUucircleBottomButtons.tsx
  main/next.config.js
  main/package-lock.json
  main/pages/circle/[slug]/index.tsx
  main/pages/circle/[slug]/newjoy.tsx
  main/pages/circle/[slug]/newjoy/[circleNewJoyId].tsx
  main/pages/circle/category/[category].tsx
  main/pages/circle/index.tsx
  main/pages/circle/newjoy.tsx
  main/pages/circle/tag/[tag].tsx
  main/pages/index.tsx
Labels: admin, admin-packge-json, api

#121 Hinata
  batch/newjoy_notification/bot.py
  circle/infra/api/index.ts
Labels: batch, circle
