Repository uu-plathome/uu-circles, pull requests merged in 2022-02, with the labels that each got.

#459 Apply fixes from StyleCI
  api/app/Http/Controllers/Main/Advertise/GetMainAdvertisesController.php
  api/app/Http/Controllers/Main/Gacha/GachaDrawController.php
  api/app/Http/Controllers/Main/Sitemap/SitemapController.php
Labels: api

#461 chore リポジトリ移管に伴う作業
  .github/workflows/api.yml
  admin/package.json
  circle/package.json
  main/package.json
  main/src/pages/guide/management-team.tsx
Labels: admin, admin-package-json, circle, circle-package-json, main, main-package-json

#462 Fix/group
  .github/workflows/api.yml
  admin/package.json
  api/storage/memo/2021_03_common_date_count.sql
  api/storage/memo/2021_04_11_circleInformation_null.md
  api/storage/memo/2021_08_appealing_point_is_null_circles.sql
  circle/package.json
  main/package.json
  main/public/images/uuph/logo.png
  main/public/images/uuph/logo.svg
  main/public/images/uuph/uuph_thumbnail.png
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
  main/src/lib/enum/app/ImagePath.ts
  main/src/pages/guide/management-team.tsx
  main/src/pages/privacy.tsx
  main/src/pages/terms.tsx
Labels: admin, api, admin-package-json, circle, circle-package-json, main, main-package-json

#463 Develop/production
  api/storage/memo/2021_03_common_date_count.sql
  api/storage/memo/2021_04_11_circleInformation_null.md
  api/storage/memo/2021_08_appealing_point_is_null_circles.sql
  main/public/images/uuph/logo.png
  main/public/images/uuph/logo.svg
  main/public/images/uuph/uuph_thumbnail.png
  main/src/components/layouts/BaseFooter.tsx
  main/src/components/pages/Main/Parts/MainUucircleAd.tsx
  main/src/lib/enum/app/ImagePath.ts
  main/src/pages/privacy.tsx
  main/src/pages/terms.tsx
Labels: api, main
